/*公共头部*/

.w-header {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #54cbf8 0%, #0d64fa 100%);
}

.w-header .search-box {
    position: relative;
    height: .84rem;
}

.w-header .search-box .back {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    width: .8rem;
    height: 100%;
    background: url('../image/icon-dh-fanhui-w.png') no-repeat right center;
    background-size: .48rem;
    opacity: 1;
}

.w-header .search-box.curr .back {
    opacity: 0;
}

.w-header .search-box .search-inp {
    position: absolute;
    left: .8rem;
    top: 0;
    z-index: 10;
    width: 6.4rem;
    height: 100%;
    padding: 4px 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.w-header .search-box .customer-search{
    left:.3rem;
    width: 6.9rem;
}
.w-header .search-box.curr .search-inp {
    left: .3rem;
    width: 6rem;
}

.w-header .search-box .search-inp>form {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.w-header .search-box .search-inp>form input {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: .74rem;
    padding-right: .52rem;
}

.w-header .search-box .search-inp>form .search {
    position: absolute;
    left: .36rem;
    width: .32rem;
    height: 100%;
    background: url('../image/shousuo.png') no-repeat center;
    background-size: .32rem;
    display: none;
}

.w-header .search-box .search-inp>form .close {
    position: absolute;
    right: 0;
    width: .52rem;
    top: 0;
    height: 100%;
    background: url('../image/icon-qingkong-b.png') no-repeat center;
    background-size: .32rem;
    display: none;
}

.w-header .search-box.curr .search-inp>form .close, .w-header .search-box.curr .search-inp>form .search {
    display: block;
}

.w-header .search-box .search-inp .search-pop {
    position: absolute;
    left: 0;
    top: 4px;
    bottom: 4px;
    width: 100%;
    text-align: center;
}

.w-header .search-box.curr .search-inp .search-pop {
    display: none;
}

.w-header .search-box .search-inp .search-pop>i {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../image/shousuo.png') no-repeat center;
    background-size: contain;
    margin-right: .1rem;
    vertical-align: middle;
}

.w-header .search-box .search-inp .search-pop>span {
    display: inline-block;
    color: #ccc;
    font-size: .28rem;
    vertical-align: middle;
    line-height: 1em;
    padding-top: 2px;
}

.w-header .search-box .search-inp .search-pop:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.w-header .search-box .cancel-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 8;
    padding: 0 .3rem;
    color: #fff;
    font-size: .3rem;
    line-height: .84rem;
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.w-header .search-box.curr .cancel-box {
    opacity: 1;
}

.w-header .filter-box {
    width: 100%;
    height: .84rem;
    line-height: .84rem;
    text-align: center;
    color: #fff;
    font-size: .28rem;
}

.w-header .filter-box .kh>i,.w-header .filter-box .lx>i {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: url('../image/icon-jiantou-sx2.png') no-repeat center;
    background-size: .2rem;
    vertical-align: middle;
}

.w-header .filter-box .kh.curr,.w-header .filter-box .lx.curr{
    font-weight: bold;
}
.w-header .filter-box .kh.curr>i,.w-header .filter-box .lx.curr>i {
    background-image: url('../image/icon-jiantou-sx1.png');
}

.w-header .filter-box .fil>i {
    position: relative;
    top: -1px;
    display: inline-block;
    width: .24rem;
    height: .24rem;
    background: url('../image/icon-jiantou-sx3.png') no-repeat center;
    background-size: .24rem;
    vertical-align: middle;
}

.w-header .filter-box .fil.curr>i {
    background-image: url('../image/icon-jiantou-sx4.png');
}

.filter-lists {
    padding-top: .3rem;
}

.filter-lists .filter-lis {
    position: relative;
    width: 6.9rem;
    height: 1.54rem;
    background-color: #fff;
    padding: .3rem;
    margin: 0 auto .3rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    /*overflow: hidden;*/
}

.filter-lists .filter-lis>.left {
    width: 4.98rem;
    height: 100%;
}

.filter-lists .filter-lis>.right {
    width: 1.2rem;
    height: 100%;
    position: relative;
}

.filter-lists .filter-lis .filter-t {
    margin-bottom: .3rem;
}

.filter-lists .filter-lis .filter-t .name {
    max-width: 58%;
    padding-right: .2rem;
    line-height: 1.2em;
    font-size: .36rem;
    color: #333;
}

.filter-lists .filter-lis .filter-t .state {
    margin-top: -1px;
    max-width: 34%;
    padding: .08rem .08rem .04rem;
    color: #fff;
    font-size: .26rem;
    line-height: 1.1em;
    vertical-align: middle;
}

.filter-lists .filter-lis .filter-t .n-state {
    background-color: #f3a134;
}

.filter-lists .filter-lis .filter-t .r-state {
    background-color: #00bf6d;
}

.filter-lists .filter-lis .filter-b {
    color: #999;
    line-height: 1em;
    font-size: .24rem;
}

.filter-lists .filter-lis .filter-call {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    height: .64rem;
    margin-top: -.32rem;
    background-image: linear-gradient(90deg,
		rgba(84, 203, 248, 0.95) 0%,
		rgba(13, 100, 250, 0.95) 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color:#fff;
    font-size: .28rem;
    text-align: center;
    line-height: .64rem;
}

.filter-lists .filter-lis .filter-lis-pop{
    position: absolute;
    left: -.3rem;
    right: -.3rem;
    top: -.3rem;
    height: 2.14rem;
    background-color: rgba(0,0,0,0.4);
    padding:0 1.35rem;
    text-align: center;
}
.filter-lists .filter-lis .filter-lis-pop.hide{
    display: none;
}
.filter-lists .filter-lis .filter-lis-pop1{
    height: 3.44rem;
}
.filter-lists .filter-lis .filter-lis-pop .filter-lis-p{
    position: relative;
}
.filter-lists .filter-lis .filter-lis-pop .small-state{
    position: absolute;
    left: 50%;
    top: 50%;
    width:1.2rem;
    height: 1.2rem;
    margin-left: -.6rem;
    margin-top: -.6rem;
    background-color: #fff;
    border-radius:100%;
    color:#666;
    font-size: .24rem;
}
.filter-lists .filter-lis .filter-lis-pop .small-state .small-img{
    width: .4rem;
    height: .4rem;
    margin:.22rem auto .16rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: .4rem;
}
.filter-lists .filter-lis .filter-lis-pop .phone-state .small-img{
    background-image: url('../image/icon-dianhua40.png');
}
.filter-lists .filter-lis .filter-lis-pop .note-state .small-img{
    background-image: url('../image/icon-duanxin40.png');
}
.filter-lists .filter-lis .filter-lis-pop .note-state .small-img-hui{
    background-image: url('../image/icon-duanxin40-hui.png');
}
.filter-lists .filter-lis .filter-lis-pop .small-state > p{
    line-height: 1em;
}
.not-more-filter{
    position: relative;
    width: 3.6rem;
    height: .4rem;
    margin:.6rem auto .3rem;
    text-align: center;
    color:#ccc;
    line-height: .4rem;
    color:.26rem;
    display: none;
}
.not-more-filter:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: .8rem;
    height: 1px;
    background-color: #dddddd;
}

.not-more-filter:after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: .8rem;
    height: 1px;
    background-color: #dddddd;
}
/*客户列表*/
.filter-lists .cfil-lis{
    height: 2.84rem;
    padding:0 .34rem;
}
.filter-lists .cfil-lis .cfil-t{
    position: relative;
    height: 1rem;
    line-height: 1rem;
}
.filter-lists .cfil-lis .cfil-t:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    -webkit-transform:scaleY(0.5);
    -moz-transform:scaleY(0.5);
    -ms-transform:scaleY(0.5);
    -o-transform:scaleY(0.5);
    transform:scaleY(0.5);
}
.filter-lists .cfil-lis .cfil-t .cname{
    max-width: 4.78rem;
    color:#333;
    font-size: .36rem;
}
.filter-lists .cfil-lis .cfil-t .cphone{
    width: 1.2rem;
    height: .64rem;
    line-height: .66rem;
    background-image: linear-gradient(90deg,
     rgba(84, 203, 248, 0.95) 0%,
     rgba(13, 100, 250, 0.95) 100%);
    text-align: center;
    line-height: .68rem;
    color:#fff;
    font-size: .28rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-top: .18rem;
    overflow:hidden;
}
.filter-lists .cfil-lis .cfil-b{
    color:#666;
    font-size: .28rem;
}
.filter-lists .cfil-lis .cfil-b .lis{
    position: relative;
    padding-left: .36rem;
}
.filter-lists .cfil-lis .cfil-b .lis > span{
    color:#333;
}
.filter-lists .cfil-lis .cfil-b .cfil-bt{
    margin-top: .28rem;
    line-height: 1em;
    margin-bottom: .26rem;
}
.filter-lists .cfil-lis .cfil-b .cfil-bt > i{
    position: absolute;
    left: 0;
    top:50%;
    width: .24rem;
    height: .24rem;
    margin-top: -.16rem;
    background: url('../image/icon-leixing.png') no-repeat center;
    background-size: .24rem;
}
.filter-lists .cfil-lis .cfil-b .time > i{
    position: absolute;
    left: .06rem;
    top:50%;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    border-radius:100%;
}
.filter-lists .cfil-lis .cfil-b .cfil-gj{
    margin-bottom: .12rem;
}
.filter-lists .cfil-lis .cfil-b .cfil-gj > i{
    background-color: #00bf6d;
}
.filter-lists .cfil-lis .cfil-b .cfil-jh > i{
    background-color: #f5a623;
}
/*筛选弹窗*/
.filter-popup{
    position: fixed;
    left: 0;
    top:0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
}
.filter-popup .filter-popbg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}
.filter-popup .filter-popbox{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    max-height: 5.4rem;
    padding:0 .3rem;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
}
.filter-popup .filter-popbox > ul{

}
.filter-popup .filter-popbox li{
    position: relative;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color:#333;
    font-size: .3rem;
}
.filter-popup .filter-popbox li > i{
    position: absolute;
    right: 0;
    top:0;
    z-index: 1;
    width: .9rem;
    height: .9rem;
    background: url('../image/icon-gou.png') no-repeat right center;
    background-size: .4rem;
    display: none;
}
.filter-popup .filter-popbox li.curr{
    color:#1b6efb;
}
.filter-popup .filter-popbox li.curr > i{
    display: block;
}
.filter-popup .filter-popbox li:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 1px;
    -webkit-transform:scaleY(.5);
    -moz-transform:scaleY(.5);
    -ms-transform:scaleY(.5);
    -o-transform:scaleY(.5);
    transform:scaleY(.5);
    background-color: #ededed;
}
.filter-popup .filter-popbox li:last-child:after{
    display: none;
}
/*空页面*/
.w-empty{
    width: 100%;
    padding-top:1.8rem;
    text-align: center;
}
.w-empty .w-empty-img{
    width: 1.8rem;
    margin:0 auto;
}
.w-empty .w-empty-img > img{
    display: block;
    width: 100%;
}
.w-empty .w-empey-txt{
    color:#999999;
    font-size: .28rem;
    line-height: 1em;
    margin-top: .24rem;
    margin-bottom: .3rem;
}
/*图片统一样式*/
.w-toast-icon{
    position: relative;
    top: -1px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 5px;
    background-position: center;
    background-size: cotain;
    background-repeat: no-repeat;
}
.w-success-icon{
    background-image: url();
}
.w-wran-icon{
    background-image: url();
}
/*vue  transition动画*/
.fade-enter-active{
    -webkit-transition:all .1s ease;
    -moz-transition:all .1s ease;
    -ms-transition:all .1s ease;
    -o-transition:all .1s ease;
    transition:all .1s ease;

}
.fade-leave-active{
    -webkit-transition:all .1s ease;
    -moz-transition:all .1s ease;
    -ms-transition:all .1s ease;
    -o-transition:all .1s ease;
    transition:all .1s ease;
}
.fade-enter,.fade-leave-to{
    opacity: 0;
}
.fade-leave{
    display: none;
}
.fade1-enter-active{
    -webkit-transition:all .1s ease;
    -moz-transition:all .1s ease;
    -ms-transition:all .1s ease;
    -o-transition:all .1s ease;
    transition:all .1s ease;
    transition-delay: .15s;
}
.fade1-leave-active{
    -webkit-transition:all .1s ease;
    -moz-transition:all .1s ease;
    -ms-transition:all .1s ease;
    -o-transition:all .1s ease;
    transition:all .1s ease;
}
.fade1-leave{
    display: none;
}
.fade1-enter,.fade1-leave-to{
    opacity: 0;
}
/*公共头部*/
.uni-header{
    position: relative;
    width: 100%;
    height: .84rem;
    box-sizing: content-box;
}
.uni-header .uni-fixed-header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: .84rem;
    background-color: #fff;
    box-sizing: content-box;
}
.uni-header .u-header-box{
    position: relative;
    height: .84rem;
    line-height: .84rem;
}
.uni-header .u-header-box:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    transform: scaleY(.5);
}
.uni-header .u-header-box .u-back{
    position: absolute;
    left: 0;
    top: 0;
    width: .84rem;
    height: 100%;
    background: url('../image/icon-dh-fanhui.png') no-repeat center;
    background-size: .48rem;
}

.uni-header .u-header-box .u-center{
    text-align: center;
    color:#333;
    font-size: .36rem;
}
.uni-header .u-header-box .u-right{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding:0 .3rem;
    color:#4c9ff8;
    font-size: .32rem;
    /*font-weight: bold;*/
}
/*跟进记录弹窗*/
.w-follow-popup{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.w-follow-popup .w-follow-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    padding-top: .28rem;
}
.w-follow-popup .w-follow-popup-box{
    position: absolute;
    left: .6rem;
    right: .6rem;
    top: 50%;
    transform:translateY(-50%);
    background-color: #fff;
    padding:.3rem;
    border-radius: .3rem;
}
.w-follow-popup .w-follow-t{
    height: .64rem;
    line-height: .64rem;
    color:#2e2e2e;
    font-size: .36rem;
    font-weight: bold;
    text-align: center;
}
.w-follow-popup .w-follow-inp{
    position: relative;
    height: .94rem;
    padding-top: .3rem;
    line-height: .64rem;
    font-size: .28rem;
}

.w-follow-popup .w-follow-inp .w-follow-inp-cap{
    color:#888;
}
.w-follow-popup .w-follow-inp .client-state-icon{
    position: absolute;
    right: .1rem;
    bottom: .26rem;
    width: 0;
    height: 0;
    border-top: .12rem solid #d2d2d2;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
}
.w-follow-popup .w-follow-inp .w-follow-inp-lis{
    position: absolute;
    right: -.1rem;
    top: .8rem;
    z-index: 20;
    margin-top: .13rem;
    box-sizing: content-box;
    background-color: #fff;
    border:1px solid #bfbfbf;
    /*display: none;*/
}
.w-follow-popup .w-follow-inp .w-follow-inp-lis ul{
    /*max-height: 3.6rem;*/
    /*overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;*/
}
.w-follow-popup .w-follow-inp .w-follow-inp-lis:before{
    content: '';
    position: absolute;
    right: .18rem;
    top: -.14rem;
    width: .23rem;
    height: .15rem;
    background: url('../image/jianjiaotop.png') no-repeat center;
    background-size: .23rem .15rem;
}
.w-follow-popup .w-follow-inp .w-follow-inp-lis li{
    padding:0 .3rem;
    height: .72rem;
    line-height: .72rem;
    color:#222;
    font-size: .24rem;
}
.w-follow-popup .w-follow-inp > input{
    padding:.16rem 0;
    line-height: .32rem;
}
.w-follow-popup .w-follow-textarea{
    padding-top: .3rem;
    font-size: .28rem;
}
.w-follow-popup .w-follow-textarea .w-follow-inp-cap{
    color:#888;
}
.w-follow-popup .w-follow-textarea > textarea{
    padding: .1rem 0;
    line-height: .32rem;
    height: 1.16rem;
    /*border:1px solid #dcdcdc;*/
    margin-top: -.1rem;
    border-radius: 3px;
}
.w-follow-popup .w-follow-btn{
    margin-top: .48rem;
    color:#fff;
    font-size: .3rem;
    text-align: center;
}
.w-follow-popup .w-follow-btn > .one{
    width:49%;
    height: .72rem;
    line-height: .76rem;
    border-radius: 4px;
    background-image: -moz-linear-gradient( 0deg, rgb(85,203,249) 0%, rgb(23,114,254) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(85,203,249) 0%, rgb(23,114,254) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(85,203,249) 0%, rgb(23,114,254) 100%);
}
.w-follow-popup .w-follow-btn > .two{
    width:48%;
    height: .72rem;
    line-height: .76rem;
    border-radius: 4px;
    background-image: linear-gradient(90deg, #ffca00 0%,  #fe9606 100%);
}
.w-follow-popup .w-follow-btn > .one.gray-bg,
.w-follow-popup .w-follow-btn > .two.gray-bg{
    background:#ccc;

}
