<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>root-index</title>
    <script src="./script/lib/rem.js"></script>
    <script src="./script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="./css/lib/dialog.css" />
    <link rel="stylesheet" type="text/css" href="./css/lib/swiper.css" />
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        .wrap,
        .swiper-container {
            height: 100%;
            position: relative;
        }

        .swiper-container {
            display: none;
        }

        .swiper-slide {
            position: relative;
        }

        .wrap>span.skip {
            position: absolute;
            right: 15px;
            top: 36px;
            z-index: 9;
            height: 24px;
            line-height: 26px;
            overflow: hidden;
            color: #fff;
            font-size: 14px;
            padding: 0 12px;
            background-color: rgba(0, 0, 0, .4);
            -webkit-border-radius: 24px;
            -moz-border-radius: 24px;
            -ms-border-radius: 24px;
            -o-border-radius: 24px;
            border-radius: 24px;
            text-align: center;
        }

        .wrap span.skip-now {
            position: absolute;
            left: 50%;
            bottom: 60px;
            z-index: 9;
            width: 160px;
            margin-left: -80px;
            line-height: 1em;
            color: #fff;
            font-size:16px;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            text-align: center;
            background-image: linear-gradient(90deg, #0d64fa 0%, #54cbf8 100%);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
        }

        .swiper-slide>div {
            height: 100%;
        }
        .swiper-pagination-bullet{
            width:6px;
            height: 6px;
            background-color: #e8e8e8;
            opacity: 1;
        }
        .swiper-pagination-bullet-active{
            width: 12px;
            height: 6px;
            opacity: 1;
            background-color: #108de9;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            -ms-border-radius:3px;
            -o-border-radius:3px;
            border-radius:3px;
        }
    </style>
</head>

<body>
    <div class="wrap" id="wrapper">
        <div class="swiper-container" id="qd-swiper" v-if="sList && sList.length > 0">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="(img,i) in sList" :key="i">
                    <div class="w-fill-img"><img :src="img" mode="aspectFill" alt=""></div>
                    <span class="skip-now" v-if="i === sList.length - 1" onclick="goToLogin()">立即体验</span>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <span class="skip" v-if="currSlide < sList.length - 1" onclick="goToLogin()">跳过</span>
    </div>
</body>
<script type="text/javascript" src="./script/lib/api.js"></script>
<script type="text/javascript" src="./script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="./script/lib/fastclick.js"></script>
<script type="text/javascript" src="./script/lib/dialog.js"></script>
<script type="text/javascript" src="./script/lib/md5.js"></script>
<script type="text/javascript" src="./script/lib/swiper.min.js"></script>
<script type="text/javascript" src="./script/lib/vue.min.js"></script>
<script type="text/javascript" src="./script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="./script/lib/api_ajax.js"></script>
<script type="text/javascript" src="./script/common.js"></script>
<script type="text/javascript">
    var ws = null;
    apiready = function() {
        var userInfo = wPref.getPrefs({
            key:'userInfo'
        });
        userInfo = userInfo ? JSON.parse(userInfo) : {};
        if(userInfo.employeeid){
            fnCreateWsConcat(userInfo.employeeid);
        }
        if(api.systemType !== 'ios'){
            // 动态权限
            var resultList = api.hasPermission({
                list:['microphone','photos','notification','phone','storage']
            });
            // console.log(JSON.stringify(resultList));
            var notOpenPowerList = resultList.filter(function(v){
                if(!v.granted) return v;
            });
            if(notOpenPowerList && notOpenPowerList.length > 0){
                var reqPowerList = notOpenPowerList.map(function(v){
                    return v.name
                })
                // console.log(JSON.stringify(reqPowerList))
                api.requestPermission({
                    list:reqPowerList,
                    code:1
                }, function(ret, err){
                    // console.log(JSON.stringify(ret));
                });
            }
        }
        // 监听登录成功
        api.addEventListener({
            name: 'loginSuc'
        }, function(ret, err){
            if(ret.value.origin === 'index'){
                // 打开main
                wHrefJs.openWin({
                    name: 'main',
                    path: './html/main.html',
                    reload:true
                });
                // wHrefJs.openWin({
                //     name:'person',
                //     path:'./html/person/index.html'
                // })
            }
            // 获取用户信息
            var userInfo = wPref.getPrefs({
                key:'userInfo'
            });
            userInfo = userInfo ? JSON.parse(userInfo) : {};
            console.log(JSON.stringify(userInfo))
            fnCreateWsConcat(userInfo.employeeid);
        });
        // 监听退出登录
        api.addEventListener({
            name: 'loginOutSuc'
        }, function(ret, err){
            fnCloseWsConcat();
        });

        // 创建socket连接
        function fnCreateWsConcat(empid){
            // console.log('innnnnnnnnnnnnnnn create websocket')
            if ('WebSocket' in window){
                var wsUrl = api.getGlobalData({
                    key:'WSURL'
                })
                if(wsUrl){
                    ws = new WebSocket(wsUrl + empid);
                    fnEventWsMessage();
                }else{
                    api.ajax({
                        url: 'http://112.74.31.201:8888/urlpath/callurl.txt',
                        method: 'get'
                    },function(ret, err){
                        var urlAddr = err.body;
                        wsUrl = urlAddr.split(',')[1].replace(/[\n|\s]/g,'').split('=')[1] || 'wss://call.jindinghaiju.com:9100/websocket/';
                        console.log(wsUrl)
                        api.setGlobalData({
                            key:"WSURL",
                            value:wsUrl
                        });
                        ws = new WebSocket(wsUrl + empid);
                        fnEventWsMessage();
                    });
                }
            } else{
                console.warn("当前手机不支持WebSocket");
            }
        }
        // 监听socket发送的内容
        function fnEventWsMessage(){
            ws.onmessage=function (event) {
                // console.log("innnnnnnnnnnnnnnn WebSocket获取消息");
                console.log('------------------------------'+event.data);
                var data= JSON.parse(event.data);
                if(data.code == 3001){
                    // console.log('打电话已经结束')
                    api.execScript({
                        name: 'followRecord',
                        script: 'callPhoneFinish();'
                    });

                }
            }
        }
        // 退出后台监听登录
        api.addEventListener({
            name: 'pause'
        }, function(ret, err){
            if(ws){
                fnEventWsMessage();
            }else{
                var userInfo = wPref.getPrefs({
                    key:'userInfo'
                });
                userInfo = userInfo ? JSON.parse(userInfo) : {};
                if(userInfo.employeeid){
                    fnCreateWsConcat(userInfo.employeeid);
                }
            }
        });
        // 退出前台监听登录
        api.addEventListener({
            name: 'resume'
        }, function(ret, err){
            if(ws){
                fnEventWsMessage();
            }else{
                var userInfo = wPref.getPrefs({
                    key:'userInfo'
                });
                userInfo = userInfo ? JSON.parse(userInfo) : {};
                if(userInfo.employeeid){
                    fnCreateWsConcat(userInfo.employeeid);
                }
            }
        });

        // 关闭socket连接
        function fnCloseWsConcat(){
            if(ws) ws.close();
        }
        // 讯飞语音识别
        var voiceRecognizer = api.require('voiceRecognizer');
        voiceRecognizer.createUtility({
            android_appid:'5cd92221',
            ios_appid:'5cd9220a'
        }, function(ret, err) {
            if(ret.status){
                console.log('讯飞语音识别初始化成功')
            }
        });
        // 推送
        var ajpush = api.require('ajpush');
        if(ajpush){
            // 点击通知
            var systemType = api.systemType;
            // android
            if(systemType === 'android'){
                api.addEventListener({
                    name: 'appintent'
                }, function(ret, err) {
                    // alert(JSON.stringify(ret))
                    if (ret && ret.appParam.ajpush) {
                        var extra = ret.appParam.ajpush.extra;
                        // ajpush.clearNotification( {id:-1},function() {});
                        // alert(JSON.stringify(extra))
                        var id = extra.cusId,
                            phone = extra.phone,
                            type = extra.msgType,
                            msgId = extra.msgId,
                            serverType = extra.msgServerType,
                            originTitle = extra.msgServerType == 'SendMsgByPhone' ? '客户咨询' : '资源分配',
                            fetchUrl = extra.msgServerType == 'SendMsgByPhone' ? 'perCenter/pushMsgCusCon' : 'perCenter/pushMsg';
                        // 跳转到详情
                        if(type == 'msgAppNoticeList'){
                            api.sendEvent({
                                name: 'ajpushMessageList',
                                extra: {
                                    cusId: id,
                                    cusPhone:phone,
                                    msgId:msgId,
                                    serverType:serverType,
                                    originTitle:originTitle,
                                    fetchUrl:fetchUrl
                                }
                            });

                            setTimeout(function(){
                                wHrefJs.openWin({
                                    name: 'messageList',
                                    path: './html/person/message_list.html',
                                    param: {
                                        cusId: id,
                                        cusPhone:phone,
                                        msgId:msgId,
                                        serverType:serverType,
                                        originTitle:originTitle,
                                        fetchUrl:fetchUrl
                                    }
                                })
                            },60)
                        }
                    }
                })
            }
            else{
                ajpush.setBadge({
                    badge:0
                });
                api.addEventListener({
                    name: 'noticeclicked'
                }, function(ret, err) {
                    ajpush.setBadge({
                        badge:0
                    });
                    // alert(JSON.stringify(ret))
                    if (ret && ret.value) {
                        var extra = ret.value.extra;
                        var id = extra.cusId,
                            phone = extra.phone,
                            type = extra.msgType,
                            msgId = extra.msgId,
                            serverType = extra.msgServerType,
                            originTitle = extra.msgServerType == 'SendMsgByPhone' ? '客户咨询' : '资源分配',
                            fetchUrl = extra.msgServerType == 'SendMsgByPhone' ? 'perCenter/pushMsgCusCon' : 'perCenter/pushMsg';
                        // 跳转到详情
                        if(type == 'msgAppNoticeList'){
                            api.sendEvent({
                                name: 'ajpushMessageList',
                                extra: {
                                    cusId: id,
                                    cusPhone:phone,
                                    msgId:msgId,
                                    serverType:serverType,
                                    originTitle:originTitle,
                                    fetchUrl:fetchUrl
                                }
                            });
                            wHrefJs.openWin({
                                name: 'messageList',
                                path: './html/person/message_list.html',
                                param: {
                                    cusId: id,
                                    cusPhone:phone,
                                    msgId:msgId,
                                    serverType:serverType,
                                    originTitle:originTitle,
                                    fetchUrl:fetchUrl
                                }
                            })
                        }
                    }
                })
            }
        }
        // 全局token
        // myLocalStorage.clearItem('token')
        // wPref.removePrefs({key:'userInfo'})
        // wPref.removePrefs({key:'isLogin'})
        // TOKEN_DATA = myLocalStorage.getItem('token')
        // console.log('token======================'+TOKEN_DATA)
        // 设置沉浸式效果
        // console.log('version========'+api.systemVersion)
        if(api.systemVersion.split('.')[0] < 5){
            wDialog.alert({
                msg:'当前系统版本过低，请升级至5.0版本级以上使用。'
            })
        }
        api.setStatusBarStyle({
            style: 'dark'
        });
        if (checkLogin()) {
            // 打开main
            wHrefJs.openWin({
                name: 'main',
                path: './html/main.html'
            });
        } else {
            $('#qd-swiper').show();
            new Vue({
                el: '#wrapper',
                data: {
                    sList: [],
                    currSlide:0,
                },
                mounted: function() {
                    this.getSList();
                },
                methods: {
                    getSList: function() {
                        var _this = this;
                        this.sList = ['./image/y_1.png','./image/y_2.png','./image/y_3.png'];
                        _this.$nextTick(function() {
                            new Swiper('#qd-swiper', {
                                pagination: {
                                    el: '.swiper-pagination'
                                },
                                on:{
                                    slideChangeTransitionStart:function(){
                                        _this.currSlide = this.activeIndex;
                                    }
                                }
                            });
                        });
                        // wApiAjax({
                        //     url: 'appset/imglist',
                        //     method: 'post',
                        //     success: function(res) {
                        //         console.log(JSON.stringify(res))
                        //         if (res.code == 1) {
                        //             _this.sList = res.data || [];
                        //             _this.$nextTick(function() {
                        //                 new Swiper('#qd-swiper', {
                        //                     pagination: {
                        //                         el: '.swiper-pagination'
                        //                     },
                        //                 });
                        //             });
                        //             if(_this.sList.length == 0){
                        //                 goToLogin();
                        //             }
                        //         } else {
                        //             wDialog.toast({
                        //                 msg: res.msg
                        //             })
                        //         }
                        //     }
                        // })
                    }
                }
            })
        }

    };
    // 跳转到main
    function goToLogin() {
        wHrefJs.openWin({
            name: 'login',
            path: './html/login/login.html',
            param:{origin:'index'}
        });
    }
</script>

</html>
