.change_person_box{
    width:100%;
    /*overflow:hidden;*/
    height:80vh;
    overflow-x:hidden;
    overflow-y: scroll;
    -webkit-overflow-scolling:touch;
}
.change_person_list{
    width:100%;
    overflow:hidden;
    background: #fff;


}
.change_person_city{
    width:100%;
    height:0.96rem;
    line-height: 0.96rem;
    display: flex;
    align-items: center;
    padding-left: .3rem;
}
.change_person_city .imgCity img{
  width:0.16rem;
  height:0.16rem;
}
.change_person_city .text{
    font-family: "PingFangSC-Medium";
	color: "#333333";
    padding-left: .15rem;
    font-size: .32rem;
    width:calc(100% - .2rem);
}
.sale_box{
    padding-left: .3rem;
}
.sale_list{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:1.2rem;
    line-height: 1.2rem;
    padding-right: .3rem;
}
.text_lef,.name_lef{
    width:100%;
    display: flex;
    line-height: 1.2rem;
    align-items: center;
}
.text_lef img,.name_lef img{
 width:.48rem;
 height:.48rem;
}
.text_lef .groups,.name_lef .name{
    padding-left: .16rem;
    font-family: "PingFangSC-Regular";
	font-size: .3rem;
	color: #333333;
    word-break:break-all;
    width:calc(100% - 1.1rem);
}
.text_lef .groups{
    width:calc(100% - 1.1rem);
}

.sale_list .img_rig{
    position: absolute;
    right:.3rem;
    top: .44rem;
    width:.32rem;
    height: .32rem;
}
.img_rig img{
    width:.32rem;
    height:.32rem;
}
.name_person{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:1.2rem;
    line-height: 1.2rem;
    padding-right: .3rem;
}
.name_person .img_rig1{
    position: absolute;
    right: .2rem;
    top:.4rem;
    width:auto;
    height: .4rem;
}
.img_rig1 img{
    width:.4rem;
    height:.4rem;
}
.immediate_box{
    position: absolute;
    bottom: 0;
    width:100%;
    padding:0 .3rem;
    height:1.28rem;
    -webkit-box-shadow: 0px 0px .1rem #e9e9e9;
   box-shadow: 0px 0px .1rem #e9e9e9;

}
.allocation{
    margin-top:.2rem;
    width:6.9rem;
    height:.88rem;
    line-height: .88rem;
    background-image: linear-gradient(90deg,
		rgba(13, 100, 250, 0.95 ) 0%,
		rgba(84, 203, 248, 0.95) 100%);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    text-align: center;
    font-size: .34rem;
    font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: white;
    opacity: .6;
    z-index: 99;
}
.popup_curr{
    position: absolute;
    bottom:0;
    z-index: 1000;
    width:100%;
    height:1.85rem;
    background: white;
    box-shadow: 0 -1px 20px 0 rgba(0,0,0,.08);
}
.curr_text{
    margin-top:.2rem;
    padding:0rem .3rem;
    font-size:.26rem;
    line-height: 0.3rem;
}
.curr_text_name{
    padding:0.2rem .3rem;
    font-size:.26rem;
    line-height: .36rem;
}
.curr_text_name .check-txt > b{
    color:#ff9402;
    font-weight: normal;
}
.choose,.city{
    color: #333;
    line-height: .3rem;
}
.name{
    color: #ff9402;
    line-height: .3rem;
}
.check-txt > b{
    font-weight: normal;
    color: #ff9402;
}
.immediate_box1{
    /*margin-top:.2rem;*/
    margin-left: .3rem;
    width:6.9rem;
    height:.88rem;
    line-height: .88rem;
    background-image: linear-gradient(90deg,
		rgba(13, 100, 250, 0.95 ) 0%,
		rgba(84, 203, 248, 0.95) 100%);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    text-align: center;
    font-size: .34rem;
    font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: white;
}



/*弹出框*/
.popup_curr1{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1002;
}
.mengcheng{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 998;
}
.curr_choose_box{
    width:100%;
    position: fixed;
    bottom:0;
    background: white;
    height:9.32rem;
    z-index: 9999;
}
.popup_box_list{
    border-bottom:1px solid #ccc;
}
i{
    font-style: normal;
    color: #ccc;
    /*padding:0 0.1rem;*/
}
.all_box{
    width:100%;
    display: flex;
    height:7rem;
    overflow: auto;
    background-color: #fff;
}
.content_lef{
    width:50%;
    max-height: 7rem;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    background-color: #fafafa;
}
.lists_group{
    padding:0 .3rem;
    background-color: #fafafa;
}
.lists_group.curr{
    background-color: #fff;
}
.lists_group>div{
    width:100%;
    height:1rem;
    line-height: 1rem;
    font-size:0.3rem;
    color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.flex_cont_img{
    display: flex;
    align-items: center;
    height:1rem;
    line-height: 1rem;
    padding: 0 .3rem;
}
.flex_cont_img .name{
    width:calc(100% - .44rem);
    color: #333333;
    font-size: .3rem;
    padding-left: 0.2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.content_rig{
    width:50%;
    padding:0 .3rem;
    max-height: 7rem;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}
.content_rig .cont_flex{
    display: flex;
    align-items: center;
    height:1.02rem;
    line-height: 1.02rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.content_rig .cont_flex .name_title{
    width:calc(100% - .44rem);
    color: #333;
    font-size: .3rem;
    padding-left: 0.2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.immediate_box_pop{
    position: absolute;
    bottom:0;
    margin-bottom:.2rem;
    margin-left: .3rem;
    width:6.9rem;
    height:.88rem;
    line-height: .88rem;
    background-image: linear-gradient(90deg,
		rgba(13, 100, 250, 0.95 ) 0%,
		rgba(84, 203, 248, 0.95) 100%);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    text-align: center;
    font-size: .34rem;
    font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: white;
}
.lists_group .active_curr{
    color: #0c7ff9;
}


.uncheck{
  width:.4rem;
  height:.4rem;
  display: block;
  background: url('../../image/icon-danxuankuang.png') no-repeat center center;
  background-size: contain;
  border: 0px;


}
.img_rig1 .check{
    width:.4rem;
    height:.4rem;
	background: url(../../image/icon-danxuankuangp.png) no-repeat center center;
	background-size: contain;;
	border: 0px;
}
