.fixed-header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: auto;
    background-color: #fff;
}
.header{
    position: relative;
    /*overflow: hidden;*/
    min-height: .84rem;
}
.header .offline-box{
    position: absolute;
    left: 0;
    bottom: -.76rem;
    width: 100%;
    height: .76rem;
    background-color: #fff4e1;
    overflow: hidden;
    line-height: .78rem;
    padding: 0 .3rem;
    font-size: .26rem;
    color: #fa9450;
    display: none;
}
.header .offline-box .left i{
    position: relative;
    top: -1px;
    display: inline-block;
    width: .32rem;
    height: .32rem;
    background: url('../../image/icon-wifi.png') no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: .1rem;
}
.header .offline-box .right{
    width: .28rem;
    height: 100%;
    background: url('../../image/right.png') no-repeat center;
    background-size: .28rem;
}
.header .i-title{
    margin-top: .12rem;
}
.i-title{
    font-size: .4rem;
    line-height: .56rem;
    padding:0 .3rem;
    color:#333;
    font-weight: bold;
}
.kh-box{
    margin-top: .2rem;
    height: 3.8rem;
    padding:0 .3rem;
    margin-bottom: .58rem;
}
.kh-box .kh-binner{
    width: 100%;
    height: 3.8rem;
    background: url('../../image/img-sy-bg.png') no-repeat center;
    background-size: cover;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    overflow: hidden;
    -webkit-box-shadow:0px 3px 20px 0 #cce3fa;
    -moz-box-shadow:0px 3px 20px 0 #cce3fa;
    -ms-box-shadow:0px 3px 20px 0 #cce3fa;
    -o-box-shadow:0px 3px 20px 0 #cce3fa;
    box-shadow:0px 3px 20px 0 #cce3fa;
}
.kh-box .kh-binner .kh-add{
    width: 1.44rem;
    height: .48rem;
    line-height: .52rem;
    background-color: #fff;
    -webkit-border-top-right-radius:.48rem;
    -moz-border-top-right-radius:.48rem;
    -ms-border-top-right-radius:.48rem;
    -o-border-top-right-radius:.48rem;
    border-top-right-radius:.48rem;
    -webkit-border-bottom-right-radius:.48rem;
    -moz-border-bottom-right-radius:.48rem;
    -ms-border-bottom-right-radius:.48rem;
    -o-border-bottom-right-radius:.48rem;
    border-bottom-right-radius:.48rem;
    margin-top:.3rem;
    padding-left: .2rem;
    font-size: .24rem;
    color: #1486f7;
    overflow: hidden;
}
.kh-box .kh-nav{
    position: relative;
    height: 3rem;
}
.kh-box .kh-nav .kh-hline{
    position: absolute;
    left: 0;
    bottom: 1.5rem;
    width: 100%;
    height: 1px;
    -webkit-transform:scaleY(.5);
    -moz-transform:scaleY(.5);
    -ms-transform:scaleY(.5);
    -o-transform:scaleY(.5);
    transform:scaleY(.5);
    background-color: rgba(255,255,255,.1);
}
.kh-box .kh-nav .kh-vline{
    position: absolute;
    left: 50%;
    top: .3rem;
    bottom: 0;
    width: 1px;
    -webkit-transform:scaleX(.5);
    -moz-transform:scaleX(.5);
    -ms-transform:scaleX(.5);
    -o-transform:scaleX(.5);
    transform:scaleX(.5);
    background-color: rgba(255,255,255,.1);
}
.kh-box .kh-nav li{
    width: 50%;
    height: 1.5rem;
    padding-top: .3rem;
    color:#fff;
    text-align: center;
}
.kh-box .kh-nav li p.kh-t{
    font-size: .26rem;
    line-height: 1em;
    font-family: PingFangSC-Medium;
}
.kh-box .kh-nav li p.kh-c{
    font-size: .52rem;
    margin-top: .2rem;
    line-height: 1em;
    font-weight: bold;
    font-family: PingFangSC-Semibold;
}
/*msg*/
.msg-title{
    margin-bottom: .38rem;
}
.msg-box{
    padding:0 .3rem;
    height: 3.34rem;
    margin-bottom: .54rem;
}
.msg-binner{
    width:100%;
    height: 100%;
    -webkit-box-shadow:0px 3px 20px 0 #f7f7f7;
    -moz-box-shadow:0px 3px 20px 0 #f7f7f7;
    -ms-box-shadow:0px 3px 20px 0 #f7f7f7;
    -o-box-shadow:0px 3px 20px 0 #f7f7f7;
    box-shadow:0px 3px 20px 0 #f7f7f7;
}
.msg-box .msg-lis{
    width: 25%;
    min-width: 25%;
    text-align: center;
}
.msg-box .msg-icon-box{
    padding-top: .48rem;
    height: .96rem;
    margin-bottom: .18rem;
}
.msg-box .msg-icon-box .msg-icon{
    position: relative;
    width: .48rem;
    height: .48rem;
    margin:0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.msg-box .msg-icon-box .msg-icon-1{
    background-image: url('../../image/icon-xx-1.png');
}
.msg-box .msg-icon-box .msg-icon-2{
    background-image: url('../../image/icon-xx-2.png');
}
.msg-box .msg-icon-box .msg-icon-3{
    background-image: url('../../image/icon-xx-3.png');
}
.msg-box .msg-icon-box .msg-icon-4{
    background-image: url('../../image/icon-xx-4.png');
}
.msg-box .msg-icon-box .msg-icon-5{
    background-image: url('../../image/icon-xx-5.png');
}
.msg-box .msg-icon-box .msg-icon-6{
    background-image: url('../../image/icon-xx-6.png');
}
.msg-box .msg-icon-box .msg-icon-7{
    background-image: url('../../image/icon-xx-7.png');
}
.msg-box .msg-icon-box .msg-icon-8{
    background-image: url('../../image/icon-xx-8.png');
}
.msg-box .msg-icon-box .read-msg{
    position: absolute;
    left: .28rem;
    bottom: .28rem;
    background-color: #fff;
    height: 20px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    border:2px solid #fff;
}
.msg-box .msg-icon-box .read-msg span{
    display: block;
    padding-left:.1rem;
    padding-right: .14rem;
    height: 100%;
    background-color: #ff3d00;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -ms-border-radius:16px;
    -o-border-radius:16px;
    border-radius:16px;
    -webkit-border-bottom-left-radius:0;
    -moz-border-bottom-left-radius:0;
    -ms-border-bottom-left-radius:0;
    -o-border-bottom-left-radius:0;
    border-bottom-left-radius:0;
    color:#fff;
    font-size: .22rem;
}
.msg-box .msg-icon-box .msg-txt{
    font-size: .28rem;
    line-height: 1em;
    color:#333;
	font-family: 'PingFangSC-Medium';
}
/*今日统计*/
.tj-title{
    margin-bottom: .34rem;
}
.tj-box{
    padding: 0 .3rem;
}
.tj-box .tj-lis{
    position: relative;
    padding:.32rem .2rem;
    width: 3.35rem;
    height: 1.44rem;
    margin-bottom: .2rem;
    -webkit-box-shadow:0px 2px 10px 0 #f7f7f7;
    -moz-box-shadow:0px 2px 10px 0 #f7f7f7;
    -ms-box-shadow:0px 2px 10px 0 #f7f7f7;
    -o-box-shadow:0px 2px 10px 0 #f7f7f7;
    box-shadow:0px 2px 10px 0 #f7f7f7;
}
.tj-box .tj-lis .tj-icon{
    position: absolute;
    left: .2rem;
    top: .3rem;
    width: .8rem;
    height: .8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: .8rem;
}
.tj-box .tj-lis .tj-icon-1{
    background-image: url('../../image/icon-tj-1.png');
}
.tj-box .tj-lis .tj-icon-2{
    background-image: url('../../image/icon-tj-2.png');
}
.tj-box .tj-lis .tj-icon-3{
    background-image: url('../../image/icon-tj-3.png');
}
.tj-box .tj-lis .tj-icon-4{
    background-image: url('../../image/icon-tj-4.png');
}
.tj-box .tj-lis .tj-txt{
    padding-left:1rem;
}
.tj-box .tj-lis .tj-txt .p-t{
    font-size: .36rem;
    line-height: 1em;
    color:#333;
    font-family: PingFangSC-Medium;
    margin-bottom: .1rem;
}
.tj-box .tj-lis .tj-txt .p-d{
    font-size: .26rem;
    line-height: 1em;
    color:#999;
    font-family: PingFangSC-Medium;
}
/*今日统计*/
.stat-header{
    position: relative;
    width: 100%;
    height: 1.66rem;
    box-sizing: content-box;
}
.stat-fixed-header{
    position: fixed;;
    left: 0;
    top: 0;
    width: 100%;
    height: 1.66rem;
    z-index: 9999;
    box-sizing: content-box;
	background-image: linear-gradient(90deg,
		rgba(84, 203, 248, 0.95) 0%,
		rgba(13, 100, 250, 0.95) 100%);
}
.stat-fixed-header .stat-header-t{
    position: relative;
    width: 100%;
    height: .84rem;
    color:#fff;
    text-align: center;
    line-height: .84rem;
}
.stat-fixed-header .stat-header-t .back{
    position: absolute;
    left: 0;
    top: 0;
    width: .8rem;
    height: .84rem;
    background: url('../../image/icon-dh-fanhui-w.png') no-repeat center;
    background-size: .48rem;
}
.stat-fixed-header .stat-header-t .center{
    font-size: .36rem;
}
.stat-fixed-header .stat-header-nav{
    position: relative;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color:#fff;
    font-size: .28rem;
}
.stat-fixed-header .stat-header-nav > .nav > i{
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: url('../../image/icon-jiantou-sx2.png') no-repeat center;
    background-size: .2rem;
    vertical-align: middle;
}
.stat-fixed-header .stat-header-nav > .nav.curr > i{
    background-image: url('../../image/icon-jiantou-sx1.png');
}
.stat-fixed-header .stat-header-nav .stat-nav-box{
    position: absolute;
    left: 0;
    top: .8rem;
    width: 100%;
    max-height: 4.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    padding:0 .3rem;
    background-color: #fff;
    display: none;
}
.stat-fixed-header .stat-header-nav .stat-nav-box li{
    position: relative;
    height: .8rem;
    line-height: .8rem;
    color:#333;
    font-size: .3rem;
    text-align: center;
}
.stat-fixed-header .stat-header-nav .stat-nav-box li:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
    -webkit-transform:scaleY(.5);
    -moz-transform:scaleY(.5);
    -ms-transform:scaleY(.5);
    -o-transform:scaleY(.5);
    transform:scaleY(.5);
}
.stat-fixed-header .stat-header-nav .stat-nav-box li > i{
    position: absolute;
    right: -.3rem;
    top: 0;
    width: .8rem;
    height: 100%;
    background: url('../../image/icon-gou.png') no-repeat .1rem center;
    background-size: .4rem;
    display: none;
}
.stat-fixed-header .stat-header-nav .stat-nav-box li.curr{
    color:#1b6efb;
}
.stat-fixed-header .stat-header-nav .stat-nav-box li.curr > i{
    display: block;
}
.stat-fixed-header .stat-header-nav .stat-nav-box li:last-child:after{
    display: none;
}
.stat-nav-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,.3);
    display: none;
}
.stat-contain{
    padding:.3rem .3rem 0;
}
.stat-contain.fixed{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.stat-contain li{
    height: 1.2rem;
    line-height: 1.2rem;
    width: 100%;
    background-color: #fff;
    padding:0 .3rem;
    margin-bottom: .3rem;
}

.stat-contain li > .name{
    color:#333;
    font-size: .36rem;
    height: 1.2rem;
    max-width: 4.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.stat-contain li > .time{
    color:#999;
    font-size: .3rem;
}
