<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户-主页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }
    </style>
</head>

<body>
    <div id="wrap" v-cloak>
        <!-- 客户来源列表 -->
        <div class="filter-popup" id="filter-origin-popup">
            <div class="filter-popbg" onclick="hideFilterPopup()"></div>
            <div class="filter-popbox">
                <ul>
                    <li :class="{'curr':currOriginIndex === ''}" @click="originSwitchTab($event,'全部',0)">
                        <span>全部</span>
                        <i></i>
                    </li>
                    <li v-for="(khorigin,index) in khOriginList" :key="index" :class="{'curr':currOriginIndex === index}" @click="originSwitchTab($event,khorigin.name,khorigin.value)">
                        <span v-text="khorigin.name"></span>
                        <i></i>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 客户类型列表 -->
        <div class="filter-popup" id="filter-class-popup">
            <div class="filter-popbg" onclick="hideFilterPopup()"></div>
            <div class="filter-popbox">
                <ul>
                    <li :class="{'curr':currClassIndex === ''}" @click="classSwitchTab($event,'全部',0)">
                        <span>全部</span>
                        <i></i>
                    </li>
                    <li v-for="(khclass,index) in khClassList" :key="index" :class="{'curr':currClassIndex === index}" @click="classSwitchTab($event,khclass.name,khclass.value)">
                        <span v-text="khclass.name"></span>
                        <i></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-lists" v-if="khDataList && khDataList.length > 0">
            <div class="filter-lis cfil-lis" v-for="khdata in khDataList" :key="khdata.id" @click.stop="skipCustomerDetail(khdata.id,khdata.phone)">
                <div class="cfil-t flex-wrap flex-between">
                    <div class="cname w-elli" v-text="khdata.name"></div>
                    <div class="cphone" @click.stop="openFollowChoosePopup($event)">去跟进</div>
                </div>
                <div class="cfil-b">
                    <div class="cfil-bt lis"><i></i>客户类型: <span v-text="khdata.status"></span></div>
                    <div class="cfil-gj time lis"><i></i>跟进时间: <span v-text="khdata.followtime.split(' ')[0]"></span></div>
                    <div class="cfil-jh time lis"><i></i>计划跟进: <span v-text="khdata.nextfollow"></span></div>
                </div>
                <div class="filter-lis-pop filter-lis-pop1 flex-wrap follow-record-pop hide" @click.stop="hideFollowChoosePopup($event)">
                    <div class="flex-con filter-lis-p">
                        <div class="small-state phone-state" @click.stop.prevent="callPhone($event,khdata.id,khdata.phone)">
                            <div class="small-img"></div>
                            <p>电话</p>
                        </div>
                    </div>
                    <div class="flex-con filter-lis-p">
                        <div class="small-state note-state" @click.stop.prevent="skipNoteTempate($event,khdata.id,khdata.phone)">
                            <div class="small-img"></div>
                            <p>短信</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 无更多数据 -->
            <div class="not-more-filter" id="not-more">没有更多数据</div>
        </div>
        <!-- 空页面 -->
        <empty-con :is-show="khDataList.length === 0" txt="暂无客户信息"></empty-con>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var nCustomerFrame = null;
    apiready = function() {
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: true,
            loadAnimInterval:120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png'
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            //下拉刷新被触发，自动进入加载状态，使用 api.refreshHeaderLoadDone() 手动结束加载中状态
            //下拉刷新被触发，使用 api.refreshHeaderLoadDone() 结束加载中状态
            $('#not-more').hide();
            nCustomerFrame.pageNo = 1;
            nCustomerFrame.fetchListData(false,api.refreshHeaderLoadDone);
        });
        // 上拉加载更多
        api.addEventListener({
            name: 'scrolltobottom',
            extra:{
                threshold:0
            }
        }, function(ret, err){
            if(++nCustomerFrame.pageNo <= nCustomerFrame.totalPage){
                nCustomerFrame.fetchListData(true);
            }else{
                $('#not-more').show();
            }
        });

        
        // vue实例
        nCustomerFrame = new Vue({
            el: '#wrap',
            data: {
                khClassList:[],
                khOriginList:[],
                currOriginIndex:'',
                currClassIndex:'',
                search_cusName:'', // 搜索客户名
                search_source:'',  // 客户来源
                search_status:'',  // 客户类型
                order_followtime:0,     // 跟进时间
                order_nextfollow:0,     // 计划跟进时间
                pageNo:1,
                totalPage:1,
                khDataList:[],  // 客户信息list
                userInfo:''
            },
            created:function(){
                this.userInfo = wPref.getPrefs({
                    key:'userInfo'
                });
                this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
            },
            mounted: function() {
                this.fetchKhClass();
                this.fetchKhOrigin();
                this.fetchListData();
            },
            methods: {
                // 获取客户类型
                fetchKhClass:function(){
                    var _this = this;
                    wApiAjax({
                        url:'customer/sourceAndType',
                        headers:{
                            "token":TOKEN_DATA
                        },
                        success:function(res){
                            // console.log(JSON.stringify(res))
                            if(res.code == 1){
                                _this.khClassList = res.data.customerSatauslist;
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                },
                // 获取客户来源
                fetchKhOrigin:function(){
                    var _this = this;
                    wApiAjax({
                        url:'customer/allSource',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            // console.log(JSON.stringify(res))
                            if(res.code == 1){
                                _this.khOriginList = res.data.allsrorcelist
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                },
                // 获取页面数据
                fetchListData:function(isLoadMore,callback){
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    wDialog.showProgress();
                    wApiAjax({
                        url:'customer/datalist',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            employeeid:_this.userInfo.employeeid,
                            search_cusName:_this.search_cusName,
                            search_source:_this.search_source,
                            search_status:_this.search_status,
                            order_followtime:_this.order_followtime,
                            order_nextfollow:_this.order_nextfollow,
                            pageNo:_this.pageNo,
                            pageSize:10,
                        },
                        success:function(res){
                            console.log(JSON.stringify(res))
                            wDialog.hideProgress();
                            if(res.code == 1){
                                if(!isLoadMore){
                                    _this.khDataList = res.data ? res.data : [];
                                    _this.totalPage = Math.ceil(res.count / res.pageSize);
                                }
                                else{
                                    if(res.data){
                                        _this.khDataList = _this.khDataList.concat(res.data);
                                    }
                                }
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail:function(){
                            callback && typeof callback === 'function' && callback();
                        }
                    });
                },
                // 切换客户来源筛选
                originSwitchTab:function(e,name,id){
                    var tag = e.currentTarget;
                    hideOriginFilterPopup();
                    api.setFrameAttr({
                        bounces: true,
                    });
                    if($(tag).hasClass('curr')){
                        return;
                    }
                    else{
                        $(tag).addClass('curr').siblings().removeClass('curr');
                    }
                    // 获取客户来源名字
                    api.sendEvent({
                        name: 'getKhOriginName',
                        extra: {
                            name: name
                        }
                    });
                    $('#not-more').hide();
                    this.search_source = id;
                    this.pageNo = 1;
                    this.fetchListData();
                },
                // 切换客户类型筛选
                classSwitchTab:function(e,name,id){
                    var tag = e.currentTarget;
                    hideClassFilterPopup();
                    api.setFrameAttr({
                        bounces: true,
                    });
                    if($(tag).hasClass('curr')){
                        return;
                    }
                    else{
                        $(tag).addClass('curr').siblings().removeClass('curr');
                    }
                    // 获取客户类型名字
                    api.sendEvent({
                        name: 'getKhClassName',
                        extra: {
                            name: name
                        }
                    });

                    $('#not-more').hide();
                    this.search_status = id;
                    this.pageNo = 1;
                    this.fetchListData();
                },
                // 跳转客户详情
                skipCustomerDetail: function(id,phone) {
                    wHrefJs.openWin({
                        name: 'customerDetail',
                        path: './customer_detail.html',
                        param: {
                            cusId: id,
                            cusPhone:phone
                        }
                    })
                },
                // 打开跟进弹窗
                openFollowChoosePopup:function(e){
                    var tag = e.currentTarget;
                    $('.follow-record-pop').addClass('hide');
                    $(tag).parent().siblings('.follow-record-pop').removeClass('hide');
                },
                // 关闭跟进弹窗
                hideFollowChoosePopup:function(e){
                    var tag = e.currentTarget;
                    $(tag).addClass('hide');
                },
                // 跳转到短信模板页面
                skipNoteTempate:function(e,id,phone){
                    wHrefJs.openWin({
                        name:"noteTemplate",
                        path:"../note/note_template.html",
                        param:{
                            cusId:id,
                            cusPhone:phone
                        }
                    })
                },
                // 拨打电话
                callPhone: function(e,cusId,phone) {
                    e.preventDefault();
                    e.stopPropagation();
                    var _this = this;
                    var tag = e.currentTarget;
                    $(tag).addClass('w-event-none');
                    wApiAjax({
                        url:'ema/makeCall',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            account:_this.userInfo.account,
                            customerNumber:phone,
                            cusid:cusId,
                            empid:_this.userInfo.employeeid,
                            is_work:1
                        },
                        success:function(res){
                            console.log(JSON.stringify(res))
                            if(res.code == 200){
                                wDialog.toast({
                                    msg: '拨打电话中，请注意接听'
                                });
                            }else{
                                wDialog.toast({
                                    msg:res.msg
                                });
                            }
                            setTimeout(function(){
                                $(tag).removeClass('w-event-none');
                            },2000);
                        },
                        fail:function(){
                            setTimeout(function(){
                                $(tag).removeClass('w-event-none');
                            },2000);
                        }
                    })
                }
            }
        })
    }

    // 显示客户来源的弹窗
    function showOriginFilterPopup(){
        $('#filter-class-popup').hide();
        $('#filter-origin-popup').show();
    }
    // 显示客户类型的弹窗
    function showClassFilterPopup(){
        $('#filter-origin-popup').hide();
        $('#filter-class-popup').show();
    }
    // 隐藏客户来源的弹窗
    function hideOriginFilterPopup(){
        $('#filter-origin-popup').hide();
    }
    // 隐藏客户来源的弹窗
    function hideClassFilterPopup(){
        $('#filter-class-popup').hide();
    }
    // 隐藏弹窗框
    function hideFilterPopup(){
        hideOriginFilterPopup();
        hideClassFilterPopup();
        api.setFrameAttr({
            bounces: true
        });
    }
    // 跟进时间&计划跟进时间 条件筛选
    function filterCondition(data){
        var d = JSON.parse(data);
        $('#not-more').hide();
        nCustomerFrame.order_followtime = d.status1;
        nCustomerFrame.order_nextfollow = d.status2;
        nCustomerFrame.pageNo = 1;
        nCustomerFrame.fetchListData();
    }
    // 获取搜索的内容
    function getSearchValue(val){
        nCustomerFrame.search_cusName = val;
        nCustomerFrame.pageNo = 1;
        nCustomerFrame.fetchListData();
    }
    // 清空搜索的内容
    function clearSearchValue(){
        nCustomerFrame.search_cusName = '';
    }
</script>

</html>
