<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户-主页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }
        #wrap{
            position: relative;
        }
    </style>
</head>

<body>
    <div id="wrap" v-cloak>
        <div class="filter-lists" v-if="khDataList && khDataList.length > 0">
            <div class="filter-lis" v-for="khdata in khDataList" :key="khdata.id" @click.stop="skipCustomerDetail(khdata.id,khdata.phone)">
                <div class="filter-lt flex-wrap flex-between">
                    <div class="flex-wrap filter-lcap"><span class="cname w-elli" v-text="khdata.name"></span></div>
                    <div class="cphone" @click.stop="handleSkipFollow(khdata.id,khdata.phone)">去跟进</div>
                </div>
                <div class="filter-lb">
                    <div class="lis flb-cls1">客户类型: <span v-text="khdata.status||'无'"></span></div>
                    <div class="lis flb-cls2" v-if="jobTitle==='gngly'">最后跟进时间: <span v-text="khdata.followtime||'暂未跟进'"></span></div>
                    <div class="flex-wrap filter-lb1">
                        <div class="lis flex-con flb-cls2">号码归属地: <span v-text="khdata.attribution||'未知'"></span></div>
                        <div class="lis flex-con flb-cls2">客户编号: <span v-text="khdata.id||'暂无'"></span></div>
                        <div class="lis flex-con flb-cls2" v-if="jobTitle!=='gngly'">跟进时间: <span v-text="khdata.followtime||'暂未跟进'"></span></div>
                        <div class="lis flex-con flb-cls2" v-if="jobTitle!=='gngly'">计划时间: <span v-text="khdata.nextfollow||'暂无计划'"></span></div>
                    </div>
                </div>
            </div>
            <!-- 无更多数据 -->
            <div class="not-more-filter" id="not-more">没有更多数据</div>
        </div>
        <!-- 空页面 -->
        <empty-con :is-show="khDataList.length === 0" txt="暂无客户信息"></empty-con>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var nCustomerFrame = null;
    apiready = function() {
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: true,
            loadAnimInterval:120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png'
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            //下拉刷新被触发，自动进入加载状态，使用 api.refreshHeaderLoadDone() 手动结束加载中状态
            //下拉刷新被触发，使用 api.refreshHeaderLoadDone() 结束加载中状态
            $('#not-more').hide();
            nCustomerFrame.pageNo = 1;
            nCustomerFrame.fetchListData(false,api.refreshHeaderLoadDone);
        });
        // 上拉加载更多
        api.addEventListener({
            name: 'scrolltobottom',
            extra:{
                threshold:0
            }
        }, function(ret, err){
            if(nCustomerFrame.isHavaMoreData){
                ++nCustomerFrame.pageNo
                nCustomerFrame.fetchListData(true);
            }else{
                $('#not-more').show();
            }
        });


        // 跟进成功
        api.addEventListener({
            name: 'followRecordSuccessRefresh'
        }, function(ret, err){
            nCustomerFrame.pageNo = 1;
            nCustomerFrame.fetchListData();
        });
        // 筛选客户状态
        api.addEventListener({
            name: 'filterCustomerList'
        }, function(ret, err){
            var obj = ret.value;
            console.log(JSON.stringify(obj))
            if(obj){
                if(typeof obj.status != 'undefined'){
                    nCustomerFrame.search_status = obj.status;
                }
                if(typeof obj.origin != 'undefined'){
                    nCustomerFrame.search_source = obj.originTwo ? obj.originTwo : obj.origin;
                }
                if(typeof obj.sort != 'undefined'){
                    nCustomerFrame.sort = obj.sort;
                }
                if(typeof obj.home != 'undefined'){
                    nCustomerFrame.attributionid = obj.home;
                }
                nCustomerFrame.pageNo = 1;
                nCustomerFrame.fetchListData();
            }
        });

        // vue实例
        nCustomerFrame = new Vue({
            el: '#wrap',
            data: {
                search_cusName:'', // 搜索客户名
                search_source:'',  // 客户来源
                search_status:'',  // 客户状态
                sort:0,
                attributionid:'',
                pageNo:1,
                totalPage:1,
                khDataList:[],  // 客户信息list
                userInfo:'',
                jobTitle:'',
                isHavaMoreData:true
            },
            mounted: function() {
                this.init();
                this.fetchListData();
            },
            methods: {
                init:function(){
                    this.userInfo = wPref.getPrefs({
                        key:'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                    this.jobTitle = this.userInfo.relativePosi;
                },
                // 获取页面数据
                fetchListData:function(isLoadMore,callback){
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    console.log(JSON.stringify({
                        employeeid:_this.userInfo.employeeid,
                        search_cusName:_this.search_cusName,
                        search_source:_this.search_source,
                        search_status:_this.search_status,
                        sort:_this.sort,
                        attributionid:_this.attributionid,
                        pageNo:_this.pageNo,
                        pageSize:10,
                    }))
                    wDialog.showProgress();
                    wApiAjax({
                        url:'customer/datalist',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            employeeid:_this.userInfo.employeeid,
                            search_cusName:_this.search_cusName,
                            search_source:_this.search_source,
                            search_status:_this.search_status,
                            sort:_this.sort,
                            attributionid:_this.attributionid,
                            pageNo:_this.pageNo,
                            pageSize:10,
                        },
                        success:function(res){
                            console.log(JSON.stringify(res))
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.isHavaMoreData = res.data ? res.data.length >= _this.pageNo : false;
                                if(!isLoadMore){
                                    _this.khDataList = res.data ? res.data : [];
                                    // _this.totalPage = Math.ceil(res.count / res.pageSize);
                                }
                                else{
                                    if(res.data){
                                        _this.khDataList = _this.khDataList.concat(res.data);
                                    }
                                }
                            }else{
                                wDialog.toast({
                                    msg:res.message||res.msg
                                })
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail:function(){
                            callback && typeof callback === 'function' && callback();
                        }
                    });
                },
                // 跳转客户详情
                skipCustomerDetail: function(id,phone) {
                    wHrefJs.openWin({
                        name: 'customerDetail',
                        path: './customer_detail.html',
                        param: {
                            cusId: id,
                            cusPhone:phone,
                            isWork:1
                        }
                    })
                },
                // 跳转到跟进页面
                handleSkipFollow:function(id,phone){
                    api.openWin({
                        name: 'followRecord',
                        url: '../follow/follow_record.html',
                        pageParam: {
                            id:id,
                            phone:phone,
                            isWork:1
                        },
                        slidBackEnabled: false
                    });
                }
            }
        })
    }

    // 跟进时间&计划跟进时间 条件筛选
    function filterCondition(data){
        var d = JSON.parse(data);
        $('#not-more').hide();
        nCustomerFrame.order_followtime = d.status1;
        nCustomerFrame.order_nextfollow = d.status2;
        nCustomerFrame.pageNo = 1;
        nCustomerFrame.fetchListData();
    }
    // 获取搜索的内容
    function getSearchValue(val){
        nCustomerFrame.search_cusName = val;
        nCustomerFrame.pageNo = 1;
        nCustomerFrame.fetchListData();
    }
    // 清空搜索的内容
    function clearSearchValue(){
        nCustomerFrame.search_cusName = '';
    }
</script>

</html>
