<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>筛选更多</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/lib/mdater.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filtermore.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-more clear bor-1px-t" @click.stop="handleCloseFilterPopup">
            <!-- 全屏添加class width100 -->
            <div class="w-filter-content width100" @click.stop.prevent>
                <!-- 筛选内容 -->
                <div class="filter-m-body">
                    <!-- 客户状态 -->
                    <div class="filter-m-ylgs">
                        <p class="p1">客户状态</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currStatus==''}" @click.stop="handlePitchClassify('')">全部</li>
                            <li
                                v-for="status in customerStatusList"
                                :key="status.value"
                                v-text="status.name"
                                :class="{'f-curr':currStatus==status.value}"
                                @click.stop="handlePitchClassify(status.value)"
                            ></li>
                        </ul>
                        <div class=""></div>
                    </div>
                    <!-- 时间范围 -->
                    <div class="filter-m-ylgs margin-top30">
                        <p class="p1">跟进时间</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currFollowToday}" @click.stop="handleChooseShortcatDate($event,'follow',0)">今日</li>
                            <li :class="{'f-curr':currFollowWeek}" @click.stop="handleChooseShortcatDate($event,'follow',1)">本周</li>
                            <li :class="{'f-curr':currFollowMonth}" @click.stop="handleChooseShortcatDate($event,'follow',2)">本月</li>
                            <li :class="{'f-curr':currFollowYear}" @click.stop="handleChooseShortcatDate($event,'follow',3)">本年</li>
                        </ul>
                        <div class="filter-m-date clear">
                            <input class="choose-date" v-model="startTimeFoll" @click.stop="handleChooseDate(0)" type="text" placeholder="开始时间" readonly="true">
                            <span>—</span>
                            <input class="choose-date" v-model="endTimeFoll" @click.stop="handleChooseDate(1)" type="text" placeholder="结束时间" readonly="true">
                        </div>
                    </div>
                    <div class="filter-m-ylgs margin-top30" v-if="isShowNextFollowDateChoose">
                        <p class="p1">计划跟进时间</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currNextFollowToday}" @click.stop="handleChooseShortcatDate($event,'nextFollow',0)">今日</li>
                            <li :class="{'f-curr':currNextFollowWeek}" @click.stop="handleChooseShortcatDate($event,'nextFollow',1)">本周</li>
                            <li :class="{'f-curr':currNextFollowMonth}" @click.stop="handleChooseShortcatDate($event,'nextFollow',2)">本月</li>
                            <li :class="{'f-curr':currNextFollowYear}" @click.stop="handleChooseShortcatDate($event,'nextFollow',3)">本年</li>
                        </ul>
                        <div class="filter-m-date clear">
                            <input class="choose-date" v-model="startTimeNextFoll" @click.stop="handleChooseDate(2)" type="text" placeholder="开始时间" readonly="true">
                            <span>—</span>
                            <input class="choose-date" v-model="endTimeNextFoll" @click.stop="handleChooseDate(3)" type="text" placeholder="结束时间" readonly="true">
                        </div>
                    </div>
                    <div class="filter-m-ylgs margin-top30">
                        <p class="p1">负责人变更时间</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currChangeToday}" @click.stop="handleChooseShortcatDate($event,'change',0)">今日</li>
                            <li :class="{'f-curr':currChangeWeek}" @click.stop="handleChooseShortcatDate($event,'change',1)">本周</li>
                            <li :class="{'f-curr':currChangeMonth}" @click.stop="handleChooseShortcatDate($event,'change',2)">本月</li>
                            <li :class="{'f-curr':currChangeYear}" @click.stop="handleChooseShortcatDate($event,'change',3)">本年</li>
                        </ul>
                        <div class="filter-m-date clear">
                            <input class="choose-date" v-model="startTimeChange" @click.stop="handleChooseDate(4)" type="text" placeholder="开始时间" readonly="true">
                            <span>—</span>
                            <input class="choose-date" v-model="endTimeChange" @click.stop="handleChooseDate(5)" type="text" placeholder="结束时间" readonly="true">
                        </div>
                    </div>
                    <div class="filter-m-ylgs margin-top30">
                        <p class="p1">创建时间</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currCreateToday}" @click.stop="handleChooseShortcatDate($event,'create',0)">今日</li>
                            <li :class="{'f-curr':currCreateWeek}" @click.stop="handleChooseShortcatDate($event,'create',1)">本周</li>
                            <li :class="{'f-curr':currCreateMonth}" @click.stop="handleChooseShortcatDate($event,'create',2)">本月</li>
                            <li :class="{'f-curr':currCreateYear}" @click.stop="handleChooseShortcatDate($event,'create',3)">本年</li>
                        </ul>
                        <div class="filter-m-date clear">
                            <input class="choose-date" v-model="startTimeCreate" @click.stop="handleChooseDate(6)" type="text" placeholder="开始时间" readonly="true">
                            <span>—</span>
                            <input class="choose-date" v-model="endTimeCreate" @click.stop="handleChooseDate(7)" type="text" placeholder="结束时间" readonly="true">
                        </div>
                    </div>
                    <!-- 号码归属地 -->
                    <div class="filter-m-ylgs margin-top30">
                        <p class="p1 clear" @click.stop="isUnwindHomePosi=!isUnwindHomePosi">号码归属地<i class="icon-b-jiantou" :class={'pack-up':!isUnwindHomePosi}></i></p>
                        <ul class="filter-m-ylgs-info clear" v-if="isUnwindHomePosi">
                            <li :class="{'f-curr':currHome==''}" @click.stop="handlePitchHome('')">全部</li>
                            <li
                                v-if="homeposiData && homeposiData.length>0"
                                v-for="home in homeposiData"
                                :key="home.id"
                                :class="{'f-curr':currHome==home.id}"
                                @click.stop="handlePitchHome(home.id)"
                                v-text="home.name"
                            ></li>
                        </ul>
                    </div>
                    <!-- 客户来源 -->
                    <div class="filter-m-ylgs filter-m-khly margin-top30">
                        <p class="p1 clear">客户来源</p>
                        <div class="filter-m-khyl-list" v-if="originAllData.corSour">
                            <p class="p2 margin-top30 border-1px" @click.stop="handleChooseCustomerOrigin('one',originAllData.corSour.corSourParValue,1)">
                                <i class="khly-rodio" :class="[currOrigin === originAllData.corSour.corSourParValue?'check':'uncheck']"></i><span v-text="originAllData.corSour.corSourParName"></span>
                            </p>
                            <ul class="filter-m-khly-info clear">
                                <li
                                    v-if="originAllData.corSour.corSourList"
                                    v-for="corSour in originAllData.corSour.corSourList"
                                    :class="{'f-curr':currOriginTwo === corSour.value && currType == 1}"
                                    v-text="corSour.name"
                                    @click.stop="handleChooseCustomerOrigin('two',corSour.value,1,originAllData.corSour.corSourParValue)"
                                ></li>
                            </ul>
                        </div>
                        <div class="filter-m-khyl-list" v-if="originAllData.net">
                            <p class="p2 margin-top30 border-1px" @click.stop="handleChooseCustomerOrigin('one',originAllData.net.halParValue,1)">
                                <i class="khly-rodio" :class="[currOrigin === originAllData.net.halParValue?'check':'uncheck']"></i><span v-text="originAllData.net.netParName"></span>
                            </p>
                            <ul class="filter-m-khly-info clear">
                                <li
                                    v-if="originAllData.net.networkList"
                                    v-for="net in originAllData.net.networkList"
                                    :class="{'f-curr':currOriginTwo === net.value && currType == 1}"
                                    v-text="net.name"
                                    @click.stop="handleChooseCustomerOrigin('two',net.value,1,originAllData.net.halParValue)"
                                ></li>
                            </ul>
                        </div>
                        <div class="filter-m-khyl-list" v-if="originAllData.halt">
                            <p class="p2 margin-top30 border-1px" @click.stop="handleChooseCustomerOrigin('one',originAllData.halt.halParValue,1)">
                                <i class="khly-rodio" :class="[currOrigin === originAllData.halt.halParValue?'check':'uncheck']"></i><span v-text="originAllData.halt.halParName"></span>
                            </p>
                            <ul class="filter-m-khly-info clear">
                                <li
                                    v-if="originAllData.halt.haltList"
                                    v-for="halt in originAllData.halt.haltList"
                                    :class="{'f-curr':currOriginTwo === halt.value && currType == 1}"
                                    v-text="halt.name"
                                    @click.stop="handleChooseCustomerOrigin('two',halt.value,1,originAllData.halt.halParValue)"
                                ></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 筛选确定/取消 -->
                <!-- 全屏添加class width100 -->
                <div class="filter-m-footer border-1px width100">
                    <button class="cancel-btn" @click.stop="handleCleanData">清空</button>
                    <button class="confirm-btn" @click.stop="handleSureData">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../../script/lib/mdater.js"></script>
<script type="text/javascript" src="../../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script>
apiready = function() {
    var param = api.pageParam;
    new Vue({
        el:"#wrapper",
        data:{
            customerStatusList:[],
            homeposiData:[],
            originAllData:[],


            currStatus:'',
            currOrigin:'',
            currOriginTwo:'',
            currType:'',
            currHome:'',

            startTimeFoll:'',
            endTimeFoll:'',
            startTimeNextFoll:'',
            endTimeNextFoll:'',
            startTimeChange:'',
            endTimeChange:'',
            startTimeCreate:'',
            endTimeCreate:'',
            isCurrChooseDate:'',

            // 是否展开
            isUnwindHomePosi:true,
            isShowNextFollowDateChoose:true
        },
        mounted:function(){
            this.init();
            this.fetchHomeData();
            this.fetchCustomerStatus();
            this.fetchOriginData();
        },
        methods:{
            init:function(){
                var _this = this;
                this.currOrigin = param.currOrigin;
                this.currOriginTwo = param.currOriginTwo;
                this.currType = param.currType;
                this.currStatus = param.currStatus;
                this.currHome = param.currHome;
                this.startTimeFoll = param.startTimeFoll;
                this.endTimeFoll = param.endTimeFoll;
                this.startTimeNextFoll = param.startTimeNextFoll;
                this.endTimeNextFoll = param.endTimeNextFoll;
                this.startTimeChange = param.startTimeChange;
                this.endTimeChange = param.endTimeChange;
                this.startTimeCreate = param.startTimeCreate;
                this.endTimeCreate = param.endTimeCreate;
                this.isShowNextFollowDateChoose = param.isShowNextFollowDateChoose;
                this.$nextTick(function(){
                    // 初始化日历
                    $('.choose-date').mdater({
                        minDate : new Date('1999-01-01'),
                        sureCb(date){
                            console.log('date------------'+date)
                            console.log('isCurrChooseDate------------'+_this.isCurrChooseDate)
                            if(_this.isCurrChooseDate === 0){
                                _this.startTimeFoll = date;
                            }
                            else if(_this.isCurrChooseDate === 1){
                                _this.endTimeFoll = date;
                            }
                            else if(_this.isCurrChooseDate === 2){
                                _this.startTimeNextFoll = date;
                            }
                            else if(_this.isCurrChooseDate === 3){
                                _this.endTimeNextFoll = date;
                            }
                            else if(_this.isCurrChooseDate === 4){
                                _this.startTimeChange = date;
                            }
                            else if(_this.isCurrChooseDate === 5){
                                _this.endTimeChange = date;
                            }
                            else if(_this.isCurrChooseDate === 6){
                                _this.startTimeCreate = date;
                            }
                            else if(_this.isCurrChooseDate === 7){
                                _this.endTimeCreate = date;
                            }
                            else{
                                console.log('选择日期字段错误')
                            }
                        }
                    });
                })
            },
            handleChooseDate:function(i){
                this.isCurrChooseDate = i;
            },
            fetchHomeData:function(){
                var _this = this;
                var homeposiData = window.localStorage.getItem('homeposiData');
                if(homeposiData){
                    this.homeposiData = JSON.parse(homeposiData);
                }
                else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'newResource/provinceList',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.homeposiData = res.data || [];
                                window.localStorage.setItem('homeposiData',JSON.stringify(res.data));
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                }
            },
            // 获取客户状态
            fetchCustomerStatus:function(){
                var _this = this;
                var customerStatusList = myLocalStorage.getItem('customerStatusList');
                if(customerStatusList){
                    this.customerStatusList = JSON.parse(customerStatusList);
                }else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'customer/sourceAndType',
                        headers:{
                            "token":TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.customerStatusList = res.data.customerSatauslist.filter(function(v){
                                    if(!~v.name.indexOf('无效')){
                                        return v;
                                    }
                                });
                                myLocalStorage.setItem('customerStatusList',JSON.stringify(_this.customerStatusList));
                            }
                        }
                    })
                }
            },
            fetchOriginData:function(){
                var _this = this;
                var originAllData = window.localStorage.getItem('originAllData');
                if(originAllData){
                    this.originAllData = JSON.parse(originAllData);
                }
                else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'newResource/cusSource',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.originAllData = res.data || [];
                                window.localStorage.setItem('originAllData',JSON.stringify(res.data));
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                }
            },
            // 选择时间
            handleChooseShortcatDate:function(e,name,i){
                var tag = e.currentTarget;
                if(!$(tag).hasClass('f-curr')){
                    $(tag).addClass('f-curr').siblings().removeClass('f-curr');
                }
                if(name === 'follow'){
                    this.funcGetDate('startTimeFoll','endTimeFoll',i)
                }
                else if(name === 'nextFollow'){
                    this.funcGetDate('startTimeNextFoll','endTimeNextFoll',i)
                }
                else if(name === 'change'){
                    this.funcGetDate('startTimeChange','endTimeChange',i)
                }
                else if(name === 'create'){
                    this.funcGetDate('startTimeCreate','endTimeCreate',i)
                }
                else{
                    console.log('选择时间name错误')
                }
            },
            // 获取时间
            funcGetDate:function(sName,eName,i){
                if(i === 0){
                    this[sName] = funcGetThisToday().startDate;
                    this[eName] = funcGetThisToday().endDate;
                }
                else if(i === 1){
                    this[sName] = funcGetThisWeek().startDate;
                    this[eName] = funcGetThisWeek().endDate;
                }
                else if(i == 2){
                    this[sName] = funcGetThisMonth().startDate;
                    this[eName] = funcGetThisMonth().endDate;
                }
                else{
                    this[sName] = funcGetThisYear().startDate;
                    this[eName] = funcGetThisYear().endDate;
                }
            },
            // 筛选客户归来来源
            handlePitchClassify:function(val){
                this.currStatus = val;;
            },
            // 筛选客户状态
            handlePitchHome:function(val){
                this.currHome = val;
            },
            // 筛选客户来源
            handleChooseCustomerOrigin:function(rl,value,type,fValue) {
                if(rl === 'one'){
                    if(this.currOrigin === value){
                        this.currOrigin = '';
                        this.currOriginTwo = '';
                    }else{
                        this.currOrigin = value;
                        this.currOriginTwo = '';
                    }
                }
                else{
                    if(this.currOriginTwo === value){
                        this.currOriginTwo = '';
                        this.currOrigin = fValue;
                    }else {
                        this.currOriginTwo = value;
                        this.currOrigin = fValue;
                    }
                }
                this.currType = type;
            },
            // 清空
            handleCleanData:function(){
                this.currStatus = '';
                this.currOrigin = '';
                this.currOriginTwo = '';
                this.currType = '';
                this.currHome = '';

                this.startTimeFoll = '';
                this.endTimeFoll = '';
                this.startTimeNextFoll = '';
                this.endTimeNextFoll = '';
                this.startTimeChange = '';
                this.endTimeChange = '';
                this.startTimeCreate = '';
                this.endTimeCreate = '';
            },
            // 确认
            handleSureData:function(){
                var _this = this;
                console.log(param.origin)
                api.sendEvent({
                    name: param.origin,
                    extra:{
                        status:_this.currStatus,
                        origin:_this.currOrigin,
                        originTwo:_this.currOriginTwo,
                        type:_this.currType,
                        home:_this.currHome,

                        startTimeFoll:_this.startTimeFoll,
                        endTimeFoll:_this.endTimeFoll,
                        startTimeNextFoll:_this.startTimeNextFoll,
                        endTimeNextFoll:_this.endTimeNextFoll,
                        startTimeChange:_this.startTimeChange,
                        endTimeChange:_this.endTimeChange,
                        startTimeCreate:_this.startTimeCreate,
                        endTimeCreate:_this.endTimeCreate,
                    }
                });
                api.closeFrame();
            },
            handleCloseFilterPopup:function(){
                var _this = this;
                api.sendEvent({
                    name: param.origin
                });
                api.closeFrame();
            }
        },
        computed: {
            // 跟进时间
            currFollowToday: function() {
                if(this.startTimeFoll === funcGetThisToday().startDate && this.endTimeFoll === funcGetThisToday().endDate){
                    return true;
                }
                return false;
            },
            currFollowWeek: function() {
                if(this.startTimeFoll === funcGetThisWeek().startDate && this.endTimeFoll === funcGetThisWeek().endDate){
                    return true;
                }
                return false;
            },
            currFollowMonth: function() {
                if(this.startTimeFoll === funcGetThisMonth().startDate && this.endTimeFoll === funcGetThisMonth().endDate){
                    return true;
                }
                return false;
            },
            currFollowYear: function() {
                if(this.startTimeFoll === funcGetThisYear().startDate && this.endTimeFoll === funcGetThisYear().endDate){
                    return true;
                }
                return false;
            },
            // 下次跟进时间
            currNextFollowToday: function() {
                if(this.startTimeNextFoll === funcGetThisToday().startDate && this.endTimeNextFoll === funcGetThisToday().endDate){
                    return true;
                }
                return false;
            },
            currNextFollowWeek: function() {
                if(this.startTimeNextFoll === funcGetThisWeek().startDate && this.endTimeNextFoll === funcGetThisWeek().endDate){
                    return true;
                }
                return false;
            },
            currNextFollowMonth: function() {
                if(this.startTimeNextFoll === funcGetThisMonth().startDate && this.endTimeNextFoll === funcGetThisMonth().endDate){
                    return true;
                }
                return false;
            },
            currNextFollowYear: function() {
                if(this.startTimeNextFoll === funcGetThisYear().startDate && this.endTimeNextFoll === funcGetThisYear().endDate){
                    return true;
                }
                return false;
            },
            // 变更负责人
            currChangeToday: function() {
                if(this.startTimeChange === funcGetThisToday().startDate && this.endTimeChange === funcGetThisToday().endDate){
                    return true;
                }
                return false;
            },
            currChangeWeek: function() {
                if(this.startTimeChange === funcGetThisWeek().startDate && this.endTimeChange === funcGetThisWeek().endDate){
                    return true;
                }
                return false;
            },
            currChangeMonth: function() {
                if(this.startTimeChange === funcGetThisMonth().startDate && this.endTimeChange === funcGetThisMonth().endDate){
                    return true;
                }
                return false;
            },
            currChangeYear: function() {
                if(this.startTimeChange === funcGetThisYear().startDate && this.endTimeChange === funcGetThisYear().endDate){
                    return true;
                }
                return false;
            },
            // 创建时间
            currCreateToday: function() {
                if(this.startTimeCreate === funcGetThisToday().startDate && this.endTimeCreate === funcGetThisToday().endDate){
                    return true;
                }
                return false;
            },
            currCreateWeek: function() {
                if(this.startTimeCreate === funcGetThisWeek().startDate && this.endTimeCreate === funcGetThisWeek().endDate){
                    return true;
                }
                return false;
            },
            currCreateMonth: function() {
                if(this.startTimeCreate === funcGetThisMonth().startDate && this.endTimeCreate === funcGetThisMonth().endDate){
                    return true;
                }
                return false;
            },
            currCreateYear: function() {
                if(this.startTimeCreate === funcGetThisYear().startDate && this.endTimeCreate === funcGetThisYear().endDate){
                    return true;
                }
                return false;
            },
        }
    })
}
</script>
</html>
