<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户来源筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <div class="w-filter-pop2 clear" style="padding-top:1px;" @click.stop>
                <div class="left fl">
                    <ul>
                        <li v-if="isHaveAllOrigin" :class="{'curr':currSelected===''}" @click.stop="handleChooseOneOrigin('',[],0)">全部</li>
                        <li v-if="originAllData.corSour" :class="{'curr':currSelected===originAllData.corSour.corSourParValue}" v-text="originAllData.corSour.corSourParName" @click.stop="handleChooseOneOrigin(originAllData.corSour.corSourParValue,originAllData.corSour.corSourList,1)"></li>
                        <li v-if="originAllData.halt" :class="{'curr':currSelected===originAllData.halt.halParValue}" v-text="originAllData.halt.halParName" @click.stop="handleChooseOneOrigin(originAllData.halt.halParValue,originAllData.halt.haltList,1)"></li>
                        <li v-if="originAllData.net" :class="{'curr':currSelected===originAllData.net.halParValue}" v-text="originAllData.net.netParName" @click.stop="handleChooseOneOrigin(originAllData.net.halParValue,originAllData.net.networkList,1)"></li>
                        <li v-if="isHaveRecourcePool&&originAllData.respool" :class="{'curr':currSelected===originAllData.respool.respoolParValue}" v-text="originAllData.respool.respoolParName" @click.stop="handleChooseOneOrigin(originAllData.respool.respoolParValue,originAllData.respool.respoolList,2)"></li>
                    </ul>
                </div>
                <div class="right fl">
                    <ul v-if="currTwoSelected !== '' || currSelected !== ''">
                        <li
                            :class="{'curr':currTwoSelected===''}"
                            @click.stop="handleChooseTwoOrigin('')"
                        >全部</li>
                        <li
                            v-if="originTwoData && originTwoData.length > 0"
                            v-for="originTwo in originTwoData"
                            :key="originTwo.value"
                            :class="{'curr':currTwoSelected===originTwo.value}"
                            @click.stop="handleChooseTwoOrigin(originTwo.value)"
                            v-text="originTwo.name"
                        ></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script>
    apiready = function(){
        var param = api.pageParam;
        // console.log('filter origin---'+JSON.stringify(param))
        new Vue({
            el:'#wrapper',
            data:{
                originAllData:{},
                currSelected:'',
                currTwoSelected:'',
                currType:'',
                originTwoData:[],
                isHaveAllOrigin:false,
                isHaveRecourcePool:false
            },
            mounted:function(){
                this.customerOriginList = param.originData ? JSON.parse(param.originData) : {};
                this.currSelected = param.currSelected;
                this.currTwoSelected = param.currTwoSelected;
                this.currType = param.currType;
                this.isHaveAllOrigin = param.isHaveAllOrigin;
                this.isHaveRecourcePool = param.isHaveRecourcePool;
                this.fetchOriginAllData();
            },
            methods:{
                // 获取客户来源所有
                fetchOriginAllData:function(){
                    var _this = this;
                    var originAllData = window.localStorage.getItem('originAllData');
                    if(originAllData){
                        this.originAllData = JSON.parse(originAllData);
                        this.getOriginTwoData();
                    }
                    else{
                        wDialog.showProgress();
                        wApiAjax({
                            url:'newResource/cusSource',
                            headers:{
                                token:TOKEN_DATA
                            },
                            success:function(res){
                                console.log('two'+JSON.stringify(res))
                                wDialog.hideProgress();
                                if(res.code == 1){
                                    _this.originAllData = res.data || [];
                                    window.localStorage.setItem('originAllData',JSON.stringify(res.data));
                                    _this.getOriginTwoData();
                                }else{
                                    wDialog.toast({
                                        msg:res.message
                                    })
                                }
                            }
                        })
                    }
                },
                getOriginTwoData:function(){
                    // 资源池
                    if(this.currSelected === ''){
                        this.originTwoData = [];
                        return
                    }
                    if(this.currSelected === 0){
                        this.originTwoData = this.originAllData.respool.respoolList;
                    }
                    // 公司资源
                    else if(this.currSelected === 1){
                        this.originTwoData = this.originAllData.corSour.corSourList;
                    }
                    // 渠道资源
                    else if(this.currSelected === 2){
                        this.originTwoData = this.originAllData.halt.haltList;
                    }
                    // 销售资源
                    else if(this.currSelected === 3){
                        this.originTwoData = this.originAllData.net.networkList;
                    }
                    else{
                        console.log('来源错误')
                    }
                },
                handleChooseOneOrigin:function(val,list,type){
                    // console.log('val----'+val)
                    // console.log('list----'+JSON.stringify(list))
                    // console.log('type---'+type)
                    // 一级选择全部
                    if(val === ''){
                        api.sendEvent({
                            name: param.origin,
                            extra: {
                                origin:'',
                                originTwo:'',
                                type:type
                            }
                        });
                        api.closeFrame();
                    }
                    if(this.currSelected != val){
                        this.currSelected = val;
                        this.currTwoSelected = 0;
                        this.originTwoData = list;
                        this.currType = type;
                    }
                },
                // 筛选客户状态
                handleChooseTwoOrigin:function(val){
                    var _this = this;
                    this.currTwoSelected = val;
                    api.sendEvent({
                        name: param.origin,
                        extra: {
                            origin:_this.currSelected,
                            originTwo:val,
                            type:_this.currSelected == 0 ? 2 : 1
                        }
                    });
                    api.closeFrame();
                },
                handleCloseFilterPopup:function(){
                    var _this = this;
                    api.sendEvent({
                        name: param.origin
                    });
                    api.closeFrame();
                }
            }
        })
    }
</script>
</html>
