<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>归属地筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <div class="w-filter-pop1" @click.stop>
                <ul>
                    <li :class="{'curr':currSelected==''}" @click.stop="handlePitchHome('')">全部</li>
                    <li
                        v-if="homeposiData && homeposiData.length>0"
                        v-for="home in homeposiData"
                        :key="home.id"
                        :class="{'curr':currSelected==home.id}"
                        @click.stop="handlePitchHome(home.id)"
                        v-text="home.name"
                    ></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script>
    apiready = function(){
        var param = api.pageParam;
        console.log(JSON.stringify(param))
        new Vue({
            el:'#wrapper',
            data:{
                homeposiData:[],
                currSelected:''
            },
            mounted:function(){
                this.currSelected = param.currSelected;
                this.fetchClassifyData();
            },
            methods:{
                fetchClassifyData:function(){
                    var _this = this;
                    var homeposiData = window.localStorage.getItem('homeposiData');
                    if(homeposiData){
                        this.homeposiData = JSON.parse(homeposiData);
                    }
                    else{
                        wDialog.showProgress();
                        wApiAjax({
                            url:'newResource/provinceList',
                            headers:{
                                token:TOKEN_DATA
                            },
                            success:function(res){
                                wDialog.hideProgress();
                                if(res.code == 1){
                                    _this.homeposiData = res.data || [];
                                    window.localStorage.setItem('homeposiData',JSON.stringify(res.data));
                                }else{
                                    wDialog.toast({
                                        msg:res.message
                                    })
                                }
                            }
                        })
                    }
                },
                // 筛选客户归属地
                handlePitchHome:function(val){
                    var _this = this;
                    this.currSelected = val;
                    api.sendEvent({
                        name: param.origin,
                        extra: {
                            home:val
                        }
                    });
                    api.closeFrame();
                },
                handleCloseFilterPopup:function(){
                    var _this = this;
                    api.sendEvent({
                        name: param.origin
                    });
                    api.closeFrame();
                }
            }
        })
    }
</script>
</html>
