<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通话状态筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <div class="w-filter-pop1" @click.stop.prevent>
                <ul>
                    <li :class="{'curr':callStatus==0}" @click.stop="handlePitchCallStatus(0)">全部</li>
                    <li :class="{'curr':callStatus==1}" @click.stop="handlePitchCallStatus(1)">接听</li>
                    <li :class="{'curr':callStatus==2}" @click.stop="handlePitchCallStatus(2)">未接听</li>
                    <li :class="{'curr':callStatus==3}" @click.stop="handlePitchCallStatus(3)">号码异常</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script type="text/javascript">
    apiready = function(){
        var param = api.pageParam;
        new Vue({
            el: '#wrapper',
            data: {
                currSelected: '',
                callStatus: ''
            },
            mounted: function() {
                this.callStatus = param.callStatus;
            },
            methods: {
                // 筛选排序
                handlePitchCallStatus: function(val) {
                    var _this = this;
                    this.currSelected = val;
                    api.sendEvent({
                        name: param.origin,
                        extra: {
                            callStatus: val||''
                        }
                    });
                    api.closeFrame();
                },
                handleCloseFilterPopup: function() {
                    var _this = this;
                    api.sendEvent({
                        name: param.origin
                    });
                    api.closeFrame();
                }
            }
        })
    }
</script>
</html>
