<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>来源归类筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup">
            <div class="w-filter-pop1">
                <ul>
                    <li>陌电</li>
                    <li class="curr">活动</li>
                    <li>精准</li>
                    <li>转介绍</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>

</html>
