<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>来源归类筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <div class="w-filter-pop1" @click.stop.prevent>
                <ul>
                    <li :class="{'curr':currSelected==''}" @click.stop="handlePitchClassify('')">全部</li>
                    <li
                        v-for="classify in classifyData"
                        :key="classify.value"
                        v-text="classify.name"
                        :class="{'curr':currSelected==classify.value}"
                        @click.stop="handlePitchClassify(classify.value)"
                    ></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script type="text/javascript">
apiready = function(){
    var param = api.pageParam;
    new Vue({
        el:'#wrapper',
        data:{
            classifyData:[],
            currSelected:''
        },
        mounted:function(){
            this.currSelected = param.currSelected;
            this.fetchClassifyData();
        },
        methods:{
            fetchClassifyData:function(){
                var _this = this;
                var classifyData = window.localStorage.getItem('classifyData');
                if(classifyData){
                    this.classifyData = JSON.parse(classifyData);
                }
                else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'customer/addNewCusSourse',
                        method:'get',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.classifyData = res.classifySource || [];
                                window.localStorage.setItem('classifyData',JSON.stringify(res.classifySource));
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                }
            },
            // 筛选客户状态
            handlePitchClassify:function(val){
                var _this = this;
                this.currSelected = val;
                api.sendEvent({
                    name: param.origin,
                    extra: {
                        classify:val
                    }
                });
                api.closeFrame();
            },
            handleCloseFilterPopup:function(){
                var _this = this;
                api.sendEvent({
                    name: param.origin
                });
                api.closeFrame();
            }
        }
    })
}
</script>
</html>
