<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户状态筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <div class="w-filter-pop1">
                <ul>
                    <li :class="{'curr':currSelected==''}" @click.stop="handlePitchStatus('')">全部</li>
                    <li
                        v-for="(status,index) in customerStatusList"
                        :key="index"
                        :class="{'curr':currSelected===status.value}"
                        v-text="status.name"
                        @click.stop="handlePitchStatus(status.value)"
                    ></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script>
    apiready = function(){
        var param = api.pageParam;
        new Vue({
            el:'#wrapper',
            data:{
                customerStatusList:[],
                currSelected:'',
                origin:''
            },
            mounted:function(){
                this.origin = param.origin;
                this.currSelected = param.currSelected;
                this.fetchCustomerStatus();
            },
            methods:{
                // 获取客户状态
                fetchCustomerStatus:function(){
                    var _this = this;
                    var customerStatusList = myLocalStorage.getItem('customerStatusList');
                    if(customerStatusList){
                        this.customerStatusList = JSON.parse(customerStatusList);
                    }else{
                        wDialog.showProgress();
                        wApiAjax({
                            url:'customer/sourceAndType',
                            headers:{
                                "token":TOKEN_DATA
                            },
                            success:function(res){
                                wDialog.hideProgress();
                                if(res.code == 1){
                                    _this.customerStatusList = res.data.customerSatauslist.filter(function(v){
                                        if(!~v.name.indexOf('无效')){
                                            return v;
                                        }
                                    });
                                    myLocalStorage.setItem('customerStatusList',JSON.stringify(_this.customerStatusList));
                                }
                            }
                        })
                    }
                },
                // 筛选客户状态
                handlePitchStatus:function(val){
                    var _this = this;
                    this.currSelected = val;
                    api.sendEvent({
                        name: _this.origin,
                        extra: {
                            status:val
                        }
                    });
                    api.closeFrame();
                },
                handleCloseFilterPopup:function(){
                    var _this = this;
                    api.sendEvent({
                        name: _this.origin
                    });
                    api.closeFrame();
                }
            }
        })
    }
</script>
</html>
