<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>排序筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <div class="w-filter-pop1" v-if="sortClass === 'class1'">
                <ul>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">计划跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==4}" @click.stop="handlePitchSort(4)">计划跟进时间从远到近</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-if="sortClass === 'class2'">
                <ul>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">新增资源量从高到低</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">新增资源量从低到高</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">新增资源跟进量从高到低</li>
                    <li :class="{'curr':currSelected==4}" @click.stop="handlePitchSort(4)">新增资源跟进量从低到高</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-if="sortClass === 'class3'">
                <ul>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">通话状态从多到少</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">通话状态从少到多</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-if="sortClass === 'class4'">
                <ul>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">通话时间从近到远</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">通话时间从远到近</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(3)">通话时长从长到短</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(4)">通话时长从短到长</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script>
    apiready = function() {
        var param = api.pageParam;
        console.log(JSON.stringify(param))
        new Vue({
            el: '#wrapper',
            data: {
                currSelected: '',
                sendOrigin: '',
                sortClass: ''
            },
            mounted: function() {
                this.sendOrigin = param.origin;
                this.currSelected = param.currSelected;
                this.sortClass = param.sortClass;
            },
            methods: {
                // 筛选排序
                handlePitchSort: function(val) {
                    var _this = this;
                    this.currSelected = val;
                    api.sendEvent({
                        name: _this.sendOrigin,
                        extra: {
                            sort: val
                        }
                    });
                    api.closeFrame();
                },
                handleCloseFilterPopup: function() {
                    var _this = this;
                    api.sendEvent({
                        name: _this.sendOrigin
                    });
                    api.closeFrame();
                }
            }
        })
    }
</script>

</html>
