<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>排序筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <!-- 回收列表 -->
            <div class="w-filter-pop1" v-show="sortClass === 'class1'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">客户创建时间从近到远</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">客户创建时间从远到近</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==4}" @click.stop="handlePitchSort(4)">计划跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==5}" @click.stop="handlePitchSort(5)">计划跟进时间从远到近</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-show="sortClass === 'class2'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">新增资源量从高到低</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">新增资源量从低到高</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">新增资源跟进量从高到低</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">新增资源跟进量从低到高</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-show="sortClass === 'class3'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">通话次数从多到少</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">通话次数从少到多</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-show="sortClass === 'class4'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">通话时间从近到远</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">通话时间从远到近</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">通话时长从长到短</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">通话时长从短到长</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-show="sortClass === 'class5'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">从未跟进到已跟进</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">从已跟进到未跟进</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">新增时间从近到远</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">新增时间从远到近</li>
                </ul>
            </div>
            <div class="w-filter-pop1" v-show="sortClass === 'class6'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">系统资源量从高到低</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">系统资源量从低到高</li>
                </ul>
            </div>
            <!-- 系统跟进 非国内管理员 -->
            <div class="w-filter-pop1" v-show="sortClass === 'class7'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">计划跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">计划跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==4}" @click.stop="handlePitchSort(4)">负责人变更时间从近到远</li>
                    <li :class="{'curr':currSelected==5}" @click.stop="handlePitchSort(5)">负责人变更时间从远到近</li>
                </ul>
            </div>
            <!-- 客户列表  -->
            <div class="w-filter-pop1" v-show="sortClass === 'class8'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">客户更新从近到远</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">客户更新从远到近</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==4}" @click.stop="handlePitchSort(4)">计划跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==5}" @click.stop="handlePitchSort(5)">计划跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==6}" @click.stop="handlePitchSort(6)">负责人变更时间从近到远</li>
                    <li :class="{'curr':currSelected==7}" @click.stop="handlePitchSort(7)">负责人变更时间从远到近</li>
                    <li :class="{'curr':currSelected==8}" @click.stop="handlePitchSort(8)">创建时间从近到远</li>
                    <li :class="{'curr':currSelected==9}" @click.stop="handlePitchSort(9)">创建时间从远到近</li>
                </ul>
            </div>
            <!-- 新增渠道资源排序 -->
            <div class="w-filter-pop1" v-show="sortClass === 'class9'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">分配时间从远到近</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">分配时间从近到远</li>
                </ul>
            </div>
            <!-- 国内管理员  系统列表排序 -->
            <div class="w-filter-pop1" v-show="sortClass === 'class10'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">计划跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">计划跟进时间从远到近</li>
                </ul>
            </div>
            <!-- 今日回收提醒 -->
            <div class="w-filter-pop1" v-show="sortClass === 'class11'" style="display:none;">
                <ul>
                    <li :class="{'curr':currSelected==0}" @click.stop="handlePitchSort(0)">计划跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==1}" @click.stop="handlePitchSort(1)">计划跟进时间从远到近</li>
                    <li :class="{'curr':currSelected==2}" @click.stop="handlePitchSort(2)">跟进时间从近到远</li>
                    <li :class="{'curr':currSelected==3}" @click.stop="handlePitchSort(3)">跟进时间从远到近</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script>
    apiready = function() {
        var param = api.pageParam;
        new Vue({
            el: '#wrapper',
            data: {
                currSelected: '',
                sortClass: ''
            },
            mounted: function() {
                this.currSelected = param.currSelected;
                this.sortClass = param.sortClass;
            },
            methods: {
                // 筛选排序
                handlePitchSort: function(val) {
                    var _this = this;
                    this.currSelected = val;
                    api.sendEvent({
                        name: param.origin,
                        extra: {
                            sort: val
                        }
                    });
                    api.closeFrame();
                },
                handleCloseFilterPopup: function() {
                    var _this = this;
                    api.sendEvent({
                        name: param.origin
                    });
                    api.closeFrame();
                }
            }
        })
    }
</script>

</html>
