<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>筛选更多</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/lib/mdater.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filtermore.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-more clear" @click.stop="handleCloseFilterPopup">
            <!-- 全屏添加class width100 -->
            <div class="w-filter-content" @click.stop.prevent>
                <!-- 关闭 -->
                <div class="follow-header follow-r-m-header">
                    <!-- 全屏添加class width100 -->
                    <div class="fh-fixed flex-wrap flex-between" id="fh-fixed">
                        <div class="left back" @click.stop="handleCloseFilterPopup"><img class="filter-m-close" src="../../../image/icon-dh-guanbi.png" /></div>
                    </div>
                    <div class="fh-place" id="fh-place"></div>
                </div>
                <!-- 筛选内容 -->
                <div class="filter-m-body">
                    <!-- 来源归类 -->
                    <div class="filter-m-ylgs" v-if="isHaveClassify">
                        <p class="p1">来源归类</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currClassify==''}" @click.stop="handlePitchClassify('')">全部</li>
                            <li
                                v-for="classify in classifyData"
                                :key="classify.value"
                                v-text="classify.name"
                                :class="{'f-curr':currClassify==classify.value}"
                                @click.stop="handlePitchClassify(classify.value)"
                            ></li>
                        </ul>
                        <div class=""></div>
                    </div>
                    <!-- 客户状态 -->
                    <div class="filter-m-ylgs" v-if="isHaveStatus">
                        <p class="p1">客户状态</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currStatus==''}" @click.stop="handlePitchStatus('')">全部</li>
                            <li
                                v-for="status in customerStatusList"
                                :key="status.value"
                                v-text="status.name"
                                :class="{'f-curr':currStatus==status.value}"
                                @click.stop="handlePitchStatus(status.value)"
                            ></li>
                        </ul>
                        <div class=""></div>
                    </div>
                    <!-- 时间范围 -->
                    <div class="filter-m-ylgs margin-top30">
                        <p class="p1">时间范围</p>
                        <ul class="filter-m-ylgs-info clear">
                            <li :class="{'f-curr':currToday}" @click.stop="handleChooseShortcatDate($event,0)">今日</li>
                            <li :class="{'f-curr':currWeek}" @click.stop="handleChooseShortcatDate($event,1)">本周</li>
                            <li :class="{'f-curr':currMonth}" @click.stop="handleChooseShortcatDate($event,2)">本月</li>
                            <li :class="{'f-curr':currYear}" @click.stop="handleChooseShortcatDate($event,3)">本年</li>
                        </ul>
                        <div class="filter-m-date clear">
                            <input class="choose-date" v-model="startDate" @click.stop="isGetStartDate = true" type="text" placeholder="开始时间" readonly="true">
                            <span>—</span>
                            <input class="choose-date" v-model="endDate" @click.stop="isGetStartDate = false" type="text" placeholder="结束时间" readonly="true">
                        </div>
                    </div>
                    <!-- 号码归属地 -->
                    <div class="filter-m-ylgs margin-top30">
                        <p class="p1 clear" @click.stop="isUnwindHomePosi=!isUnwindHomePosi">号码归属地<i class="icon-b-jiantou" :class={'pack-up':!isUnwindHomePosi}></i></p>
                        <ul class="filter-m-ylgs-info clear" v-if="isUnwindHomePosi">
                            <li :class="{'f-curr':currHome==''}" @click.stop="handlePitchHome('')">全部</li>
                            <li
                                v-if="homeposiData && homeposiData.length>0"
                                v-for="home in homeposiData"
                                :key="home.id"
                                :class="{'f-curr':currHome==home.id}"
                                @click.stop="handlePitchHome(home.id)"
                                v-text="home.name"
                            ></li>
                        </ul>
                    </div>
                    <!-- 客户来源 -->
                    <div class="filter-m-ylgs filter-m-khly margin-top30">
                        <p class="p1 clear">客户来源</p>
                        <div class="filter-m-khyl-list" v-if="originAllData.corSour">
                            <p class="p2 margin-top30 border-1px" @click.stop="handleChooseCustomerOrigin('one',originAllData.corSour.corSourParValue,1)">
                                <i class="khly-rodio" :class="[currOrigin === originAllData.corSour.corSourParValue?'check':'uncheck']"></i><span v-text="originAllData.corSour.corSourParName"></span>
                            </p>
                            <ul class="filter-m-khly-info clear">
                                <li
                                    v-if="originAllData.corSour.corSourList"
                                    v-for="corSour in originAllData.corSour.corSourList"
                                    :class="{'f-curr':currOriginTwo === corSour.value && currType == 1}"
                                    v-text="corSour.name"
                                    @click.stop="handleChooseCustomerOrigin('two',corSour.value,1,originAllData.corSour.corSourParValue)"
                                ></li>
                            </ul>
                        </div>
                        <div class="filter-m-khyl-list" v-if="originAllData.net">
                            <p class="p2 margin-top30 border-1px" @click.stop="handleChooseCustomerOrigin('one',originAllData.net.halParValue,1)">
                                <i class="khly-rodio" :class="[currOrigin === originAllData.net.halParValue?'check':'uncheck']"></i><span v-text="originAllData.net.netParName"></span>
                            </p>
                            <ul class="filter-m-khly-info clear">
                                <li
                                    v-if="originAllData.net.networkList"
                                    v-for="net in originAllData.net.networkList"
                                    :class="{'f-curr':currOriginTwo === net.value && currType == 1}"
                                    v-text="net.name"
                                    @click.stop="handleChooseCustomerOrigin('two',net.value,1,originAllData.net.halParValue)"
                                ></li>
                            </ul>
                        </div>
                        <div class="filter-m-khyl-list" v-if="originAllData.halt">
                            <p class="p2 margin-top30 border-1px" @click.stop="handleChooseCustomerOrigin('one',originAllData.halt.halParValue,1)">
                                <i class="khly-rodio" :class="[currOrigin === originAllData.halt.halParValue?'check':'uncheck']"></i><span v-text="originAllData.halt.halParName"></span>
                            </p>
                            <ul class="filter-m-khly-info clear">
                                <li
                                    v-if="originAllData.halt.haltList"
                                    v-for="halt in originAllData.halt.haltList"
                                    :class="{'f-curr':currOriginTwo === halt.value && currType == 1}"
                                    v-text="halt.name"
                                    @click.stop="handleChooseCustomerOrigin('two',halt.value,1,originAllData.halt.halParValue)"
                                ></li>
                            </ul>
                        </div>
                        <div class="filter-m-khyl-list" v-if="isHaveRecourcePool && originAllData.respool">
                            <p class="p2 margin-top30 border-1px" @click.stop="handleChooseCustomerOrigin('one',originAllData.respool.respoolParValue,2)">
                                <i class="khly-rodio" :class="[currOrigin === originAllData.respool.respoolParValue?'check':'uncheck']"></i><span v-text="originAllData.respool.respoolParName"></span>
                            </p>
                            <ul class="filter-m-khly-info clear">
                                <li
                                    v-if="originAllData.respool.respoolList"
                                    v-for="respool in originAllData.respool.respoolList"
                                    :class="{'f-curr':currOriginTwo === respool.value && currType == 2}"
                                    v-text="respool.name"
                                    @click.stop="handleChooseCustomerOrigin('two',respool.value,2,originAllData.respool.respoolParValue)"
                                ></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 筛选确定/取消 -->
                <!-- 全屏添加class width100 -->
                <div class="filter-m-footer border-1px">
                    <button class="cancel-btn" @click.stop="handleCleanData">清空</button>
                    <button class="confirm-btn" @click.stop="handleSureData">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../../script/lib/mdater.js"></script>
<script type="text/javascript" src="../../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../../script/common.js"></script>
<script>
apiready = function() {
    var param = api.pageParam;
    $api.fixStatusBar($('#fh-fixed')[0]);
    $api.fixStatusBar($('#fh-place')[0]);
    new Vue({
        el:"#wrapper",
        data:{
            classifyData:[],
            homeposiData:[],
            originAllData:[],
            customerStatusList:[],

            currClassify:'',

            currStatus:'',

            currOrigin:'',
            currOriginTwo:'',
            currType:'',

            currHome:'',

            startDate:'',
            endDate:'',

            isHaveRecourcePool:false,
            isHaveClassify:false,
            isHaveStatus:false,

            isGetStartDate:true,
            // 是否展开
            isUnwindHomePosi:true
        },
        mounted:function(){
            this.init();
            this.fetchClassifyData();
            this.fetchCustomerStatus();
            this.fetchHomeData();
            this.fetchOriginData();
        },
        methods:{
            init:function(){
                var _this = this;
                this.currClassify = param.currClassify;
                this.currStatus = param.currStatus;
                this.currOrigin = param.currOrigin;
                this.currOriginTwo = param.currOriginTwo;
                this.currType = param.currType;
                this.currHome = param.currHome;
                this.startDate = param.startDate;
                this.endDate = param.endDate;
                this.isHaveRecourcePool = param.isHaveRecourcePool;
                this.isHaveClassify = param.isHaveClassify;
                this.isHaveStatus = param.isHaveStatus;
                this.$nextTick(function(){
                    // 初始化日历
                    $('.choose-date').mdater({
                        minDate : new Date('1999-01-01'),
                        sureCb(date){
                            if(_this.isGetStartDate){
                                _this.startDate = date;
                            }else{
                                _this.endDate = date;
                            }
                        }
                    });
                })
            },
            fetchClassifyData:function(){
                var _this = this;
                var classifyData = window.localStorage.getItem('classifyData');
                if(classifyData){
                    this.classifyData = JSON.parse(classifyData);
                }
                else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'customer/addNewCusSourse',
                        method:'get',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.classifyData = res.classifySource || [];
                                window.localStorage.setItem('classifyData',JSON.stringify(res.classifySource));
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                }
            },

            // 获取客户状态
            fetchCustomerStatus:function(){
                var _this = this;
                var customerStatusList = myLocalStorage.getItem('customerStatusList');
                if(customerStatusList){
                    this.customerStatusList = JSON.parse(customerStatusList);
                }else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'customer/sourceAndType',
                        headers:{
                            "token":TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.customerStatusList = res.data.customerSatauslist.filter(function(v){
                                    if(!~v.name.indexOf('无效')){
                                        return v;
                                    }
                                });
                                myLocalStorage.setItem('customerStatusList',JSON.stringify(_this.customerStatusList));
                            }
                        }
                    })
                }
            },
            fetchHomeData:function(){
                var _this = this;
                var homeposiData = window.localStorage.getItem('homeposiData');
                if(homeposiData){
                    this.homeposiData = JSON.parse(homeposiData);
                }
                else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'newResource/provinceList',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.homeposiData = res.data || [];
                                window.localStorage.setItem('homeposiData',JSON.stringify(res.data));
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                }
            },
            fetchOriginData:function(){
                var _this = this;
                var originAllData = window.localStorage.getItem('originAllData');
                if(originAllData){
                    this.originAllData = JSON.parse(originAllData);
                }
                else{
                    wDialog.showProgress();
                    wApiAjax({
                        url:'newResource/cusSource',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.originAllData = res.data || [];
                                window.localStorage.setItem('originAllData',JSON.stringify(res.data));
                                _this.getOriginTwoData();
                            }else{
                                wDialog.toast({
                                    msg:res.message
                                })
                            }
                        }
                    })
                }
            },
            // 选择时间
            handleChooseShortcatDate:function(e,i){
                var tag = e.currentTarget;
                if(!$(tag).hasClass('f-curr')){
                    $(tag).addClass('f-curr').siblings().removeClass('f-curr');
                }
                if(i === 0){
                    this.startDate = funcGetThisToday().startDate;
                    this.endDate = funcGetThisToday().endDate;
                }
                else if(i === 1){
                    this.startDate = funcGetThisWeek().startDate;
                    this.endDate = funcGetThisWeek().endDate;
                }
                else if(i == 2) {
                    this.startDate = funcGetThisMonth().startDate;
                    this.endDate = funcGetThisMonth().endDate;
                }
                else{
                    this.startDate = funcGetThisYear().startDate;
                    this.endDate = funcGetThisYear().endDate;
                }
            },
            // 筛选客户归来来源
            handlePitchClassify:function(val){
                this.currClassify = val;;
            },
            handlePitchStatus:function(val){
                this.currStatus = val;;
            },
            // 筛选客户状态
            handlePitchHome:function(val){
                this.currHome = val;
            },
            // 筛选客户来源
            handleChooseCustomerOrigin:function(rl,value,type,fValue) {
                if(rl === 'one'){
                    if(this.isHaveRecourcePool){
                        this.currOrigin = value;
                        this.currOriginTwo = '';
                    }else{
                        if(this.currOrigin === value){
                            this.currOrigin = '';
                            this.currOriginTwo = '';
                        }else{
                            this.currOrigin = value;
                            this.currOriginTwo = '';
                        }
                    }
                }
                else{
                    if(this.currOriginTwo === value){
                        this.currOriginTwo = '';
                        this.currOrigin = fValue;
                    }else {
                        this.currOriginTwo = value;
                        this.currOrigin = fValue;
                    }
                }
                this.currType = type;
            },
            // 清空
            handleCleanData:function(){
                this.currClassify = '';
                if(this.isHaveRecourcePool){
                    this.currOrigin = param.currOrigin;
                    this.currOriginTwo =  param.currOriginTwo;
                    this.currType = param.currType;
                }else{
                    this.currOrigin = '';
                    this.currOriginTwo = '';
                    this.currType = '';
                }
                this.currHome = '';
                this.startDate = '';
                this.endDate = '';
            },
            // 确认
            handleSureData:function(){
                var _this = this;
                var currType = 1;
                if(param.isHaveRecourcePool){
                    currType = this.currOrigin == 0 ? 2 : 1;
                }
                api.sendEvent({
                    name: param.origin,
                    extra:{
                        classify:_this.currClassify,
                        status:_this.currStatus,
                        origin:_this.currOrigin,
                        originTwo:_this.currOriginTwo,
                        type:currType,
                        home:_this.currHome,
                        startDate:_this.startDate,
                        endDate:_this.endDate,
                    }
                });
                api.closeFrame();
            },
            handleCloseFilterPopup:function(){
                var _this = this;
                api.sendEvent({
                    name: param.origin
                });
                api.closeFrame();
            }

        },
        computed: {
            currToday: function() {
                if(this.startDate === funcGetThisToday().startDate && this.endDate === funcGetThisToday().endDate){
                    return true;
                }
                return false;
            },
            currWeek: function() {
                if(this.startDate === funcGetThisWeek().startDate && this.endDate === funcGetThisWeek().endDate){
                    return true;
                }
                return false;
            },
            currMonth: function() {
                if(this.startDate === funcGetThisMonth().startDate && this.endDate === funcGetThisMonth().endDate){
                    return true;
                }
                return false;
            },
            currYear: function() {
                if(this.startDate === funcGetThisYear().startDate && this.endDate === funcGetThisYear().endDate){
                    return true;
                }
                return false;
            }
        }
    })
}
</script>
</html>
