<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户来源筛选</title>
    <script src="../../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="./filterpopup.css" />
</head>

<body>
    <div id="wrapper">
        <div class="w-filter-popup" @click.stop="handleCloseFilterPopup">
            <div class="w-filter-pop2 clear">
                <div class="left fl">
                    <ul>
                        <li>公司资源</li>
                        <li class="curr">销售资源</li>
                        <li>渠道资源</li>
                        <li>资源池</li>
                    </ul>
                </div>
                <div class="right fl">
                    <ul>
                        <li class="curr">全部</li>
                        <li>公司网络资源</li>
                        <li>公司参与展会</li>
                        <li>公司渠道资源</li>
                        <li>公司组织活动</li>
                        <li>移民推荐</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../script/lib/api.js"></script>
<script type="text/javascript" src="../../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../../script/lib/vue.min.js"></script>
<script>
    apiready = function(){
        var param = api.pageParam;
        new Vue({
            el:'#wrapper',
            data:{
                customerStatusList:[],
                currSelected:'',
            },
            mounted:function(){
                this.customerStatusList = param.classifyData ? JSON.parse(param.classifyData) : [];
                this.currSelected = param.currSelected;
            },
            methods:{
                // 筛选客户状态
                handlePitchStatus:function(val){
                    var _this = this;
                    this.currSelected = val;
                    api.sendEvent({
                        name: param.origin,
                        extra: {
                            status:val
                        }
                    });
                    api.closeFrame();
                },
                handleCloseFilterPopup:function(){
                    var _this = this;
                    api.sendEvent({
                        name: param.origin
                    });
                    api.closeFrame();
                }
            }
        })
    }
</script>
</html>
