<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跟进记录</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/follow/follow_record.css" />
    <style>
        .follow-wrapper{
            min-height: 0;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="follow-wrapper" class="follow-wrapper" v-cloak>
        <div class="follow-header">
            <div class="fh-fixed flex-wrap flex-between" id="fh-fixed">
                <div class="left back" @click="handleBack"></div>
                <div class="center">跟进记录</div>
                <div class="right" @click.stop="handleSaveFollowContent">确认</div>
            </div>
            <div class="fh-place" id="fh-place"></div>
        </div>
        <div class="follow-box follow-box4">
            <div class="follow-content default"><textarea placeholder="跟进内容..." @focus.stop="handleFollowContentFocus" v-model="followContent" id="inp-textarea"></textarea><span v-if="isShowContentDelete" class="del-icon" @click.stop="handleCleanFollowContent"></span></div>
            <div class="follow-shortcut-choose-box">
                <ul class="follow-shortcut-choose clear">
                    <li
                        class="fl"
                        v-for="(scLis,i) in shortcutList"
                        :key="i"
                        @click="handleChooseShortCutFollowContent(scLis.content)"
                        v-text="scLis.content"
                    ></li>
                </ul>
            </div>
        </div>
        <!-- 语音和文字输入按钮 -->
        <div class="footer-box">
            <div class="foot-t clear" id="foot-t">
                <div class="left fl" :class="{'curr':isKeyboardCurr}" id="keyboard-input" @click="handleSwitchInputWay($event,0)">
                    <span></span>
                </div>
                <div class="right fr" :class="{'curr':isAudioCurr}" id="audio-input" @click="handleSwitchInputWay($event,1)">
                    <span></span>
                </div>
            </div>
            <div class="foot-b  follow-popup" id="foot-b" v-show="isAudioCurr">
                <div class="start-talk " id="start-talk" v-show="!isRunningAudio">
                    <div class="st-txt">
                        点击说话
                    </div>
                    <div class="st-icon" @click.stop="handleStartTalk"></div>
                </div>
                <div class="run-talk" id="run-talk" v-show="isRunningAudio">
                    <div class="rt-time flex-wrap flex-center">
                        <span class="start-taste-line mr">
                          <hr class="hr hr1">
                          <hr class="hr hr2">
                          <hr class="hr hr3">
                          <hr class="hr hr4">
                          <hr class="hr hr5">
                          <hr class="hr hr6">
                          <hr class="hr hr7">
                          <hr class="hr hr8">
                          <hr class="hr hr9">
                          <hr class="hr hr10">
                        </span>
                        <b>{{audioTime|audioTimeFilter}}</b>
                        <span class="start-taste-line ml">
                          <hr class="hr hr1">
                          <hr class="hr hr2">
                          <hr class="hr hr3">
                          <hr class="hr hr4">
                          <hr class="hr hr5">
                          <hr class="hr hr6">
                          <hr class="hr hr7">
                          <hr class="hr hr8">
                          <hr class="hr hr9">
                          <hr class="hr hr10">
                        </span>
                    </div>
                    <div class="rt-icon"></div>
                    <div class="rt-btn bor-1px-t flex-wrap flex-center">
                        <div class="again-btn bor-1px-r" @click="handleAgainAudio">重录</div>
                        <div class="finish-btn" @click="handleSureAudio">确定</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-bg follow-popup" style="display:none;" id="popup-bg"></div>
        <div class="delete-popup follow-popup" id="delete-popup" style="display:none;">
            <div class="delete-cap bor-1px-b">确认清空吗？</div>
            <div class="delete-clean bor-1px-b" @click.stop="handleSureCleanFollowContent">清空</div>
            <div class="delete-cancel bor-1px-t" @click.stop="funcHideAllPopup">取消</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript">
    var followRecordV = null;
    apiready = function(){
        $api.fixStatusBar($('#fh-fixed')[0]);
        $api.fixStatusBar($('#fh-place')[0]);
        api.addEventListener({
            name: 'keyback'
        }, function(ret, err){
            followRecordV.handleBack();
        });

        var param = api.pageParam;
        followRecordV = new Vue({
            el:'#follow-wrapper',
            data:{
                followContent:'',
                initFollowContent:'',
                shortcutList:[],
                isKeyboardCurr:false,
                isAudioCurr:false,
                isRunningAudio:false,
                audioTime:0,
                audioIntervalTimer:null
            },
            mounted:function(){
                this.init();
            },
            filters:{
                audioTimeFilter:function(n){
                    if(n == 0){
                        return '0:00'
                    }
                    else{
                        var m = Math.floor(n / 60);
                        var s = ((n % 60) + '').length == 1 ? '0'+(n % 60) : (n % 60);
                        return m + ':' + s;
                    }
                }
            },
            methods:{
                init:function(){
                    var _this = this;
                    this.followContent = param.content;
                    this.initFollowContent = param.content;
                    this.shortcutList = param.shortcutList;
                    // this.$nextTick(function(){
                    //     setTimeout(function(){
                    //         $('#inp-textarea').focus();
                    //     },100)
                    // })
                },
                // 选择快捷跟进
                handleChooseShortCutFollowContent:function(content){
                    this.followContent += content;
                },
                funcHideAllPopup:function(){
                    $('.follow-popup').hide();
                },
                // 情况编辑的内容
                handleCleanFollowContent:function(){
                    $('#popup-bg,#delete-popup').show();
                    this.isAudioCurr = false;
                },
                // 确认清空内容
                handleSureCleanFollowContent:function(){
                    this.followContent = '';
                    this.funcHideAllPopup();
                },
                // 输入框获取焦点
                handleFollowContentFocus:function(){
                    var _this = this;
                    this.isAudioCurr = false;
                    setTimeout(function(){
                        _this.isKeyboardCurr = true;
                    },80)
                },
                // 切换输入方式
                handleSwitchInputWay:function(e,i){
                    var tag = e.currentTarget,
                        _this = this;
                    // 点击的文字输入
                    if(i === 0){
                        if(!$(tag).hasClass('curr')){
                            $('#inp-textarea').focus();
                            this.isAudioCurr = false;
                            setTimeout(function(){
                                _this.isKeyboardCurr = true;
                            },80)
                        }
                    }
                    // 语音输入
                    else{
                        this.isKeyboardCurr = false;
                        setTimeout(function(){
                            _this.isAudioCurr = true;
                        },100)
                    }
                },
                // 点击说话
                handleStartTalk:function(){
                    var _this = this;
                    this.isRunningAudio = true;
                    this.audioIntervalTimer = setInterval(function(){
                        _this.audioTime++;
                    },1000);
                },
                // 重录
                handleAgainAudio:function(){

                },
                // 确定
                handleSureAudio:function(){

                },
                // 返回
                handleBack:function(){
                    if(this.followContent === this.initFollowContent){
                        api.closeWin();
                    }
                    else{
                        wDialog.confirm({
                            msg:'检测到你编辑了当前的内容，确定是否要退出？',
                            button:['是','否'],
                            sureCb:function(){
                                api.closeWin();
                            }
                        })
                    }
                },
                // 确认编辑的内容
                handleSaveFollowContent:function(){
                    api.execScript({
                        name: 'followRecord',
                        script: 'funcSureFollowContent(\''+this.followContent+'\');'
                    });
                    api.closeWin();
                }
            },
            computed:{
                isShowContentDelete:function(){
                    return this.followContent != '';
                }
            }
        });
    }
</script>
</html>
