<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跟进记录</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/lib/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../../css/follow/follow_record.css" />
    <style>
        .follow-wrapper {
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="follow-wrapper" class="follow-wrapper" v-cloak @touchmove.stop.prevent>
        <div class="follow-header">
            <div class="fh-fixed flex-wrap flex-between" id="fh-fixed">
                <div class="left back" @click.stop.prevent="handleBack"></div>
                <div class="center">跟进记录</div>
                <div class="right" @click.stop.prevent="handleSaveFollowContent">确定</div>
            </div>
            <div class="fh-place" id="fh-place"></div>
        </div>
        <div class="follow-box follow-box4">
            <div class="follow-content default">
                <textarea placeholder="跟进内容..." @focus.stop.prevent="handleFollowContentFocus" @click.stop v-model="followContent" id="inp-textarea" @blur.stop.prevent="handleFollowContentBlur" ref="followTextarea"></textarea>
                <span v-if="isShowContentDelete" class="del-icon" @click.stop.prevent="handleCleanFollowContent"></span>
            </div>
            <div class="follow-shortcut-choose-box">
                <ul class="follow-shortcut-choose clear">
                    <li class="fl" v-for="(scLis,i) in shortcutList" :key="i" @click="handleChooseShortCutFollowContent(scLis.content)" v-text="scLis.content"></li>
                    <li class="fl follow-choose-more" @click.stop="handleSkipFollowMore">更多<i></i></li>
                </ul>
            </div>
        </div>
        <!-- 语音和文字输入按钮 -->
        <div class="footer-box">
            <div class="foot-t flex-wrap" id="foot-t">
                <div class="left flex-con" :class="{'curr':isKeyboardCurr}" id="keyboard-input" @click.stop.prevent="handleSwitchInputWay($event,0)">
                    <span></span>
                </div>
                <div class="right flex-con" :class="{'curr':isAudioCurr}" id="audio-input" @click.stop.prevent="handleSwitchInputWay($event,1)">
                    <span></span>
                </div>
            </div>
            <div class="foot-b follow-popup" id="foot-b" v-show="isAudioCurr">
                <div class="start-talk " id="start-talk" v-show="!isRunningAudio">
                    <div class="st-txt">
                        点击说话
                    </div>
                    <div class="st-icon" @click.stop="handleStartTalk"></div>
                </div>
                <div class="run-talk" id="run-talk" v-show="isRunningAudio">
                    <div class="st-txt"></div>
                    <div class="rt-icon">
                        <span><i :style="'height:'+volumeHeight*2+'px'"></i></span>
                    </div>
                    <div class="rt-btn bor-1px-t flex-wrap flex-center">
                        <div class="finish-btn" @click="handleTalkFinsihAudio">说完了</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-bg follow-popup" style="display:none;" id="popup-bg"></div>
        <div class="delete-popup follow-popup" id="delete-popup" style="display:none;">
            <div class="delete-cap bor-1px-b">确定清空吗？</div>
            <div class="delete-clean bor-1px-b" @click.stop.prevent="handleSureCleanFollowContent">清空</div>
            <div class="delete-palce"></div>
            <div class="delete-cancel bor-1px-t" @click.stop.prevent="funcHideAllPopup">取消</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/dialog.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript">
    var followRecordV = null;
    if(isIphoneX()){
        $('#delete-popup').css('padding-bottom','32px');
    }
    apiready = function() {
        var voiceRecognizer = api.require('voiceRecognizer');
        // 系统键盘隐藏的回调
        // IOS 有效
        api.addEventListener({
            name: 'keyboardhide'
        }, function(ret, err){
            if(followRecordV.isKeyboardCurr){
                $('#foot-t').css({
                    'padding-bottom':'32px',
                })
            }
        });
        // 系统键盘弹出
        api.addEventListener({
            name: 'keyboardshow'
        }, function(ret, err){
            $('#foot-t').css({
                'padding-bottom':ret.h+'px',
            })
        });


        if(!isIos()){
            voiceRecognizer.createUtility({
                android_appid:'5cd92221',
                ios_appid:'5cd9220a'
            }, function(ret, err) {
                if(ret.status){
                    console.log('讯飞语音识别初始化成功')
                }
            });
        }
        // 语音识别配置
        voiceRecognizer.recognizeConfig({
            config: {
                timeout: '60000',
                dot: true
            }
        }, function(ret) {
            // console.log(JSON.stringify(ret))
            if (ret.status) {
                console.log('语音识别配置成功')
            } else {
                wDialog.toast({
                    msg: '语音初始化失败'
                });
                $('#audio-input').hide();
                $('#keyboard-input').css('padding', 0);
                followRecordV.isAudioCurr = false;
            }
        });
        // 添加监听音量
        voiceRecognizer.addHUD({
            center: {
                x: -200,
                y: -200
            },
            gradientColor: {
                top: 'rgba(0,0,0,0)',
                bottom: 'rgba(0,0,0,0)'
            },
            orientation: 'left_right',
            target: 'recognizer',
            bg: 'rgba(0,0,0,0)',
        }, function(ret) {
            // console.log(JSON.stringify(ret))
        });
        // 监听
        voiceRecognizer.addEventListener({
            name: 'recognizeResult',
            realTime: true
        }, function(ret) {
            console.log('recognizeResult--------->' + JSON.stringify(ret))
            if (ret.recognizeResult) {
                followRecordV.funcListenerRecord(ret.recognizeResult.result || '', ret.recognizeResult.isLast)
            } else {
                followRecordV.funcListenerRecord('', false)
            }
        });
        // 监听
        voiceRecognizer.addEventListener({
            name: 'beginOfSpeech',
            realTime: true
        }, function(ret) {
            console.log('beginOfSpeech--------->' + JSON.stringify(ret))
        });
        // 监听 自动录音结束
        voiceRecognizer.addEventListener({
            name: 'onEndOfSpeech',
            realTime: true
        }, function(ret) {
            followRecordV.funcListenerRecord('', true)
        });
        // 监听
        voiceRecognizer.addEventListener({
            name: 'volume'
        }, function(ret) {
            followRecordV.volumeHeight = ret.volume;
        });
        $api.fixStatusBar($('#fh-fixed')[0]);
        $api.fixStatusBar($('#fh-place')[0]);
        api.addEventListener({
            name: 'keyback'
        }, function(ret, err) {
            followRecordV.handleBack();
        });

        api.addEventListener({
            name: 'chooseFollowText'
        }, function(ret, err){
            if( ret ){
                 console.log( JSON.stringify( ret ) );
                 if(ret.value.sendOrigin === 'followRecordTxt'){
                     followRecordV.followContent = ret.value.txt;
                 }
            }
        });
        var param = api.pageParam;
        followRecordV = new Vue({
            el: '#follow-wrapper',
            data: {
                followContent: '',
                initFollowContent: '',
                shortcutList: [],
                isKeyboardCurr: false,
                isAudioCurr: true,
                isRunningAudio: false,
                volumeHeight: 0, // 声音大小,高度
                selectionStart: 0,
                selectionEnd: 0,
                wordStr: '', //识别的文字
                userInfo: {},
                fContentFront: '',
                fContentBehind: '',
                nameTitle1:''
            },
            mounted: function() {
                this.init();
            },
            methods: {
                init: function() {
                    var _this = this;
                    this.followContent = param.content;
                    this.initFollowContent = param.content;
                    this.shortcutList = param.shortcutList;
                    // 获取用户信息
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                },
                // 跳转快捷用语
                handleSkipFollowMore:function(){
                  api.openWin({
                      name: 'followRecordMore',
                      url: './follow_record_more.html',
                      allowEdit:true,
                      slidBackEnabled: false,
                      pageParam:{
                          origin:'followRecordTxt'
                      }
                  });
                },
                // 选择快捷跟进
                handleChooseShortCutFollowContent: function(content) {
                    this.followContent += content;
                },
                funcHideAllPopup: function() {
                    $('.follow-popup').hide();
                },
                // 情况编辑的内容
                handleCleanFollowContent: function() {
                    $('#popup-bg,#delete-popup').show();
                    this.isAudioCurr = false;
                },
                // 确定清空内容
                handleSureCleanFollowContent: function() {
                    this.followContent = '';
                    this.wordStr = '';
                    this.funcHideAllPopup();
                },
                // 输入框获取焦点
                handleFollowContentFocus: function() {
                    var _this = this;
                    this.isAudioCurr = false;
                    setTimeout(function() {
                        _this.isKeyboardCurr = true;
                        _this.funcStopRecord();
                    }, 80)
                },
                // 失去焦点，获取光标位置
                handleFollowContentBlur: function() {
                    var eleText = this.$refs.followTextarea;
                    this.selectionStart = eleText.selectionStart;
                    this.selectionEnd = eleText.selectionEnd;
                },
                // 切换输入方式
                handleSwitchInputWay: function(e, i) {
                    var tag = e.currentTarget,
                        _this = this;
                    // 点击的文字输入
                    if (i === 0) {
                        if (!$(tag).hasClass('curr')) {
                            $('#inp-textarea').focus();
                        }
                    }
                    // 语音输入
                    else {
                        this.isKeyboardCurr = false;
                        $('#foot-t').css({
                            'padding-bottom':'0',
                        })
                        setTimeout(function() {
                            _this.isAudioCurr = true;
                        }, 100)
                    }
                },
                // 点击说话
                handleStartTalk: function() {
                    var _this = this;
                    this.isRunningAudio = true;
                    this.funcStartVoiceText();
                    this.funcGetVolume();
                },
                // 说完了
                handleTalkFinsihAudio: function() {
                    this.funcStopRecord();
                },
                // 开始语音识别
                funcStartVoiceText: function() {
                    var _this = this;
                    this.volumeHeight = 0;
                    voiceRecognizer.recognizeStart(function(ret) {
                        if (ret.status) {
                            console.log('语音识别开始成功')
                        }
                    });
                    this.fContentFront = this.followContent.slice(0, this.selectionStart);
                    this.fContentBehind = this.followContent.slice(this.selectionEnd)
                },
                // 于是记录
                funcListenerRecord(txt, isLast) {
                    this.fContentFront = this.followContent.slice(0, this.selectionStart);
                    this.fContentBehind = this.followContent.slice(this.selectionEnd);
                    this.followContent = this.fContentFront + txt + this.fContentBehind;
                    this.selectionStart = this.selectionEnd = (this.fContentFront + txt).length;
                    if (isLast) {
                        this.funcStopRecord();
                    } else {}
                },
                //获取到声音的大小
                funcGetVolume: function() {
                    var _this = this;
                    voiceRecognizer.hideHUD();
                    voiceRecognizer.closeHUD();
                },
                // 停止录音
                funcStopRecord: function() {
                    this.isRunningAudio = false;
                    voiceRecognizer.recognizeStop();
                },
                // 返回
                handleBack: function() {
                    if (this.followContent === this.initFollowContent) {
                        api.closeWin();
                        voiceRecognizer.recognizeStop();
                    } else {
                        wDialog.confirm({
                            msg: '是否放弃当前编辑？',
                            button: ['是', '否'],
                            sureCb: function() {
                                api.closeWin();
                                voiceRecognizer.recognizeStop();
                            }
                        })
                    }
                },
                // 确定编辑的内容
                handleSaveFollowContent: function() {
                    api.execScript({
                        name: 'followRecord',
                        script: 'funcSureFollowContent(\'' + encodeURI(this.followContent) + '\');'
                    });
                    setTimeout(function() {
                        api.closeWin();
                        voiceRecognizer.recognizeStop();
                    }, 200);
                }
            },
            computed: {
                isShowContentDelete: function() {
                    return this.followContent != '';
                }
            }
        });
    }
</script>

</html>
