<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心-账号中心</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/lib/vant.css" />
    <link rel="stylesheet" type="text/css" href="../../css/person/assount.css" />

</head>
<body>
    <!-- 头部 -->
  <div id="wrap">
      <div class="header" id="header">
          <div class="back" @click="back"><img src="../../image/icon-dh-fanhui.png"></div>
          <div class="title"> 账号安全</div>
      </div>
      <div id="main" class="flex-con">
          <div class="form-div form_div">
              <div class="row flex-wrap flex-align">
                  <span class="label">新密码</span>
                  <div class="input-box flex-con"><input type="password" maxlength="11" placeholder="请输入新密码" v-model="newPwd"></div>
              </div>
              <div class="row flex-wrap flex-align">
                  <span class="label">确认密码</span>
                  <div class="input-box flex-con input_pasd"><input type="password" maxlength="16" placeholder="请再次确认新密码" v-model="pwd" ></div>
              </div>
              <div class="be_careful">注意：两次输入的密码需要保持一致，密码长度为8-20位数字和字母的组合</div>
              <div class="submit-btn space-between" @click="confirm">
                  <div class="text-align">确认</div>
              </div>
          </div>
      </div>

      <!-- 短信验证码 -->
      <div class="verification_code">
         <div class="shade"></div>
         <div class="content">
             <div class="content_code">
                 <div class="close right"><img src="../../image/icon-dh-guanbi.png"></div>
                 <div class="short_message">短信验证</div>
                 <div class="text_tel">
                     查看微信需要短信确认，验证码已发送至您的手机<span>152****0654</span> <span class="timer_r">60s</span>
                 </div>
                 <div class="tel_num">
                     <label for="code">
                       <ul class="security-code-container">
                           <li class="field-wrap" v-for="(item, index) in number" :key="index">
                            <i class="char-field">{{value[index]}}</i>
                           </li>
                       </ul>
                      </label>
                      <input ref="input" class="input-code" @keyup="handleInput($event)" v-model="value"
                        id="code" name="code" type="tel" :maxlength="number"
                        autocorrect="off" autocomplete="off" autocapitalize="off">
                  </div>
                  <div class="submit space-between">
                      <div class="text-align" :class="{'submitClick' : isActive}">立即验证</div>
                  </div>
             </div>
         </div>
      </div>
  </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/fastclick.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vant.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    // apiready = function(){
    //     console.log('index')
    // }
    new Vue({
            el: '#wrap',
            data: {
                newPwd:'',
                pwd:'',
                show: true,
                value: '',
                isActive :false,
            },
            props: {
              number: {
              type: Number,
              default: 6
              },
             },
            methods: {
                confirm:function(){
                     var self = this;
                      var pwdExp = new RegExp("^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$");
                      if (self.newPwd == "" || self.newPwd == null || self.newPwd == undefined) {
                          alert("请输入新密码1111111")
                           return fasle
                      } else if (!pwdExp.test(self.newPwd)) {
                          alert("请输入密码55555")
                           return fasle
                      };
                      if (self.pwd == "" || self.pwd == null || self.pwd == undefined) {
                          alert("请确认新密码")
                           return fasle
                      } else if (!pwdExp.test(self.pwd)) {
                          alert("请输入密码33333")
                           return fasle
                      };
                      if(self.newPwd == ""||self.pwd == "" ||(!pwdExp.test(self.pwd))){
                          if(self.newPwd!=self.pwd){
                              alert("密码不一致")
                               return fasle
                          }
                      }else {
                          alert("确认")
                      }

                },
                back:function(){
                    history.back(-1)
                },
                // hideKeyboard() {
                //   // 输入完成隐藏键盘
                //   document.activeElement.blur() // ios隐藏键盘
                //   this.$refs.input.blur() // android隐藏键盘
                //   },
                  handleSubmit() {
                  this.$emit('input', this.value)
                  },
                  handleInput(e) {
                  this.$refs.input.value = this.value
                  if (this.value.length >= this.number) {
                //    this.hideKeyboard()
                  this.isActive = true;
                  }else{
                      this.isActive = false;
                  }
                  this.handleSubmit()
                  }
            },
            filters: {
                hideMiddle(val) {
                    return `${val.substring(0,3)}****${val.substring(val.length-3)}`
                }
            }
        })
</script>
</html>
