<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心-首页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/person/person.css" />
</head>

<body>
    <!-- 头部 -->
    <div id="wrap">
        <div class="header_pel header">
            <div class=header_title>个人中心</div>
        </div>
        <section>
            <div class="header_main">
                <div class="header_text">
                    <div class="flex_con">
                        <div class="name" v-text="name"></div>
                        <div class="post" v-if="post_pos" v-text="post_pos"></div>
                    </div>
                    <div class="flex_con contact_number">
                        <div class="cont_tel">
                            <span>工作号:</span>
                            <span v-text="tel" class="w-event-none"></span>
                        </div>
                        <div class="Authentication_tel">
                            <img src="../../image/icon-rz.png">
                        </div>
                    </div>
                    <!-- <div class="flex_con contact_set">
                        <div class="cont_tel">
                            <span>接听号:</span>
                            <span class="not_set" v-if="!answernum">未设置</span>
                            <span class="ready_set" v-if="answernum" v-text="answernum"></span>
                        </div>
                        <div class="Authentication_edit" @click="setting_tel" v-if="!answernum">
                            <img src="../../image/icon-bianji.png">
                        </div>
                    </div> -->
                </div>
            </div>
            <div id="main" class="main">
                <div class="main_box">
                    <div class="person_center account_security">
                        <div class="account_left">
                            <div><img src="../../image/icon-gr-zh.png"></div>
                        </div>
                        <div class="account_rig" @click="account">
                            <span>账号安全</span>
                            <div><img src="../../image/icon-gr-jiantou.png"></div>
                        </div>
                    </div>
                    <!-- <div class="person_center account_security">
                        <div class="account_left">
                            <div><img src="../../image/icon-dx-set.png"></div>
                        </div>
                        <div class="account_rig" @click="skipNoteSet">
                            <span>短信通知</span>
                            <div><img src="../../image/icon-gr-jiantou.png"></div>
                        </div>
                    </div> -->
                    <!-- <div class="person_center account_security">
                        <div class="account_left">
                            <div><img src="../../image/icon-gr-sz.png"></div>

                        </div>
                        <div class="account_rig" @click="message">
                            <span>消息设置</span>
                            <div><img src="../../image/icon-gr-jiantou.png"></div>
                        </div>
                    </div> -->
                    <div class="person_center account_security">
                        <div class="account_left">
                            <div><img src="../../image/icon-gr-xx.png"></div>

                        </div>
                        <div class="account_rig" @click="skipMessageList">
                            <span>消息中心</span>
                            <div><img src="../../image/icon-gr-jiantou.png"></div>
                        </div>
                    </div>
                    <!-- <div class="person_center account_security">
                        <div class="account_left">
                            <div><img src="../../image/icon-gr-gy.png"></div>
                        </div>
                        <div class="account_rig underline_rig" @click="about">
                            <span>关于客脉</span>
                            <div><img src="../../image/icon-gr-jiantou.png"></div>
                        </div>
                    </div> -->
                    <div class="person_center account_security">
                        <div class="account_left">
                            <div><img src="../../image/icon-gy-bj.png"></div>
                        </div>
                        <div class="account_rig underline_rig" @click="aboutLocal">
                            <span>设备信息</span>
                            <div><img src="../../image/icon-gr-jiantou.png"></div>
                        </div>
                    </div>
                </div>

                <div class="submit-btn space-between" @click="withdraw_account">
                    <div class="text-align">退出账号</div>
                </div>
            </div>
        </section>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/fastclick.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/speed-toast.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var indexV = null;
    apiready = function() {
        $api.fixStatusBar($('.header')[0]);
        $api.fixStatusBar($('.header_title')[0]);
        // 监听设置成功
        api.addEventListener({
            name: 'setJtPhoneSuc'
        }, function(ret, err) {
            indexV.getUserInfo();
        });
        // 监听登陆成功
        api.addEventListener({
            name: 'loginSuc'
        }, function(ret, err) {
            if (ret.value.origin != 'index') {
                indexV.init();
                indexV.getUserInfo();
            }
        });
        // 监听登陆成功
        api.addEventListener({
            name: 'loginSuc'
        }, function(ret, err) {
            if (ret.value.origin != 'index') {
                indexV.init();
                indexV.getUserInfo();
            }
        });
        // 监听token，
        indexV = new Vue({
            el: '#wrap',
            data: {
                name: '',
                post_pos: '',
                tel: "",
                userInfo: '',
                answernum: '', // 接听号
            },
            mounted: function() {
                this.getUserInfo();
            },
            methods: {
                init: function() {
                    var _this = this;
                    _this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    })
                    _this.userInfo = _this.userInfo != '' ? JSON.parse(_this.userInfo) : {}; //判断是否为空
                },
                account: function() {
                    wHrefJs.openWin({
                        name: 'account',
                        path: './account.html',
                    })
                },
                message: function() {
                    wHrefJs.openWin({
                        name: 'message',
                        path: './message.html',
                    })
                },
                about: function() {
                    wHrefJs.openWin({
                        name: 'about',
                        path: './about.html',
                    })
                },
                aboutLocal:function(){
                    wHrefJs.openWin({
                        name: 'aboutLocal',
                        path: './about_local.html',
                    })
                },
                setting_tel: function() {
                    wHrefJs.openWin({
                        name: 'setUp',
                        path: './set_up.html',
                    })
                },
                skipNoteSet: function() {
                    wHrefJs.openWin({
                        name: 'noteSet',
                        path: '../note/note_set.html',
                    });
                },
                // 跳转到消息中心
                skipMessageList:function(){
                    wHrefJs.openWin({
                        name: 'messageList',
                        path: './message_list.html',
                    });
                },
                getUserInfo: function() {
                    var _this = this;
                    this.init();
                    wApiAjax({
                        method: "get",
                        url: 'perCenter/info',
                        withCredentials: true,
                        headers: {
                            "token": TOKEN_DATA,
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid,
                        },
                        success: function(res) {
                            // console.log('个人中心信息：-----'+JSON.stringify(res))
                            if (res.code == 200) {
                                _this.name = res.info.name;
                                _this.post_pos = res.info.job;
                                _this.tel = res.info.phone;
                                _this.answernum = res.info.answernum;
                            } else {
                                wDialog.toast({
                                    msg: res.msg
                                })
                            }

                        }
                    })
                },
                withdraw_account: function() {
                    var _this = this
                    wDialog.confirm({
                        msg: '确认要退出登录吗？',
                        sureCb: function() {
                            TOKEN_DATA = myLocalStorage.getItem('token')
                            wApiAjax({
                                method: "get",
                                url: 'perCenter/logout',
                                headers: {
                                    "token": TOKEN_DATA,
                                },
                                data: {
                                    employeeid: _this.userInfo.employeeid,
                                },
                                success: function(res) {
                                    console.log(JSON.stringify(res))
                                    if (res.code == 200) {
                                        // 清除推送
                                        var ajpush = api.require('ajpush');
                                        ajpush.bindAliasAndTags({
                                            alias:'',
                                        },function(res){
                                            // 设置别名
                                            if(res.statusCode == 0){

                                            }
                                        })
                                        wPref.removePrefs({
                                            key: 'isLogin'
                                        })
                                        wPref.removePrefs({
                                            key: 'userInfo'
                                        })
                                        myLocalStorage.clearItem('token');
                                        myLocalStorage.clearAll();
                                        wDialog.toast({
                                            msg: '退出成功'
                                        })
                                        api.sendEvent({
                                            name: 'loginOutSuc'
                                        });

                                        setTimeout(function() {
                                            wHrefJs.openWin({
                                                name: 'login',
                                                path: '../login/login.html',
                                                param: {
                                                    origin: 'person'
                                                }
                                            });
                                        }, 300);
                                    }
                                }
                            })
                        },
                        cancelCb: function() {
                            // 取消，不执行
                        }
                    })


                }
            }
        })
    }
    // 获取个人中心信息失败，重新获取
    function refrshPersonData(){
        indexV.init();
        indexV.getUserInfo();
    }
</script>

</html>
