#wrap{
    width:100%;
    height:100%;
    background:white;
}
.header_pel{
   background:url('../../image/img-sy-bg.png')  no-repeat center center;
   background-size:cover;
   height:32vw;
   position: relative;
   width:100%;
   text-align: center;
   -webkit-box-sizing:content-box;
   -moz-box-sizing:content-box;
   -ms-box-sizing:content-box;
   -o-box-sizing:content-box;
   box-sizing:content-box;
}
.header_title{
    height:10.6667vw;
    line-height: 10.6667vw;
    text-align: center;
    font-family: PingFangSC-Medium;
	font-size: 17px;
	letter-spacing: 0px;
	color: white;
}
.header_main{
    width:calc(100% - 30px);
    padding:0 20px;
    margin:auto;
    background-color: white;
    position: relative;
    top: -16vw;
    height:32vw;
    box-shadow: 0px 4px 12px 8px rgba(0, 0, 0, 0.03);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.header_text{
    height:100%;
    background-color: white;
    padding-top: 30px;
}
.flex_con{
    display: flex;
    align-items: center;
}
.name{
    font-family: PingFangSC-Medium;
	font-size: 26px;
	color: #333333;
    line-height: 1em;
    max-width: 72%;
}
@media screen and (max-width:320px) {
    .name{
        font-size: 22px;
    }
}
@media screen and (max-width:360px) {
    .name{
        font-size: 24px;
    }
}
.post{
    margin-left:15px;
    margin-top: 8px;
    padding:2px 4px;
    background-color: #f3a134;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: white;
    font-size: 13px;
	letter-spacing: 0.1px;
    line-height: auto;
}
.contact_number{
    padding-top: 20px;
}
.contact_number span{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	letter-spacing: 0.1px;
	color: #333333;
}
.Authentication_tel{
    width:54px;
    margin-left: 7px;
}
.Authentication_tel>img{
    width:100%;
}
.contact_set{
    padding-top:15px;
}
.contact_set span{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	letter-spacing: 0.1px;
	color: #333333;
}

.not_set{
	color: #666666!important;
}
.ready_set{
	color: #333!important;
    pointer-events: none;
}
.Authentication_edit{
    width: 16px;
	height: 16px;
    margin-left: 10px;
}
.Authentication_edit>img{
    width:100%
}
.main{
    position: relative;
    margin-top:-10.6667vw;
}
.main_box{
    padding:0 20px;
}
.person_center{
    display: flex;
    /*justify-content: space-between;*/
    height:60px;
    align-items: center;
    line-height:60px;
}
.account_left>div{
    width: 24px;
	height: 24px;
	background-color: #1bc030;
	border-radius: 8px;
}
.account_left>div img{
  width:100%;
}
.account_rig span{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.account_rig{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    width: 100%;
    box-shadow: inset 0px -0.5px 0px 0px #e9e9e9;
    -webkit-box-shadow: inset 0px -0.5px 0px 0px #e9e9e9;
    -moz-box-shadow: inset 0px -0.5px 0px 0px #e9e9e9;
    -ms-box-shadow: inset 0px -0.5px 0px 0px #e9e9e9;
    -o-box-shadow: inset 0px -0.5px 0px 0px #e9e9e9;
}
/*.underline_rig{
        box-shadow: inset 0px -0.5px 0px 0px #e9e9e9;
}*/
.account_rig>div img{
    width:16px;
    height:16px;
}
.account_rig img{
    width:100%;
}
.submit-btn{
  margin-top: 30px;
  padding: 0 15px;
}
.submit-btn>div{
    width: 100%;
	height: 48px;
    background-image: linear-gradient(90deg, #085EFF 0%, #0C7FF9 100%);
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    line-height: 48px;
    font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: white;
}

/*接听号设置*/
.settings{
    height:42px;
    line-height: 42px;
    padding: 0 15px;
    display: flex;
    /*justify-content: space-between;
    align-items: center;*/
    width: 100%;
    background-color: #fff;
}
.settings .back{
    width: 24px;
	height: 24px;
    position: absolute;
    margin-top:8px;
}
.settings .back img{
    width:100%;
}
.settings .title{
    font-family: PingFangSC-Medium;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
    margin:auto;
}
.settings .preservation{
    font-family: PingFangSC-Medium;
  	font-size: 15px;
  	font-weight: normal;
  	font-stretch: normal;
  	letter-spacing: 0px;-
  	color: #4c9ff8;
}
.settings_tel{
    margin-top: 15px;
    padding:15px 0;
}
.settings_number{
    height: 60px;
    display: flex;
    align-items: center;
    padding:0 15px;
    background-color: #fff;
}
.answer{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
    border-right: 1px solid #ccc;
    line-height: 16px;
    padding: 0 14px 0 0;
}
.input-box>input{
    padding-left: 15px;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.be_careful{
    padding: 15px 15px 0;
    font-family: PingFangSC-Regular;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
