<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增客户-首页</title>
    <!-- <script src="../../script/lib/rem.js"></script> -->
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/lib/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/add_customer.css" />
    <style>
        html,body{
            position: relative;
            height: 100%;
            overflow: auto;
        }
        #add-wrapper{
            position: absolute;
            left: 0;
            top:0;
            width:100%;
            height: 100%;
        }
        .add-box{
            overflow-x:hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>

<body>
    <div id="add-wrapper" class="add-wrapper flex-wrap flex-vertical" v-cloak>
        <div class="add-header">
            <div class="fh-fixed flex-wrap flex-between" id="fh-fixed">
                <div class="left back" @click.stop="handleBack"></div>
                <div class="center">新增客户</div>
                <div class="right"></div>
            </div>
            <div class="fh-place" id="fh-place"></div>
        </div>
        <div class="add-box flex-con">
            <div class="add-form">
                <div class="add-lis">
                    <div class="add-cap">客户姓名</div>
                    <div class="add-inp flex-wrap bor-1px-b">
                        <input type="text" class="flex-con js_listen_focus" placeholder="请输入客户姓名" maxlength="20" v-model="saveFormData.customerName">
                    </div>
                </div>
                <div class="add-lis">
                    <div class="add-cap">手机号码</div>
                    <div class="add-inp flex-wrap bor-1px-b">
                        <input type="number" class="flex-con js_listen_focus" v-model="saveFormData.customerPhone" placeholder="请输入手机号码" @blur.stop="handleBlurGetPhoneAddr">
                        <span class="phone-addr bor-1px-l" v-show="isShowPhoneAddr" style="display:none;">号码归属: {{saveFormData.customerPhoneAddrTxt}}</span>
                    </div>
                </div>
                <div class="add-lis">
                    <div class="add-cap">来源归类</div>
                    <div class="add-switch">
                        <ul class="clear flex-wrap">
                            <li
                                v-for="(cusClass,idx) in customerClassList"
                                :key="idx"
                                @click.stop="handleSwitchCustomerClass(idx,cusClass.value)"
                                v-text="cusClass.name"
                                class="flex-con flex-wrap flex-4h flex-center flex-align-item"
                                :class="{'curr':idx === customerClassCurrIndex}"
                            ></li>
                        </ul>
                    </div>
                </div>
                <div class="add-lis">
                    <div class="add-cap">客户来源</div>
                    <div class="add-select w-elli" @click.stop="handleSkipSelectCustomerOrigin">
                        {{saveFormData.customerOriginTxt.trim() ? saveFormData.customerOriginTxt : '请选择'}}
                    </div>
                </div>
                <div class="add-lis">
                    <div class="add-cap">销售员工</div>
                    <div class="add-select w-elli" @click.stop="handleSkipSelectMarketEmp">
                        {{saveFormData.customerMarketEmpName ? saveFormData.customerMarketEmpName : '请选择'}}
                    </div>
                </div>
                <div class="add-lis">
                    <div class="add-cap">渠道员工</div>
                    <div class="add-select w-elli" @click.stop="handleSkipSelectChannelEmp">
                        {{saveFormData.customerChannelEmpName ? saveFormData.customerChannelEmpName : '请选择'}}
                    </div>
                </div>
                <div class="add-lis">
                    <div class="add-cap">客户备注</div>
                    <div class="add-textarea">
                        <textarea placeholder="描述客户的购买意向、购房需求、沟通内容等" class="js_listen_focus" v-model="customerRemark"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-save-place"></div>
        <div class="add-save">
            <div class="save-btn":class="{'no-event':!isCanSaveFormData}" @click.stop="handleSaveAddCustomer($event)">完成</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/dialog.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var addV = null;
    apiready = function(){
        $api.fixStatusBar($('#fh-fixed')[0]);
        $api.fixStatusBar($('#fh-place')[0]);

        api.addEventListener({
            name: 'keyback'
        }, function(ret, err){
            addV.handleBack();
        });
        // ios 监听键盘弹出
        api.addEventListener({
            name: 'keyboardshow'
        }, function(ret, err){
            document.body.style.overflow = 'hidden';
        });
        // ios 监听键盘隐藏
        api.addEventListener({
            name: 'keyboardhide'
        }, function(ret, err){
            document.body.style.overflow = 'auto';
        });
        addV = new Vue({
            el:'#add-wrapper',
            data:{
                // saveFormData
                saveFormData:{
                    customerName:'',
                    customerPhone:'',
                    customerPhoneAddr:'',
                    customerPhoneAddrTxt:'',
                    customerPhoneAddrId:0,
                    customerClassifyId:'',
                    customerOriginTxt:'',
                    customerMarketEmpName:'',
                    customerMarketEmpId:'',
                    customerChannelEmpName:'',
                    customerChannelEmpId:'',
                },
                customerRemark:'',
                isChannelEmp:false, //是否是渠道部
                isCanSaveFormData:false,
                // customer switch
                customerClassCurrIndex:'',
                customerOriginCurrIndex:'',
                customerClassList:[],
                isShowPhoneAddr:false,

                userInfo:{},
                // 客户来源信息
                saveOriginInfo:{
                    sourceid:'', // 选择的上一级id
                    network:'', //公司网络资源 name
                    channelid:'', // 合作资源
                    showeid:'', // 展会
                    supercustid:'',//老客户介绍id
                },
                initMarketEmpName:'',
                initMarketEmpId:'',
                initChannelEmpName:'',
                initChannelEmpId:'',
            },
            mounted:function(){
                this.userInfo = wPref.getPrefs({
                    key:'userInfo'
                });
                this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                this.fetchCustomerClass();
                this.fetchCustomerEmp();
            },
            watch:{
                saveFormData:{
                    handler:function(nv){
                        // console.log(JSON.stringify(nv))
                        for(var k in nv){
                            if((nv[k]+'').trim() == ''){
                                if(this.isChannelEmp){
                                    this.isCanSaveFormData = false;
                                    return;
                                    break;
                                }else{
                                    if(k !== 'customerChannelEmpName'){
                                        this.isCanSaveFormData = false;
                                        return;
                                        break;
                                    }
                                    else{
                                        this.isCanSaveFormData = true;
                                        return;
                                        break;
                                    }
                                }
                            }
                        }
                        this.isCanSaveFormData = true;
                    },
                    deep:true
                }
            },
            methods:{
                // 获取来源归类数据
                fetchCustomerClass:function(){
                    var _this = this;
                    wDialog.showProgress();
                    wApiAjax({
                        url:'dataSource/resourcetype',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            setTimeout(function(){
                                wDialog.hideProgress();
                            },200)
                            if(res.code == 1){
                                _this.customerClassList = res.data || [];
                            }
                        }
                    })
                },
                // 获取客户的渠道员工和销售员工信息
                fetchCustomerEmp:function(){
                    var _this = this;
                    wApiAjax({
                        url:'customer/addNewCusNeed',
                        headers:{
                            token:TOKEN_DATA
                        },
                        success:function(res){
                            console.log(JSON.stringify(res))
                            if(res.code == 1){
                                if(res.data){
                                    // 销售员工
                                    var marketInfo = res.data[0];
                                    if(marketInfo && marketInfo.marketEmpId){
                                        _this.saveFormData.customerMarketEmpId = marketInfo.marketEmpId;
                                        _this.saveFormData.customerMarketEmpName = marketInfo.market;
                                        _this.initMarketEmpId = marketInfo.marketEmpId;
                                        _this.initMarketEmpName = marketInfo.market;
                                    }
                                    // 渠道员工
                                    var channelInfo = res.data[1];
                                    if(channelInfo && channelInfo.channelEmpId){
                                        _this.saveFormData.customerChannelEmpId = channelInfo.channelEmpId;
                                        _this.saveFormData.customerChannelEmpName = channelInfo.channel;
                                        _this.initChannelEmpId = channelInfo.channelEmpId;
                                        _this.initChannelEmpName = channelInfo.channel;
                                    }
                                }
                            }
                        }
                    })
                },
                handleSkipSelectCustomerOrigin:function(){
                    wHrefJs.openWin({
                        name:'addCustomerSelectOrigin',
                        path:'./add_customer_selectorigin.html',
                        param:{
                            origin:'selectOringin'
                        }
                    })
                },
                handleSkipSelectMarketEmp:function(){
                    wHrefJs.openWin({
                        name:'addCustomerSelectEmp',
                        path:'./add_customer_selectemp.html',
                        param:{
                            origin:'selectMarket'
                        }
                    })
                },
                handleSkipSelectChannelEmp:function(){
                    wHrefJs.openWin({
                        name:'addCustomerSelectEmp',
                        path:'./add_customer_selectemp.html',
                        param:{
                            origin:'selectChannel'
                        }
                    })
                },
                // 失去焦点获取号码归属地
                handleBlurGetPhoneAddr:function(){
                    let _this = this;
                    if(this.saveFormData.customerPhone.trim() == ''){
                        wDialog.toast({
                            msg:'请输入手机号码'
                        })
                        this.isShowPhoneAddr = false;
                        return false;
                    }
                    var phoneExp = /^1[345789]\d{9}$/;
                    if(!phoneExp.test(this.saveFormData.customerPhone.trim())){
                        wDialog.toast({
                            msg:'请输入正确的手机号码'
                        })
                        this.isShowPhoneAddr = false;
                        return false;
                    }
                    wApiAjax({
                        url:'phoneauth/cellPhoneHome',
                        headers:{
                            'token':TOKEN_DATA
                        },
                        data:{
                            cellPhone:_this.saveFormData.customerPhone
                        },
                        success:function(res){
                            console.log(JSON.stringify(res))
                            if(res.code == 200){
                                _this.saveFormData.customerPhoneAddrTxt = res.data;
                                _this.saveFormData.customerPhoneAddr = res.provinceAndcity;
                                _this.saveFormData.customerPhoneAddrId = res.attributionid;
                            }else{
                                wDialog.toast({
                                    msg:res.msg||'号码归属地获取失败'
                                })
                            }
                        }
                    })
                    _this.isShowPhoneAddr = true;
                },
                // 切换来源归类
                handleSwitchCustomerClass:function(i,id){
                    this.customerClassCurrIndex = i;
                    this.saveFormData.customerClassifyId = id;
                },
                // 保存新增
                handleSaveAddCustomer:function(e){
                    var saveData = this.saveFormData;
                    if(saveData.customerName.trim() == ''){
                        wDialog.toast({
                            msg:'请输入客户姓名'
                        });
                        return false;
                    }
                    if(saveData.customerPhone.trim() == ''){
                        wDialog.toast({
                            msg:'请输入手机号码'
                        });
                        return false;
                    }
                    var phoneExp = /^1[345789]\d{9}$/;
                    if(!phoneExp.test(saveData.customerPhone.trim())){
                        wDialog.toast({
                            msg:'请输入正确的手机号码'
                        })
                        return false;
                    }
                    if(saveData.customerClassifyId == ''){
                        wDialog.toast({
                            msg:'请选择来源归类'
                        });
                        return false;
                    }
                    if(saveData.customerOriginTxt == ''){
                        wDialog.toast({
                            msg:'请选择客户来源'
                        });
                        return false;
                    }
                    if(saveData.customerMarketEmpName == ''){
                        wDialog.toast({
                            msg:'请选择销售员工'
                        });
                        return false;
                    }
                    if(this.isChannelEmp && saveData.customerChannelEmpName == ''){
                        wDialog.toast({
                            msg:'渠道部需要关联渠道员工'
                        });
                        return false;
                    }
                    // if(saveData.customerRemark.trim() == ''){
                    //     wDialog.toast({
                    //         msg:'请输入备注'
                    //     });
                    //     return false;
                    // }
                    this.fnSaveAddCustomer();
                },
                handleBack:function(){
                    var isCanBack = true;
                    for(var key in this.saveFormData){
                        if(this.saveFormData[key] != ''){
                            isCanBack = false;
                            break;
                        }
                    }
                    if(!isCanBack){
                        wDialog.confirm({
                            msg: '确定放弃当前编辑吗？',
                            button: ['放弃', '继续编辑'],
                            sureCb: function() {
                                api.closeWin();
                            }
                        })
                    }else{
                        api.closeWin();
                    }
                },
                // 保存新增客户
                fnSaveAddCustomer:function(){
                    var _this = this;
                    wDialog.showProgress({
                        msg:'正在保存中'
                    })
                    console.log('请求的数据===='+JSON.stringify({
                        name:_this.saveFormData.customerName,
                        phone:_this.saveFormData.customerPhone,
                        // 号码归属地
                        attribution:_this.saveFormData.customerPhoneAddr,
                        attributionid:_this.saveFormData.customerPhoneAddrId||0,

                        resourcetype:_this.saveFormData.customerClassifyId,
                        // 客户来源筛选信息
                        sourceid:_this.saveOriginInfo.sourceid, // 选择的上一级id
                        network:_this.saveOriginInfo.network, //公司网络资源 name
                        channelid:_this.saveOriginInfo.channelid, // 合作资源
                        showeid:_this.saveOriginInfo.showeid, // 展会
                        supercustid:_this.saveOriginInfo.supercustid,//老客户介绍id

                        qudaoId:_this.saveFormData.customerChannelEmpId,
                        empId:_this.saveFormData.customerMarketEmpId,
                        comment:_this.customerRemark,
                    }))
                    wApiAjax({
                        url:'customer/saveCus',
                        headers:{
                            'token':TOKEN_DATA
                        },
                        data:{
                            name:_this.saveFormData.customerName,
                            phone:_this.saveFormData.customerPhone,
                            // 号码归属地
                            attribution:_this.saveFormData.customerPhoneAddr,
                            attributionid:_this.saveFormData.customerPhoneAddrId,

                            resourcetype:_this.saveFormData.customerClassifyId,
                            // 客户来源筛选信息
                            sourceid:_this.saveOriginInfo.sourceid, // 选择的上一级id
                            network:_this.saveOriginInfo.network, //公司网络资源 name
                            channelid:_this.saveOriginInfo.channelid, // 合作资源
                            showeid:_this.saveOriginInfo.showeid, // 展会
                            supercustid:_this.saveOriginInfo.supercustid,//老客户介绍id

                            qudaoId:_this.saveFormData.customerChannelEmpId,
                            empId:_this.saveFormData.customerMarketEmpId,
                            comment:_this.customerRemark,
                        },
                        success:function(res){
                            console.log('保存返回的信息====='+JSON.stringify(res))
                            wDialog.hideProgress();
                            if(res.code == 1){
                                wDialog.confirm({
                                    msg:'客户基础信息创建成功,<br />是否继续完善信息？',
                                    button:['继续完善','跳过此步'],
                                    sureCb:function(){
                                        wHrefJs.openWin({
                                            name:'addCustomerPerfect1',
                                            path:'./add_customer_perfect_1.html',
                                            param:{
                                                cusId:res.data.cusId,
                                                demandId:res.data.demandId
                                            }
                                        })
                                    },
                                    cancelCb:function(){
                                        api.closeWin();
                                    }
                                })
                            }else{
                                wDialog.toast({
                                    msg:res.msg||'新增客户保存失败'
                                })
                            }
                        }
                    })
                }
            }
        })
    }
    // 获取销售员工或渠道信息
    function getEmpInfo(empInfo){
        console.log(JSON.stringify(empInfo))
        if(empInfo.origin === 'selectMarket'){
            addV.saveFormData.customerMarketEmpName = empInfo.empName;
            addV.saveFormData.customerMarketEmpId = empInfo.empId;
        }else{
            addV.saveFormData.customerChannelEmpName = empInfo.empName;
            addV.saveFormData.customerChannelEmpId = empInfo.empId;
        }
    }
    // 获取客户来源信息
    function getCustomerOrigin(cusInfo){
        console.log(JSON.stringify(cusInfo))
        if(cusInfo.currOriginOneVal === 2){
            // if(!addV.saveFormData.customerChannelEmpId){
                addV.saveFormData.customerChannelEmpName = addV.initMarketEmpName;
                addV.saveFormData.customerChannelEmpId = addV.initMarketEmpId;
            // }
            addV.isChannelEmp = true;
        }else{
            if(!addV.initChannelEmpId){
                addV.saveFormData.customerChannelEmpName = '';
                addV.saveFormData.customerChannelEmpId = '';
            }
            addV.isChannelEmp = false;
        }
        addV.saveFormData.customerOriginTxt = cusInfo.currOriginOneTxt + ' ' + cusInfo.currOriginTwoTxt + ' '  + cusInfo.currOriginThreeTxt + ' '  + cusInfo.queryName + ' '  + cusInfo.searchName + ' '  + cusInfo.inputName;
        // 获取需要保存的来源信息
        // 公司合作资源
        if(cusInfo.currOriginTwoVal === 17){
            addV.saveOriginInfo.sourceid = cusInfo.currOriginTwoVal;
            addV.saveOriginInfo.channelid = cusInfo.currOriginThreeVal;
        }else{
            if(cusInfo.currOriginThreeVal || cusInfo.currOriginTwoVal ||  cusInfo.currOriginOneVal){
                addV.saveOriginInfo.sourceid = cusInfo.currOriginThreeVal ? cusInfo.currOriginThreeVal : cusInfo.currOriginTwoVal ? cusInfo.currOriginTwoVal : cusInfo.currOriginOneVal;

                // 先把值为空
                addV.saveOriginInfo.supercustid = '';
                addV.saveOriginInfo.channelid = '';
                addV.saveOriginInfo.activity = '';
                addV.saveOriginInfo.showeid = '';
                addV.saveOriginInfo.network = '';
                // 销售渠道合作资源  有协议
                if(cusInfo.currOriginTwoVal === 4 || cusInfo.currOriginTwoVal === 13){
                    addV.saveOriginInfo.channelid = cusInfo.queryValue;
                }
                // 销售渠道 老客户介绍
                if(cusInfo.currOriginTwoVal === 10 || cusInfo.currOriginTwoVal === 14){
                    addV.saveOriginInfo.supercustid = cusInfo.searchValue;
                }
                // 公司 渠道组织活动
                if(cusInfo.currOriginTwoVal === 18 || cusInfo.currOriginTwoVal === 11){
                    addV.saveOriginInfo.activity = cusInfo.queryValue;
                }
                // 公司展会
                if(cusInfo.currOriginTwoVal === 16){
                    addV.saveOriginInfo.showeid = cusInfo.queryValue;
                }
                // 公司资源 网络 其他
                if(cusInfo.currOriginTwoVal === 15 && cusInfo.currOriginThreeVal === 23){
                    addV.saveOriginInfo.network = cusInfo.inputName;
                }
            }else{
                console.log('很有可能没有选择')
            }
        }
        console.log('addV的数据=============='+JSON.stringify(addV.saveOriginInfo))
    }
</script>

</html>
