<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电话-主页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }
        #wrap{
            position: relative;
        }
        .filter-lists .filter-lis.nobelong-mine{
            opacity: .4;
        }
        .filter-lists .filter-lis .filter-lt .cname{
            max-width:30vw;
        }

    </style>
</head>

<body>
    <div id="wrap" v-cloak>
        <div class="filter-lists" v-if="customerDataList && customerDataList.length > 0">
            <div class="filter-lis" v-for="khdata in customerDataList" :key="khdata.id" @click.stop="skipCustomerDetail(khdata.cusId,khdata.cusPhone)">
                <div class="filter-lt flex-wrap flex-between">
                    <div class="flex-wrap filter-lcap flex-con"><span class="cname w-elli" v-text="khdata.cusName"></span><span class="rela-state" :class="[khdata.status == 1?'green-bg':'red-bg']" v-text="khdata.statStr"></span></div>
                    <div class="call-time" v-if="khdata.callTimeStr" v-text="khdata.callTimeStr"></div>
                </div>
                <div class="filter-lb">
                    <div class="lis flb-cls1">号码归属地: <span v-text="khdata.attribution||'未知'"></span></div>
                    <div class="lis flb-cls2">拨打时间: <span v-text="khdata.dialDateStr||'暂无拨打时间'"></span></div>
                </div>
            </div>
            <!-- 无更多数据 -->
            <div class="not-more-filter" id="not-more">没有更多数据</div>
        </div>
        <!-- 空页面 -->
        <empty-con :is-show="customerDataList.length === 0" txt="暂无客户信息"></empty-con>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var callStatFrameV = null;
    apiready = function() {
        var param = api.pageParam;
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: true,
            loadAnimInterval:120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png'
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            //下拉刷新被触发，自动进入加载状态，使用 api.refreshHeaderLoadDone() 手动结束加载中状态
            //下拉刷新被触发，使用 api.refreshHeaderLoadDone() 结束加载中状态
            $('#not-more').hide();
            callStatFrameV.pageNo = 1;
            callStatFrameV.fetchListData(false,api.refreshHeaderLoadDone);
        });
        // 上拉加载更多
        api.addEventListener({
            name: 'scrolltobottom',
            extra:{
                threshold:0
            }
        }, function(ret, err){
            if(callStatFrameV.isHavaMoreData){
                ++callStatFrameV.pageNo
                callStatFrameV.fetchListData(true);
            }else{
                $('#not-more').show();
            }
        });

        // 筛选客户状态
        api.addEventListener({
            name: 'filterCallStat'
        }, function(ret, err){
            var obj = ret.value;
            if(obj){
                if(typeof obj.callStatus != 'undefined'){
                    callStatFrameV.callStatus = obj.callStatus;
                }
                if(typeof obj.sort != 'undefined'){
                    callStatFrameV.currSortSelected = obj.sort;
                    if(obj.sort == 0){
                        callStatFrameV.sortBy = 'call_date';
                        callStatFrameV.sortType = 'desc';
                    }
                    else if(obj.sort == 1){
                        callStatFrameV.sortBy = 'call_date';
                        callStatFrameV.sortType = 'asc';
                    }
                    else if(obj.sort == 2){
                        callStatFrameV.sortBy = 'duration';
                        callStatFrameV.sortType = 'desc';
                    }
                    else if(obj.sort == 3){
                        callStatFrameV.sortBy = 'duration';
                        callStatFrameV.sortType = 'asc';
                    }
                    else{
                        console.log('参数错误')
                    }
                }
                if(typeof obj.startDate != 'undefined'){
                    callStatFrameV.startDate = obj.startDate;
                }
                if(typeof obj.endDate != 'undefined'){
                    callStatFrameV.endDate = obj.endDate;
                }
                $('#not-more').hide();
                callStatFrameV.pageNo = 1;
                callStatFrameV.fetchListData();
            }
            $('.w-filter-lis').removeClass('curr');
        });

        // 跟进成功
        api.addEventListener({
            name: 'followRecordSuccessRefresh'
        }, function(ret, err){
            callStatFrameV.pageNo = 1;
            callStatFrameV.fetchListData();
        });

        // vue实例
        callStatFrameV = new Vue({
            el: '#wrap',
            data: {
                pageNo:1,
                pageSize:10,
                isHavaMoreData:true,
                userInfo:'',
                // 筛选
                callStatus:'',
                currSortSelected:0,
                sortBy:'call_date',
                sortType:'desc',
                startDate:'',
                endDate:'',
                customerDataList:[]
            },
            mounted: function() {
                this.init();
                this.fetchListData();
            },
            methods: {
                init:function(){
                    this.userInfo = wPref.getPrefs({
                        key:'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                    this.startDate = param.startDate;
                    this.endDate = param.endDate;
                    this.callStatus = param.callStatus;
                },
                // 获取页面数据
                fetchListData:function(isLoadMore,callback){
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    wDialog.showProgress();
                    console.log(JSON.stringify({
                        token:TOKEN_DATA,
                        empId:param.empId ? param.empId : _this.userInfo.employeeid,
                        callTimeStart:_this.startDate,
                        callTimeEnd:_this.endDate,
                        callStatus:_this.callStatus,
                        sortType:_this.sortType,
                        sortBy:_this.sortBy,
                        pageNo:_this.pageNo,
                        pageSize:10
                    }))
                    wApiAjax({
                        url:'todayCall/cusDetail',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            token:TOKEN_DATA,
                            empId:param.empId ? param.empId : _this.userInfo.employeeid,
                            callTimeStart:_this.startDate,
                            callTimeEnd:_this.endDate,
                            callStatus:_this.callStatus,
                            sortType:_this.sortType,
                            sortBy:_this.sortBy,
                            pageNo:_this.pageNo,
                            pageSize:10
                        },
                        success:function(res){
                            wDialog.hideProgress();
                            if(res.code == 1){
                                _this.isHavaMoreData = res.data ? res.data.length >= _this.pageSize : false;
                                if(!isLoadMore){
                                    _this.customerDataList = res.data || [];
                                }
                                else{
                                    if(res.data){
                                        _this.customerDataList = _this.customerDataList.concat(res.data);
                                    }
                                }
                            }else{
                                wDialog.toast({
                                    msg:res.message||res.msg
                                })
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail:function(){
                            callback && typeof callback === 'function' && callback();
                        }
                    });
                },
                // 跳转客户详情
                skipCustomerDetail: function(id,phone) {
                    console.log('skip detail  ' + id + '----' + phone);
                    wHrefJs.openWin({
                        name: 'customerDetail',
                        path: '../customer/customer_detail.html',
                        param: {
                            cusId: id,
                            cusPhone:phone,
                            isWork:1
                        }
                    })
                }
            }
        })
    }
</script>

</html>
