<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增客户-主页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }
        #wrap{
            position: relative;
        }
        .filter-lists .filter-lis .filter-lb .lis.flb-cls2{
            color:#ccc;
            line-height: 1.2em;
        }
        .change-allot-btn{
            width: 60px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            margin-top: 9px;
            overflow: hidden;
            background: url('../../image/icon-danxuankuang.png') no-repeat right center;
            background-size:  20px;
        }
        .filter-lists .filter-lis.curr .change-allot-btn{
            background-image: url('../../image/icon-danxuankuangp.png');
        }
        .filter-lists .filter-lis .filter-lt .rela{
            height: 16px;
            line-height: 16px;
            background-color: #f3a135;
            font-size: 13px;
            color:#fff;
            padding:0 4px;
            text-align: center;
            margin-top: 17px;
            margin-left: 2px;
            max-width:90px;
        }
    </style>
</head>

<body>
    <div id="change-person-frame" v-cloak>
        <div class="filter-lists" v-if="employeeList && employeeList.length > 0">
            <div
                v-for="employee in employeeList"
                :key="employee.id"
                class="filter-lis"
                :class="{curr:empId===employee.empid}"
                @click.stop="handleSureAllotEmp(employee.empid)"
            >
                <div class="filter-lt flex-wrap flex-between">
                    <div class="flex-wrap filter-lcap">
                        <span class="cname w-elli" v-text="employee.name"></span>
                        <span class="rela" v-text="employee.rolesname"></span>
                    </div>
                    <div class="change-allot-btn"></div>
                </div>
                <div class="filter-lb">
                    <div class="lis flb-cls1">电话号码: <span v-text="employee.phone"></span></div>
                    <div class="lis flb-cls2"><span>{{employee.regionName}}{{employee.teamName?' | ':''}}{{employee.teamName}}{{employee.groupName?' | ':''}}{{employee.groupName}}</span></div>
                </div>
            </div>
            <!-- 无更多数据 -->
            <div class="not-more-filter" id="not-more">没有更多数据</div>
        </div>
        <!-- 空页面 -->
        <empty-con :is-show="employeeList.length === 0" txt="暂无你查找的客户"></empty-con>
        <!-- 跟进记录弹窗 -->
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var changePersonSearchFrameV = null;
    apiready = function() {
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: false,
            loadAnimInterval: 120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png',
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            //下拉刷新被触发，自动进入加载状态，使用 api.refreshHeaderLoadDone() 手动结束加载中状态
            //下拉刷新被触发，使用 api.refreshHeaderLoadDone() 结束加载中状态
            $('#not-more').hide();
            changePersonSearchFrameV.pageNo = 1;
            changePersonSearchFrameV.fetchAllotEeployee(false, api.refreshHeaderLoadDone);
        });
        // 上拉加载更多
        api.addEventListener({
            name: 'scrolltobottom'
        }, function(ret, err) {
            if (++changePersonSearchFrameV.pageNo <= changePersonSearchFrameV.totalPage) {
                changePersonSearchFrameV.fetchAllotEeployee(true);
            } else {
                $('#not-more').show();
            }
        });
        var param = api.pageParam;
        changePersonSearchFrameV = new Vue({
            el: '#change-person-frame',
            data: {
                // 筛选条件
                search_cusName: '', // 搜索客户名
                employeeList: [], //客户
                empId:'',
                pageNo: 1,
                totalPage: 1,
                userInfo: '',
            },
            mounted: function() {
                this.init();
                this.fetchAllotEeployee();
            },
            methods: {
                init:function(){
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                },
                // 获取今日新增列表
                fetchAllotEeployee: function(isLoadMore, callback) {
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    setTimeout(function(){
                        wDialog.showProgress();
                    },10);
                    wApiAjax({
                        url: 'customer/searchEmp',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            empNameOrPhone:_this.search_cusName,
                            type:param.type,
                            pageNo: _this.pageNo,
                            pageSize: 10
                        },
                        success: function(res) {
                            setTimeout(function(){
                                wDialog.hideProgress();
                            },100);
                            // console.log(JSON.stringify(res))
                            if (res.code == 1) {
                                if (!isLoadMore) {
                                    _this.employeeList = res.data ? res.data : [];
                                    _this.totalPage = Math.ceil(res.count / res.pageSize);
                                } else {
                                    if (res.data) {
                                        _this.employeeList = _this.employeeList.concat(res.data);
                                    }
                                }

                            } else {
                                wDialog.toast({
                                    msg: res.msg
                                })
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail: function() {
                            callback && typeof callback === 'function' && callback();
                        }
                    })
                },
                handleSureAllotEmp:function(eid){
                    this.empId = eid;
                    var _this = this;
                    wDialog.confirm({
                        msg: '确认分配给当前员工吗?',
                        sureCb: function() {
                            wDialog.showProgress({
                                msg: '正在分配中...'
                            })
                            console.log('allot employeed req------' + JSON.stringify({
                                employeeid: _this.empId,
                                customerid: _this.cusId
                            }))
                            wApiAjax({
                                method: "post",
                                url: 'newResource/changeSales',
                                withCredentials: true,
                                headers: {
                                    "token": TOKEN_DATA,
                                },
                                data: {
                                    employeeid: _this.empId,
                                    customerid: param.cusId,
                                    type:param.type === undefined ? 0 : param.type
                                },
                                success: function(res) {
                                    console.log('allot response' + JSON.stringify(res));
                                    wDialog.hideProgress();
                                    if (res.code == 1) {
                                        api.sendEvent({
                                            name: 'allotEmployeeSuccess'
                                        });
                                        wDialog.alert({
                                            msg: '分配成功',
                                            cb: function() {
                                                if(param.origin === 'customerDetail'){
                                                    api.closeToWin({
                                                        name:'customerDetail'
                                                    });
                                                }else{
                                                    api.closeToWin({
                                                        name: 'allotEmployeeHeader'
                                                    });

                                                }
                                            }
                                        });
                                    }
                                }
                            })
                        }
                    })
                }
            }
        });
    }
    // 获取搜索的内容
    function getSearchValue(val) {
        changePersonSearchFrameV.search_cusName = val;
        changePersonSearchFrameV.pageNo = 1;
        changePersonSearchFrameV.fetchAllotEeployee();
    }
    // 清空搜索的内容
    function clearSearchValue() {
        changePersonSearchFrameV.search_cusName = '';
    }
</script>

</html>
