<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>变更销售负责人</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/lib/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/change_person.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <style>
        .follow-wrapper {
            width: 100%;
            height: 100vh;
        }

        .search-emp-box {
            width: 100%;
            height: 56px;
            background-color: #f7f7f7;
            padding: 10px 15px;
            color: #999;
            font-size: 14px;
        }

        .search-emp-box>.search-emp {
            width: 100%;
            height: 36px;
            line-height: 36px;
            background: #fff url('../../image/add_search.png') no-repeat 10px center;
            background-size: 16px;
            border-radius: 4px;
            padding-left: 30px;
            padding-right: 20px;
        }
        h2{
            height: 40px;
        }
        h2:nth-child(odd){
            background-color: #ccc;
        }
        h2:nth-child(even){
            background-color: #f289c2;
        }
    </style>
</head>

<body>
    <div id="change_person" class="follow-wrapper flex-wrap flex-vertical" v-cloak>
        <div class="w-header">
            <div class="w-header-cap">
                <div class="back" onclick="api.closeWin();"></div>
                <div class="w-hcap-txt flex-wrap flex-center"><span class="flex-wrap">{{titleName}}<i></i></span></div>
            </div>
            <div class="search-emp-box" @click.stop="handleSkipSearchChange">
                <div class="search-emp w-elli">请输入员工名称或电话，选择正确的员工信息</div>
            </div>
        </div>
        <div class="change_person_box flex-con">
            <div class="change-person-content">
                <div class="change_person_list" v-for="(list,i) in lists" :key="i">
                    <div class="change_person_city bor-1px-b" @click="list.isShowDetail = !list.isShowDetail">
                        <div class="imgCity">
                            <img src="../../image/icon-jiantou-r.png" v-show="!list.isShowDetail">
                            <img src="../../image/icon-jiantoudown.png" v-show="list.isShowDetail">
                        </div>
                        <div class="text regionName w-elli" v-text="list.regionName"></div>
                    </div>
                    <div class="sale_box" v-if="list.isShowDetail">
                        <div class="sale_list bor-1px-b" v-for="(middleVal,middleKey) in list.teamList" :key="middleKey" @click="handleGetOpenGroup(middleVal.teamid,middleVal.name,list.regionName,list.regionId)">
                            <div class="text_lef">
                                <div><img src="../../image/touxiang-tuandui.png"></div>
                                <div class="groups w-elli">{{middleVal.name}}</div>
                            </div>
                            <div class=img_rig>
                                <img src="../../image/icon-gr-jiantou32.png">
                            </div>
                        </div>
                        <div class="name_person" v-for="(item,j) in list.empList" :key="j" @click="handleSelectEmployee(item.name,item.empid,list.regionName)">
                            <div class="name_lef">
                                <img src="../../image/touxiang-ren.png">
                                <div class="name w-elli">{{item.name}}</div>
                            </div>
                            <div class="img_rig1">
                                <i class="uncheck" :class="{'check' : check1 == item.empid}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="immediate_box bor-1px-t" id="defalut-foot" v-show="isFooter">
            <div class="allocation" v-text="footAllotTxt"></div>
        </div>



        <!-- 选定当前 -->
        <div class="popup_curr bor-1px-t" id="check-foot" v-show="popup_curr" style="display:none;">
            <div class="popup_box">
                <div class="curr_text">
                    <span class="choose">当前选定：</span>
                    <span class="check-txt" v-html="currSelectedEmployeeTxt"></span>
                </div>
            </div>
            <div class="immediate_box1" @click.stop="handleConfirmEmployee">
                <div class="allocation">确定</div>
            </div>
        </div>


        <!-- 弹出分配 -->
        <div class="popup_curr1" v-show="popup_curr1" style="display:none;">
            <div class="mengcheng" @click.stop="popup_curr1 = false;popup_curr = false;isFooter = true; isChooseZzOrg=false;"></div>
            <div class="curr_choose_box" id="check-popup-foot">
                <div class="popup_box_list">
                    <div class="curr_text_name">
                        <div class="w-elli-2">
                            <span class="choose">当前选定：</span>
                            <span class="check-txt" v-html="currSelectedEmployeeTxt"></span>
                        </div>
                    </div>
                </div>
                <div class="all_box">
                    <div class="content_lef">
                        <div class="lists_group" v-if="groupListOrg && groupListOrg.length>0" v-for="(item,a) in groupListOrg" :class="{'curr':currGroupOrgIdx === a}" :key="'org'+a" @click.stop="handleChooseZzOrg(item.gruopName,item.emp,a)">
                            <div>{{item.gruopName}}</div>
                        </div>
                        <div class="flex_cont_img" v-if="groupListPer && groupListPer.length>0" v-for="(item,a) in groupListPer" :key="'per'+a" @click.stop="handleChooseZzPer(item.empid,item.name,a)">
                            <div class="img_rig1">
                                <img src="../../image/icon-danxuankuang.png" v-if="!item.isChecked">
                                <img src="../../image/icon-danxuankuangp.png" v-else>
                            </div>
                            <div class="name">{{item.name}}</div>
                        </div>
                        <div class="empty-box flex-wrap flex-center flex-align-item" v-if="groupListOrg.length === 0 && groupListPer.length === 0">
                            暂无数据
                        </div>
                    </div>
                    <div class="content_rig">
                        <div class="cont_flex" v-for="(crew,i) in crewList" :key="crew.id" @click.stop="handleChooseCrew(crew.id,crew.name,i)">
                            <div class="img_rig1">
                                <img src="../../image/icon-danxuankuang.png" v-if="!crew.isChecked">
                                <img src="../../image/icon-danxuankuangp.png" v-else>
                            </div>
                            <div class="name_title">{{crew.name}}</div>
                        </div>
                        <div class="empty-box flex-wrap flex-center flex-align-item" v-if="crewList.length === 0 && isChooseZzOrg">
                            暂无数据
                        </div>
                    </div>
                </div>
                <div class="immediate_box_pop">
                    <div class="allocation_pop" @click.stop="handleSureAllotYg">确定</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/dialog.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript">
    var followRecordV = null;
    if(isIphoneX()){
        $('#defalut-foot,#check-foot').css('padding-bottom','42px');
        $('#check-popup-foot').css('padding-bottom','32px');
    }
    apiready = function() {
        $api.fixStatusBar($('.w-header')[0]);

        var param = api.pageParam;
        console.log(JSON.stringify(param))
        followRecordV = new Vue({
            el: '#change_person',
            data: {
                popup_curr: false,
                popup_curr1: false,
                lists: [],
                cusId: 0,
                isFooter: true,
                currName: '',
                check1: '',
                empId: '',
                showAll: false,
                cityName: "",
                teamName: '',
                groupName: '',
                groupListOrg: [],
                groupListPer: [],
                crewList: [],
                currGroupOrgIdx: '',
                currGroupPerIdx: '',
                isChooseZzOrg: false,

                footAllotTxt:'立即分配',
                titleName:'',

            },
            mounted: function() {
                this.init();
                this.getUserInfo();
            },
            methods: {
                init: function() {
                    var _this = this;
                    this.cusId = param.cusId;
                    if(param.origin === 'customerDetail'){
                        this.footAllotTxt = '立即更换';
                        if(param.originName){
                            this.titleName = param.originName || '变更销售负责人';
                        }
                    }else{
                        this.footAllotTxt = '立即分配';
                    }
                    // 获取用户信息
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                },
                // 根据员工id获取列表
                getUserInfo: function() {
                    var _this = this;
                    setTimeout(function() {
                        wDialog.showProgress();
                    }, 80);
                    var now = Date.now();
                    wApiAjax({
                        method: "post",
                        url: 'newResource/findRegion',
                        withCredentials: true,
                        headers: {
                            "token": TOKEN_DATA,
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid
                        },
                        success: function(res) {
                            console.log(Date.now() - now);
                            // console.log('change person response---' + JSON.stringify(res))
                            setTimeout(function() {
                                wDialog.hideProgress();
                            }, 200);
                            if (res.code == 1) {
                                _this.lists = res.data.map(function(v) {
                                    v.isShowDetail = true;
                                    return v;
                                })
                            }
                        }
                    })
                },
                // 跳转到搜索数据的页面
                handleSkipSearchChange:function(){
                    wHrefJs.openWin({
                        name:'changePersonSearchHeader',
                        url:'./change_person_search_header.html',
                        param:{
                            origin:param.origin,
                            type:param.type,
                            cusId:param.cusId
                        }
                    })
                },
                // 选择变更人
                handleSelectEmployee: function(name, id, city) {
                    this.cityName = '';
                    this.teamName = '';
                    this.groupName = '';
                    this.currName = '';
                    if (this.check1 === id) {
                        this.check1 = '';
                        this.empId = '';
                        this.popup_curr = false;
                        this.isFooter = true;
                        this.currName = '';
                        this.cityName = '';
                    } else {
                        this.check1 = id;
                        this.empId = id;
                        this.popup_curr = true;
                        this.isFooter = false;
                        this.currName = name;
                        this.cityName = city;
                    }
                },
                // 选择小组
                handleChooseZzOrg: function(name, lists, idx) {
                    console.log(JSON.stringify(lists))
                    this.groupListPer = this.groupListPer.map(function(v, idx) {
                        v.isChecked = false;
                        return v;
                    });
                    this.empId = '';
                    this.currName = '';
                    this.isChooseZzOrg = true;
                    if (this.currGroupOrgIdx === idx) {
                        return;
                    } else {
                        this.groupName = name;
                        this.currGroupOrgIdx = idx;
                        var crewList = lists || [];
                        this.crewList = crewList.map(function(v) {
                            v.isChecked = false;
                            return v;
                        });
                    }
                    console.log('crewList---------' + JSON.stringify(this.crewList))
                },
                // 选择小组同级员工
                handleChooseZzPer: function(id, name, i) {
                    this.groupName = '';
                    this.currGroupOrgIdx = '';
                    this.crewList = [];
                    if (this.empId === id) {
                        this.empId = '';
                        this.currName = '';
                        this.groupListPer[i].isChecked = false;
                    } else {
                        this.empId = id;
                        this.currName = name;
                        this.groupListPer = this.groupListPer.map(function(v, idx) {
                            v.isChecked = false;
                            if (i === idx) {
                                v.isChecked = true;
                            }
                            return v;
                        });
                    }
                },
                // 选择员工
                handleChooseCrew(id, name, i) {
                    if (this.empId === id) {
                        this.empId = '';
                        this.currName = '';
                        this.crewList[i].isChecked = false;
                    } else {
                        this.empId = id;
                        this.currName = name;
                        this.crewList = this.crewList.map(function(v, idx) {
                            if (i === idx) {
                                v.isChecked = true;
                            } else {
                                v.isChecked = false;
                            }
                            return v;
                        })
                    }
                },
                handleSureAllotYg: function() {
                    var _this = this;
                    if (!this.empId) {
                        wDialog.toast({
                            msg: '请先选择一个员工'
                        });
                        return;
                    }
                    wDialog.confirm({
                        msg: '确定分配给当前员工吗?',
                        sureCb: function() {
                            wDialog.showProgress({
                                msg: '正在分配中...'
                            })
                            console.log('allot employeed req------' + JSON.stringify({
                                employeeid: _this.empId,
                                customerid: _this.cusId
                            }))
                            wApiAjax({
                                method: "post",
                                url: 'newResource/changeSales',
                                withCredentials: true,
                                headers: {
                                    "token": TOKEN_DATA,
                                },
                                data: {
                                    employeeid: _this.empId,
                                    customerid: _this.cusId,
                                    type:param.type === undefined ? 0 : param.type
                                },
                                success: function(res) {
                                    console.log('allot response' + JSON.stringify(res));
                                    wDialog.hideProgress();
                                    if (res.code == 1) {
                                        api.sendEvent({
                                            name: 'allotEmployeeSuccess'
                                        });
                                        wDialog.toast({
                                            msg:'分配成功'
                                        });
                                        setTimeout(function(){
                                            api.closeWin();
                                        },600);
                                        // wDialog.alert({
                                        //     msg: '分配成功',
                                        //     cb: function() {
                                        //         api.closeWin();
                                        //     }
                                        // })
                                    }
                                }
                            })
                        }
                    })
                },
                // 确定
                handleConfirmEmployee: function() {
                    var _this = this;
                    wDialog.confirm({
                        msg: '确定分配给当前员工吗?',
                        sureCb: function() {
                            wDialog.showProgress({
                                msg: '正在分配中'
                            })
                            wApiAjax({
                                method: "post",
                                url: 'newResource/changeSales',
                                withCredentials: true,
                                headers: {
                                    "token": TOKEN_DATA,
                                },
                                data: {
                                    employeeid: _this.empId,
                                    customerid: _this.cusId,
                                    type:param.type === undefined ? 0 : param.type
                                },
                                success: function(res) {
                                    console.log('allot response' + JSON.stringify(res));
                                    wDialog.hideProgress();
                                    if (res.code == 1) {
                                        api.sendEvent({
                                            name: 'allotEmployeeSuccess'
                                        });
                                        wDialog.toast({
                                            msg:'分配成功'
                                        });
                                        setTimeout(function(){
                                            api.closeWin();
                                        },600);
                                        // wDialog.alert({
                                        //     msg: '分配成功',
                                        //     cb: function() {
                                        //         api.closeWin();
                                        //     }
                                        // });
                                    }
                                }
                            })
                        }
                    })

                },
                // 分配团队
                handleGetOpenGroup: function(id, name, areaName, areaId) {
                    var _this = this;
                    this.check1 = '';
                    this.empId = '';
                    this.currName = '';
                    this.currGroupOrgIdx = '';
                    this.popup_curr1 = true;
                    this.cityName = areaName;
                    this.teamName = name;
                    this.crewList = [];

                    wDialog.showProgress();
                    wApiAjax({
                        method: "post",
                        url: 'newResource/findTeam',
                        withCredentials: true,
                        headers: {
                            "token": TOKEN_DATA,
                        },
                        data: {
                            region: areaId,
                            team: id,
                        },
                        success: function(res) {
                            console.log(JSON.stringify(res))
                            wDialog.hideProgress();
                            if (res.code == 1) {
                                _this.groupListOrg = res.groupList;
                                _this.groupListPer = res.zzList.map(function(v) {
                                    v.isChecked = false;
                                    return v;
                                });
                            }
                        }
                    })

                }
            },
            computed: {
                currSelectedEmployeeTxt: function() {
                    if (this.cityName && this.teamName && this.groupName && this.currName) {
                        return this.cityName + ' | ' + this.teamName + ' | ' + this.groupName + ' | ' + '<b>' + this.currName + '</b>'
                    }
                    if (this.cityName && this.teamName && this.groupName) {
                        return this.cityName + ' | ' + this.teamName + ' | ' + this.groupName;
                    }
                    if (this.cityName && this.teamName && this.currName) {
                        return this.cityName + ' | ' + this.teamName + ' | ' + '<b>' + this.currName + '</b>'
                    }
                    if (this.cityName && this.teamName) {
                        return this.cityName + ' | ' + this.teamName;
                    }
                    if (this.cityName && this.currName) {
                        return this.cityName + ' | ' + '<b>' + this.currName + '</b>'
                    }
                }
            }
        });
    }
</script>

</html>
