<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跟进数据</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/lib/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/customerFollow.css" />
    <style media="screen">
        body,
        html {
            height: 100%;
        }

        #wrapper {
            min-height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }

        .loading {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -1px;
            margin-right: 6px;
            /*固定loading*/
            width: 0.28rem;
            height: 0.28rem;
            border: 2px solid;
            border-color: #fff #fff transparent;
            border-radius: 50%;
            box-sizing: border-box;
            /*动画时间1s，线性变化，无限循环*/
            animation: loading 1s linear infinite;
        }

        @keyframes loading {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <!-- <div id="wrapper" v-cloak> -->
    <div id="wrapper">
        <div class="cd-header" id="cd-header">
            <div class="back-box flex-wrap flex-between" id="back-box-in">
                <div class="dis_flex_in">
                    <div class="back" onclick="wBackThisFunc()"></div>
                    <div class="text_in">跟进数据</div>
                    <div class="screen_in" onclick="hanldeFilterFollow()">筛选</div>
                </div>
            </div>
            <div class="back-box flex-wrap flex-between bock-b" id="back-box" style="display:none;">
                <div class="dis_flex_in">
                    <div class="back" onclick="wBackThisFunc()"></div>
                    <div class="header-txt">
                        <div v-for="(typeText,i) in typeList" v-text="typeText.name" :class="{'changesShowCol':typeText.check===true}" @click="dynamicState(typeText,i)">跟进动态</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_main">
             <div class="header_text">
                 <div class="head-bb-in">
                     <div class="head-bb-num">390532</div>
                     <div class="head-bb-text">跟进客户数(位)</div>
                </div>
                <div class="head-bb-in">
                    <div class="head-bb-num">39</div>
                    <div class="head-bb-text">客户跟进次数(次)</div>
               </div>
             </div>
        </div>
        <section>
            <!--条件 -->
            <div class="type-header-nav nav-b-t" id="js_cd_nav">
                <div v-for="(typeText,i) in typeList" v-text="typeText.name" :class="{'changesShowCol':typeText.check===true}" @click="dynamicState(typeText,i)">跟进动态</div>
            </div>

            <!-- 跟进动态 -->
            <div class="trends-box" v-if="stateType==1">
                <div v-if="trendsList && trendsList.length > 0">
                    <div class="head-list-b" v-for="trends in trendsList">
                        <div class="flex-in flex-in-b cd-trends-in">
                            <div class="flex-in-b cd-in-ing">
                                <div><img src="../../image/icon-gj-yg.png" alt=""></div>
                                <div class="trends-l">
                                    <div class="name-trends" v-text="trends.empname"></div>
                                    <div class="pos-trends" v-text="trends.job">销售经理·姜萌</div>
                                </div>
                            </div>
                            <div class="addr-trends" v-text="trends.estate">成都/意向中期</div>
                        </div>
                        <div class="cd-remarks">
                            <div class="remarks-text" v-text="trends.cusname">今天联系了客户，客户还是觉得价格有点超预算今天联系了客户，客户还是觉得价格有点超预算</div>
                            <div class="remarks-times" v-text="trends.createtime">2018/09/19 14:15</div>
                        </div>
                    </div>
                </div>
                <!-- 空页面 -->
                <empty-con :is-show="trendsList.length === 0" txt="暂无跟进动态信息"></empty-con>
            </div>

            <!-- 客户明细 -->
            <div class="customer-d-box" v-if="stateType==2">
                <div  v-if="customerList && customerList.length > 0">
                    <div class="customer-details-list" v-for="customertext in customerList">
                        <div class="flex-in">
                            <div class="flex-in-b customer-b-in">
                                <!-- <div><img src="../../image/icon-gj-yg.png" alt=""></div> -->
                                <div class="dog-circular" v-text="" :class=""></div>
                                <div class="details-l">
                                    <div class="details-name" v-text='customertext.empname'>王晨晨</div>
                                    <div class="details-pos" v-text="customertext.estate">成都·意向中期</div>
                                </div>
                            </div>
                            <div class="details-r">
                                <div class="details-r-name" v-text="customertext.cusname">秦航</div>
                                <div class="details-r-times" v-text="customertext.createtime">2018/09/19 14:15</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 空页面 -->
                <empty-con :is-show="customerList.length === 0" txt="暂无客户明细信息"></empty-con>
            </div>

            <!-- 状态分析 -->
            <div class="state-analysis-box" v-if="stateType==3" >
                <div v-if="analysisList && analysisList.length > 0">
                     <div class="state-analysis-list" v-for="analysis in analysisList">
                         <div class="flex-in-b cd-analysis">
                             <div><img src="../../image/icon-gj-yg.png" alt=""></div>
                             <div class="analysis-l">
                                 <div class="analysis-number" v-cloak>{{analysis.total}}人</div>
                                 <div class="progress-bar" :style="'width:'+(analysis.total?analysis.total:0.1)+'%'"></div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- 空页面 -->
                 <empty-con :is-show="analysisList.length === 0" txt="暂无状态分析信息"></empty-con>
            </div>

            <!-- 来源分析 v-for="source in sourceList"-->
           <div class="source-analysis-box" v-if="stateType==4">
                <div class="img-js"><img src="../../image/icon-jsz.png" alt=""></div>
                <div class="text-js">建设中，敬请期待</div>
           </div>

       </section>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript" src="../../script/permission.js"></script>
<script>
    var cusDetailV = null;
    // 筛选客户
    function hanldeFilterFollow(){
        var wHei = $(window).height();
        wOpenFollowFilterFrame({
            y:0,
            h:wHei,
            param:{
                origin:'followData',
                startDate:'',
                endDate:'',
            }
        });
    }
    apiready = function() {
        $api.fixStatusBar($('#cd-header')[0]);
        $api.fixStatusBar($('#back-box')[0]);
        $api.fixStatusBar($('#back-box-in')[0]);

        var param = api.pageParam;
        console.log(JSON.stringify(param))
        // 下拉加载更多
        api.addEventListener({
            name: 'scrolltobottom',
            extra: {
                threshold: 8
            }
        }, function(ret, err) {

        });


        cusDetailV = new Vue({
            el: '#wrapper',
            data: {
                typeList:[
                    {name:'跟进动态',type:1,check:true},
                    {name:'客户明细',type:2,check:false},
                    {name:'状态分析',type:3,check:false},
                    {name:'来源分析',type:4,check:false},
                ],
                userInfo:'',
                stateType:1, //1 跟进动态 2 客户明细 3 状态分析 4 来源分析
                pattern:param.pattern,//1个人 2团队
                startTime:param.startTime,//默认今日
                endTime:param.endTime,//默认今日
                pageNo:1,
                totalPage:1,
                pageSize:10,
                groupId:'',//部门id
                saleManagerId:'',//销售负责id
                trendsList:[],//跟进动态
                customerList:[],//客户明细
                sourceList:[],//来源分析
                analysisList:[],//状态分析
            },
            created: function() {
                this.userInfo = wPref.getPrefs({
                    key: 'userInfo'
                });
                this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
            },
            mounted: function() {
               this.init();
               this.fetchListData();
               this.$nextTick(fnListenScroll)
            },
            watch: {

            },
            methods: {
                init:function(){
                    this.userInfo = wPref.getPrefs({
                        key:'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                },
                // 获取页面数据
                fetchListData:function(isLoadMore,callback){
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    setTimeout(function(){
                        wDialog.showProgress();
                    },10)
                    console.log(JSON.stringify({
                        pattern:_this.pattern,
                        startTime:_this.startTime,
                        endTime:_this.endTime,
                        pageNo:_this.pageNo,
                        pageSize:10,
                        groupId:_this.groupId,
                        saleManagerId:_this.saleManagerId,
                        type:_this.stateType
                    }))
                    wApiAjax({
                        url:'followup/datalist',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            pattern:_this.pattern,
                            startTime:_this.startTime,
                            endTime:_this.endTime,
                            pageNo:_this.pageNo,
                            pageSize:10,
                            groupId:_this.groupId,
                            saleManagerId:_this.saleManagerId,
                            type:_this.stateType

                        },
                        success:function(res){
                            console.log(JSON.stringify(res))
                            setTimeout(function(){
                                wDialog.hideProgress();
                            },100);
                            if(res.code == 1){
                                if(res.count){
                                    _this.isHavaMoreData = res.count > _this.pageNo * _this.pageSize ? true : false;
                                }else{
                                    _this.isHavaMoreData = res.data ? res.data.length >= _this.pageSize : false;
                                }
                                if(!isLoadMore){
                                    if(_this.stateType==1){
                                        _this.trendsList = res.data ? res.data : [];
                                    }
                                    if(_this.stateType==2){
                                        _this.customerList = res.data ? res.data : [];
                                    }
                                    if(_this.stateType==3){
                                        _this.analysisList = res.data ? res.data : [];
                                    }
                                    if(_this.stateType==4){
                                        // _this.sourceList = res.data ? res.data : [];
                                    }
                                }
                                else{
                                    if(res.data){
                                        if(_this.stateType==1){
                                          _this.trendsList = _this.trendsList.concat(res.data);
                                       }
                                       if(_this.stateType==2){
                                         _this.customerList = _this.customerList.concat(res.data);
                                      }
                                      if(_this.stateType==3){
                                        _this.analysisList = _this.analysisList.concat(res.data);
                                     }
                                     if(_this.stateType==4){
                                    //    _this.sourceList = _this.sourceList.concat(res.data);
                                     }
                                    }
                                }
                            }else{
                                wDialog.toast({
                                    msg:res.message||res.msg
                                })
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail:function(){
                            callback && typeof callback === 'function' && callback();
                        }
                    });
                },
                dynamicState:function(item,i){
                    var _this = this;
                    console.log(JSON.stringify(item))
                    _this.stateType = item.type
                    _this.typeList.forEach(function (k){
                        k.check = false;
                        return k
                    })
                    _this.typeList[i].check = true;
                    _this.fetchListData();

                },
            }
        })
    }
    // 监听屏幕滚动
    function fnListenScroll(){
        // 屏幕滚动
        var isEventScroll = true;
        // var capOffsetTop = $('#js_cd_cap').offset().top - 40;
        var capOffsetTop = 10;
        var navOffsetTop = $("#js_cd_nav").offset().top;
        console.log(navOffsetTop)
        $(window).on('scroll', function() {
            if (isEventScroll) {
                // console.log('scrollTop ----> '+$(this).scrollTop())
                isEventScroll = false;
                fnCalcScroll(capOffsetTop,navOffsetTop);
                isEventScroll = true;
            }
        })
    }
    // 计算滚动
    function fnCalcScroll(capOffsetTop,navOffsetTop){
        var wTop = $(this).scrollTop();
        // console.log(wTop)
        if (wTop >= capOffsetTop) {
            if (wTop >= navOffsetTop) {
                $('#back-box').addClass('curr show-nav');
                // console.log('innnn1  头部导航')
            } else {
                $('#back-box').removeClass('show-nav').addClass('curr');
                // console.log('innnn2 改变颜色')
            }
        } else {
            $('#back-box').removeClass('curr show-nav');
            // console.log('innnn3  顶部')
        }
    }
</script>

</html>
