<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工作台-首页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/lib/swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
</head>

<body>
    <div id="wrapper">
        <!-- header -->
        <div class="swiper-container index-header" id="banner-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- 断网 -->
                    <div class="offline-box clear" id="offline-box" @click="skipOfflinePage">
                        <div class="fl left">
                            <i></i>网络不给力，请检查您的网络设置
                        </div>
                        <div class="fr right"></div>
                    </div>
                    <!-- <div class="head-bg head-bluebg"></div> -->
                    <div class="head-box head-bluebox">
                        <div class="head-bt clear">
                            <div class="fl left">新增资源跟进</div>
                            <div class="fr right" onclick="handleSwitchFollow(0)"><i></i>系统资源跟进</div>
                        </div>
                        <div class="head-bb flex-wrap">
                            <div class="flex-con head-bb-lis" @click="skipNewCustomer('网络客户')">
                                <div class="head-bb-t head-bb-t1">网络客户</div>
                                <div class="head-bb-b" v-text="network"></div>
                            </div>
                            <div class="flex-con head-bb-lis" @click="skipNewCustomer('渠道客户')">
                                <div class="head-bb-t head-bb-t2">渠道客户</div>
                                <div class="head-bb-b" v-text="channel"></div>
                            </div>
                            <div class="flex-con head-bb-lis" @click="skipNewCustomer('资源池客户')">
                                <div class="head-bb-t head-bb-t3">资源池客户</div>
                                <div class="head-bb-b" v-text="respool"></div>
                            </div>
                            <div class="flex-con head-bb-lis" @click="skipNewCustomer('其他客户')">
                                <div class="head-bb-t head-bb-t4">其他</div>
                                <div class="head-bb-b" v-text="otherCus"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <!-- 断网 -->
                    <div class="offline-box clear" id="offline-box" @click="skipOfflinePage">
                        <div class="fl left">
                            <i></i>网络不给力，请检查您的网络设置
                        </div>
                        <div class="fr right"></div>
                    </div>
                    <!-- <div class="head-bg head-greenbg"></div> -->
                    <div class="head-box head-greenbox">
                        <div class="head-bt clear">
                            <div class="fl left">系统资源跟进</div>
                            <div class="fr right" onclick="handleSwitchFollow(1)"><i></i>新增资源跟进</div>
                        </div>
                        <div class="head-bb flex-wrap">
                            <div class="flex-con head-bb-lis" @click="handleSkipSystemList('长期')">
                                <div class="head-bb-t head-bb-t5">长期</div>
                                <div class="head-bb-b" v-text="longTerm"></div>
                            </div>
                            <div class="flex-con head-bb-lis" @click="handleSkipSystemList('中期')">
                                <div class="head-bb-t head-bb-t6">中期</div>
                                <div class="head-bb-b" v-text="metTerm"></div>
                            </div>
                            <div class="flex-con head-bb-lis" @click="handleSkipSystemList('短期')">
                                <div class="head-bb-t head-bb-t7">短期</div>
                                <div class="head-bb-b" v-text="shortTerm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head-bg head-bluebg" id='head-bg'></div>
        </div>
        <!-- 消息提醒 -->
        <div class="message-box">
            <div class="index-cap">消息提醒</div>
            <div class="message-lis flex-wrap flex-center">
                <div class="flex-con message-ls" @click="skipMessage(2,'recovery')">
                    <div class="msg-icon msg-icon1">
                        <span class="msg-count" v-if="recovery" v-cloak>{{recovery|messageFilter}}</span>
                    </div>
                    <div class="msg-txt">回收提醒</div>
                </div>
                <div class="flex-con message-ls" @click="skipMessage(5,'sign')">
                    <div class="msg-icon msg-icon2">
                        <span class="msg-count" v-if="sign" v-cloak>{{sign|messageFilter}}</span>
                    </div>
                    <div class="msg-txt">签约提醒</div>
                </div>
                <div class="flex-con message-ls" @click="skipMessage(6,'pay')">
                    <div class="msg-icon msg-icon3">
                        <span class="msg-count" v-if="pay" v-cloak>{{pay|messageFilter}}</span>
                    </div>
                    <div class="msg-txt">缴费提醒</div>
                </div>
            </div>
        </div>
        <!-- 今日统计 -->
        <div class="stat-box">
            <div class="index-cap">今日统计</div>
            <div class="stat-lis flex-wrap">
                <div class="flex-con stat-ls bor-r" @click="skipStat(1)">
                    <div class="stat-ls-t stat-ls-t1">客户通话(个)</div>
                    <div class="stat-ls-b" v-text="vaildcall"></div>
                </div>
                <div class="flex-con stat-ls" @click="skipStat(2)">
                    <div class="stat-ls-t stat-ls-t2">未接听(个)</div>
                    <div class="stat-ls-b" v-text="noanscall"></div>
                </div>
                <div class="flex-con stat-ls bor-r" @click="skipStat(3)">
                    <div class="stat-ls-t stat-ls-t3">短信(个)</div>
                    <div class="stat-ls-b" v-text="todaynotefollow"></div>
                </div>
                <div class="flex-con stat-ls" @click="skipStat(4)">
                    <div class="stat-ls-t stat-ls-t4">查看微信(个)</div>
                    <div class="stat-ls-b" v-text="lookwechatcount"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var indexV = null,
        bnrSwiper = null;
    apiready = function() {
        var top = api.safeArea.top;
        $('#head-bg').css('padding-top',top);
        $('.index-header .head-box').css('padding-top',top+40);
        $('#offline-box').css('top',top);
        indexV = new Vue({
            el: '#wrapper',
            data: {
                employeeid: '',
                account: '',
                otherCus: 0, //今日新增其他
                network: 0, //今日新增网络客户
                channel: 0, //今日新增渠道客户
                respool: 0, //今日新增资源池客户

                resource: 0, //资源回收
                sign: 0, //签约消息
                pay: 0, //缴费消息
                change_principal: 0, //负责人变更
                recovery: 0, //回收提醒
                subscription: 0, //认购消息
                follow: 0, //跟进提醒
                subscriptionBook: 0, //认购书提醒

                vaildcall: 0, //今日统计有效通话
                noanscall: 0, //今日统计未接听通话
                todaynotefollow: 0, //微信次数
                lookwechatcount: 0, //短信跟进个数

                shortTerm:0, //短期客户数量
                metTerm:0, //中期客户数量
                longTerm:0, //长期客户数量
                userInfo: '',
                notificationInfo: {}
            },
            mounted: function() {
                this.netWorkStatus();
                // 获取数据
                this.fetchStatData();
                this.getMessageData();
                this.fetchNewData();
                this.fetchSystemFollowData();
            },
            filters: {
                messageFilter: function(n) {
                    return n > 99 ? '99+' : n;
                }
            },
            methods: {// 获取消息提醒的数据
                getMessageData: function(cb) {
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    wApiAjax({
                        url: "msgRemind/getAllNoticeCount",
                        method: 'get',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid
                        },
                        success: function(res) {
                            // console.log('inn11111111111'+JSON.stringify(res))
                            if (res.code == 200) {
                                _this.notificationInfo = res.info || {};
                                _this.notificationInfo.switch = res.switch;
                                if (res.switch == 0) {
                                    _this.resource = 0;
                                    _this.sign = 0;
                                    _this.pay = 0;
                                    _this.change_principal = 0;
                                    _this.recovery = 0;
                                    _this.subscription = 0;
                                    _this.follow = 0;
                                    _this.subscriptionBook = 0;
                                } else {
                                    res.info = res.info || {};
                                    _this.resource = res.info.resource == 'off' ? 0 : res.info.resource;
                                    _this.sign = res.info.sign == 'off' ? 0 : res.info.sign;
                                    _this.pay = res.info.pay == 'off' ? 0 : res.info.pay;
                                    _this.change_principal = res.info.change_principal == 'off' ? 0 : res.info.change_principal;
                                    _this.recovery = res.info.recovery == 'off' ? 0 : res.info.recovery;
                                    _this.subscription = res.info.subscription == 'off' ? 0 : res.info.subscription;
                                    _this.follow = res.info.follow == 'off' ? 0 : res.info.follow;
                                    _this.subscriptionBook = res.info.subscriptionBook == 'off' ? 0 : res.info.subscriptionBook;
                                }
                            }
                            cb && typeof cb === 'function' && cb();
                        }
                    })
                },
                // 获取今日新增数据
                fetchNewData: function(cb) {
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    wDialog.showProgress();
                    wApiAjax({
                        url: 'workbench/newAddResourceFoll',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid
                        },
                        success: function(res) {
                            // console.log('inn2222222'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.otherCus = res.otherCus;
                                _this.network = res.network;
                                _this.channel = res.channel;
                                _this.respool = res.respool;
                            }
                            wDialog.hideProgress();
                            _this.$nextTick(function(){
                                bnrSwiper = new Swiper({
                                    el: '#banner-swiper',
                                    loop:true,
                                    on: {
                                        slideChangeTransitionStart: function(){
                                          this.activeIndex % 2 ? $('#head-bg').addClass('head-bluebg').removeClass('head-greenbg') : $('#head-bg').addClass('head-greenbg').removeClass('head-bluebg');
                                        },
                                    },
                                })
                            })
                        },
                        fail: function() {

                        }
                    })
                },
                // 获取今日统计数据
                fetchStatData: function() {
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    wDialog.showProgress();
                    wApiAjax({
                        url: 'workbench/todaySta',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid
                        },
                        success: function(res) {
                            // console.log('inn3333333333333'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.vaildcall = res.vaildcall;
                                _this.noanscall = res.noanscall;
                                _this.todaynotefollow = res.todaynotefollow;
                                _this.lookwechatcount = res.lookwechatcount;
                            }
                        },
                        fail: function() {

                        }
                    })
                },
                // 获取系统跟进
                fetchSystemFollowData:function(){
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    wDialog.showProgress();
                    wApiAjax({
                        url: 'workbench/sysResourceFoll',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid
                        },
                        success: function(res) {
                            // console.log('inn444444444444'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.shortTerm = res.shortTerm;
                                _this.metTerm = res.metTerm;
                                _this.longTerm = res.longTerm;
                            }
                        },
                        fail: function() {

                        }
                    })
                },
                // 跳转到提醒列表
                skipMessage: function(i, remindName) {
                    if (i === 1) {
                        wHrefJs.openWin({
                            name: 'customerFollowHeader',
                            path: '../customer/customer_follow_header.html'
                        })
                    } else if (i === 2) {
                        wHrefJs.openWin({
                            name: 'customerRecycleHeader',
                            path: '../customer/customer_recycle_header.html'
                        })
                    } else {
                        wDialog.toast({
                            msg: '暂不支持查看，敬请期待'
                        })
                    }
                },
                // 判断网络状态
                netWorkStatus: function() {
                    listenOnline.offline(function() {
                        $('#offline-box').show();
                    });
                    listenOnline.online(function() {
                        $('#offline-box').hide();
                    });
                    var lineStatus = listenOnline.lineStatus();
                    if (lineStatus == 'unknown' || lineStatus == 'none' || lineStatus == '2g') {
                        $('#offline-box').show();
                    } else {
                        $('#offline-box').hide();
                    }
                },
                // 跳转到offline
                skipOfflinePage: function() {
                    wHrefJs.openWin({
                        name: 'offline',
                        path: '../person/solution.html'
                    })
                },
                // 跳转到系统跟进列表
                handleSkipSystemList:function(origin){
                    wHrefJs.openWin({
                        name: 'systemFollowHeader',
                        path: './system_follow_header.html',
                        param: {
                            origin: origin
                        },
                        bgColor: '#f7f7f7'
                    })
                },
                // 跳转新增
                skipNewCustomer: function(val) {
                    var self = this;
                    wHrefJs.openWin({
                        name: 'newCustomerHeader',
                        path: './new_customer_header.html',
                        param: {
                            origin: val
                        },
                        bgColor: '#f7f7f7'
                    })
                },
                // 跳转到今日统计
                skipStat: function(i) {
                    var _this = this;
                    wHrefJs.openWin({
                        name: 'indexStat',
                        path: './index_stat.html',
                        param: {
                            statType: i
                        }
                    })
                }
            }
        })
    }
    // 切换swiper
    function handleSwitchFollow(i){
        if(bnrSwiper){
            i === 0 ? bnrSwiper.slideToLoop(1, 600, false) : bnrSwiper.slideToLoop(0, 600, false);
            i === 0 ? $('#head-bg').addClass('head-greenbg').removeClass('head-bluebg') : $('#head-bg').addClass('head-bluebg').removeClass('head-greenbg');
        }
    }
    // 刷新数据
    function refrshIndexData() {
        indexV.fetchNewData()
        indexV.fetchStatData();
        indexV.getMessageData();
        indexV.fetchSystemFollowData();
    }
</script>

</html>
