<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>工作台-首页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/lib/swiper.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <style>
        #wrapper {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <!-- header -->
        <div class="index-header">
            <div class="index-title" id="index-title">
                <div class="flex-dis">
                    <div class="index-tilte-txt flex-dis-state">
                        <div class="home-index">首页</div>
                        <div class="pattern-in"><img src="../../image/gzt_state.png" alt=""><span>{{mode}}</span></div>
                    </div>
                    <div class="switch_in"><img src="../../image/icon-qiehuanOne.png" alt=""><div class="swite_text" @click="switchingMode">{{swite_text}}</div></div>
                </div>

                <!-- 断网 -->
                <div class="offline-box clear" id="offline-box" @click="skipOfflinePage">
                    <div class="fl left">
                        <i></i>网络不给力，请检查您的网络设置
                    </div>
                    <div class="fr right"></div>
                </div>
            </div>
            <div class="head-bg head-bluebg" id="head-bg" v-show="!bgColol"></div>
            <div class="head-bg head-greenbgimages" id="head-bg-green" v-show="bgColol"></div>
            <div class="head-box head-bluebox">
                <div class="head-bt clear">
                    <div class="fl left"></div>
                </div>
                <div class="new-follow-box">
                    <div class="index-cap">今日新分配客户待跟进</div>
                    <div class="head-bb flex-wrap">
                        <div class="flex-con head-bb-lis" v-if="newResourceFollowList && newResourceFollowList.length > 0" v-for="(newResource,i) in newResourceFollowList" @click.stop="skipNewCustomer(newResource.value)" :key="'new'+i">
                            <div class="head-bb-t" v-text="newResource.total||0"></div>
                            <div class="head-bb-b" v-text="newResource.name"></div>
                        </div>
                        <div class="index-loading flex-wrap flex-center flex-align-item" v-show="!isLoadFinishNew" style="display:none;">
                            <img src="../../image/index_loading.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="system-follow-box">
            <div class="index-cap position_r" @touchstart.stop="tipsIs">
                <div class="flex-wrap tips_plan">计划待跟进的客户
                     <img src="../../image/icon-wenhao.png" alt="">
                </div>
             <div class="tips_times" v-show="isTips">
                 <i></i>
                 仅对客户的下次跟进时间，未超过2个月的客户进行提醒。
             </div>

            </div>
            <div class="system-follow flex-wrap">
                <div class="flex-con system-lis" v-for="(system,idx) in systemResourceFollowList" :key="system.value" @click="handleSkipSystemList(system.value)">
                    <div class="sys-lbox">
                        <div class="system-t" v-cloak>{{system.total|messageFilter}}</div>
                        <div class="system-b" v-text="system.name"></div>
                    </div>
                </div>
                <div class="flex-con system-lis"></div>
                <div class="index-loading flex-wrap flex-center flex-align-item" v-show="!isLoadFinishSystem" style="display:none;">
                    <img src="../../image/index_loading.gif" alt="">
                </div>
                <!-- <div
                    class="flex-con system-lis"
                    v-for="(system,idx) in systemResourceFollowList"
                    :key="system.value"
                    @click="handleSkipSystemList(system.value)"
                >
                    <div class="sys-lbox" :class="'sys-lbox'+(idx+1)">
                        <div class="system-t" v-text="system.name"></div>
                        <div class="system-b" v-cloak>{{system.num|messageFilter}}</div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- 消息提醒 -->
        <div class="message-box">
            <div class="index-cap">今日回收提醒</div>
            <div class="head-bb flex-wrap">
                <div class="flex-con head-bb-lis" v-if="recyclingList && recyclingList.length > 0" v-for="(newResource,i) in recyclingList" @click.stop="skipStat(newResource.type)" :key="'new'+i">
                    <div class="head-bb-t" v-text="newResource.total||0"></div>
                    <div class="head-bb-b" v-text="newResource.name"></div>
                </div>
                <!-- <div class="flex-con stat-ls bor-r" @click="skipStat('')" v-for="(recycling,i) in  recyclingList" :key="i" @click="skipMessage()">
                    <div class="stat-ls-t" :class="[recycling.name=='非渠道客户'? 'stat-ls-t2': '', recycling.name=='渠道客户'? 'stat-ls-t3': '']"  v-text="recycling.name"></div>
                    <div class="stat-ls-b" v-text="recycling.total || 0"></div>
                </div> -->
                <div class="index-loading flex-wrap flex-center flex-align-item" v-show="!isLoadFinishRecycling" style="display:none;">
                    <img src="../../image/index_loading.gif" alt="">
                </div>
            </div>
            <!-- <div class="message-lis flex-wrap flex-center">
                <div class="flex-con message-ls" @click="skipMessage(2,'recovery')">
                    <div class="flex-dis-state">
                        <div class="msg-icon msg-icon1"></div> -->
                            <!-- <span class="msg-count" v-if="recovery" v-cloak>{{recovery|messageFilter}}</span> -->

                        <!-- <div class="msg-txt">非渠道客户</div>
                    </div>
                    <div class="msg-count">6666</div>
                </div>
                <div class="flex-con message-ls" @click="skipMessage(5,'sign')">
                    <div class="flex-dis-state">
                      <div class="msg-icon msg-icon2"></div> -->
                        <!-- <span class="msg-count" v-if="sign" v-cloak>{{sign|messageFilter}}</span> -->
                      <!-- <div class="msg-txt">渠道客户</div> -->
                   <!-- </div> -->
                   <!-- <div class="msg-count">6666</div> -->
                <!-- <div class="flex-con message-ls" @click="skipMessage(6,'pay')">
                    <div class="msg-icon msg-icon3">
                        <span class="msg-count" v-if="pay" v-cloak>{{pay|messageFilter}}</span>
                    </div>
                    <div class="msg-txt">缴费提醒</div>
                </div> -->
              <!-- </div>
           </div> -->
        </div>
        <!-- 今日统计 -->
        <div class="stat-box">
            <div class="index-cap">今日跟进数据</div>
            <div class="stat-lis flex-wrap">
                <div class="flex-con stat-ls bor-r" @click="skipStat('')" v-for="(followDate,idx) in FollowDateList" :key="idx">
                    <div class="stat-ls-t " :class="[followDate.name=='跟进总数/(次)'? 'stat-ls-t1': '', followDate.name=='跟进客户数/(位)'? 'stat-ls-t4': '']" v-text="followDate.name"></div>
                    <div class="stat-ls-b" v-text="followDate.total || 0"></div>
                </div>
                <div class="index-loading flex-wrap flex-center flex-align-item" v-show="!isLoadFinishFollow" style="display:none;">
                    <img src="../../image/index_loading.gif" alt="">
                </div>
                <!-- <div class="flex-con stat-ls" @click="skipStat('')">
                    <div class="stat-ls-t stat-ls-t4">跟进客户数(位)</div>
                    <div class="stat-ls-b" v-text="vaildcall">4546</div>
                </div>
                <div class="flex-con stat-ls" @click="skipStat('')">
                    <div class="stat-ls-t stat-ls-t4">跟进客户数(位)</div>
                    <div class="stat-ls-b" v-text="vaildcall">4546</div>
                </div> -->
                <!-- <div class="flex-con stat-ls bor-r" @click="skipStat('')">
                    <div class="stat-ls-t stat-ls-t1">拨号(次)</div>
                    <div class="stat-ls-b" v-text="allCallTimes"></div>
                </div>
                <div class="flex-con stat-ls" @click="skipStat('查看微信')">
                    <div class="stat-ls-t stat-ls-t4">查看微信(个)</div>
                    <div class="stat-ls-b" v-text="lookwechatcount"></div>
                </div>
                <div class="flex-con stat-ls" @click="skipStat(1)">
                    <div class="stat-ls-t stat-ls-t2">接听(次)</div>
                    <div class="stat-ls-b" v-text="vaildcall"></div>
                </div>
                <div class="flex-con stat-ls bor-r" @click="skipStat(2)">
                    <div class="stat-ls-t stat-ls-t3">未接听(次)</div>
                    <div class="stat-ls-b" v-text="noanscall"></div>
                </div>
                <div class="flex-con stat-ls" @click="skipStat(3)">
                    <div class="stat-ls-t stat-ls-t4">号码异常(个)</div>
                    <div class="stat-ls-b">{{abnormalNum1}}/{{abnormalNum2}}</div>
                </div> -->
            </div>
        </div>
        <!-- 跳转到新增客户页面 -->
        <!-- <div class="skip-add" @click.stop="handleSkipAddCustomer">
            <i></i>
        </div> -->
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var indexV = null;
    // function fnPer1(){
    //     wHrefJs.openWin({
    //         name:'addCustomerPerfect1',
    //         path:'./add_customer_perfect_1.html',
    //         param:{
    //             cusId:409790,
    //             demandId:386336
    //         }
    //     })
    // }
    // function fnPer2(){
    //     wHrefJs.openWin({
    //         name:'addCustomerPerfect2',
    //         path:'./add_customer_perfect_2.html',
    //         param:{
    //             cusId:409790,
    //             demandId:386336
    //         }
    //     })
    // }
    apiready = function() {
        var top = api.safeArea.top;
        $('#head-bg').css('padding-top', top);
        $('.index-header .head-box').css('padding-top', top);
        $('#head-bg-green').css('padding-top', top);
        $('#index-title').css('padding-top', top);
        $('#offline-box').css('top', top + 48);
        api.addEventListener({
            name: 'loginSuc'
        }, function(ret, err) {
            refrshIndexData();
        });
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: true,
            loadAnimInterval:120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png'
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            refrshIndexData();
        });
        indexV = new Vue({
            el: '#wrapper',
            data: {
                employeeid: '',
                account: '',
                newResourceFollowList: [], //新增资源跟进
                systemResourceFollowList: [], //系统资源跟进

                resource: 0, //资源回收
                sign: 0, //签约消息
                pay: 0, //缴费消息
                change_principal: 0, //负责人变更
                recovery: 0, //回收提醒
                subscription: 0, //认购消息
                follow: 0, //跟进提醒
                subscriptionBook: 0, //认购书提醒
                // 今日统计
                // lookwechatcount: 0, //查看微信次数
                vaildcall: 0, //今日接通通话
                noanscall: 0, //今日统计未接听通话
                allCallTimes: 0, //拨号
                abnormalNum1: 0, // 主叫拨号异常
                abnormalNum2: 0, // 被叫拨号异常

                // 系统资源跟进
                shortTerm: 0, //短期客户数量
                metTerm: 0, //中期客户数量
                longTerm: 0, //长期客户数量
                unansweredCus: 0, //未接客户
                dealCus: 0, //成交


                userInfo: {},
                notificationInfo: {},
                isLoadFinishNew: false,
                isLoadFinishSystem: false,
                isLoadFinishStat: false,
                isLoadFinishMessage: false,
                startDate:'',
                endDate:'',



                // 个人---团队模式
                swite_text:'切换团队模式',
                mode:'个人模式',
                bgColol:true,
                pattern:1, //模式(个人1-团队2)

                // 回收提醒
                recyclingList:[],//回收提醒列表
                isLoadFinishRecycling:false,

                //今日跟进数据
                FollowDateList:[],//今日跟进数据
                isLoadFinishFollow:false,

                isTips:false,


            },
            mounted: function() {
                this.netWorkStatus();
                this.startDate = funcGetThisTwoMonth().startDate;
                this.endDate = funcGetThisTwoMonth().endDate;
                console.log(this.startDate + '------------' + this.endDate)
                // 获取数据
                this.fetchStatData();
                this.getMessageData();
                this.fetchNewData();
                this.fetchSystemFollowData();
                this.recyclingTips();//回收提醒
                this.todayFollowData();//今日跟进数据
                this.$nextTick(function() {
                    $(window).on('scroll', function() {
                        var sTop = $(window).scrollTop()
                        if (sTop <= 9) {
                            $('#index-title').removeClass('fixbg')
                        } else {
                            $('#index-title').addClass('fixbg')
                        }
                    })
                })
            },

            filters: {
                messageFilter: function(n) {
                    return n > 999999 ? '999999+' : n;
                }
            },
            methods: {
                // 获取消息提醒的数据
                getMessageData: function(cb) {
                    var _this = this;

                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    var TOKEN_DATA = myLocalStorage.getItem('token');
                    // wDialog.showProgress({
                    //     modal: false
                    // });
                    wApiAjax({
                        url: 'msgRemind/getRecoverySta',
                        method: 'get',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid
                        },
                        success: function(res) {
                            console.log('message respose---->'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.sign = res.data.sign;
                                _this.pay = res.data.pay;
                                _this.recovery = res.data.recovery;
                            }
                            _this.isLoadFinishMessage = true;
                            _this.funcHideProgress();
                        }
                    })
                },
                // 今日新分配客户待跟进
                fetchNewData: function(cb) {
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    TOKEN_DATA = myLocalStorage.getItem('token');
                    // wDialog.showProgress({
                    //     modal: false
                    // });
                    console.log('fetchNewData frame request----------'+JSON.stringify({
                        pattern:_this.pattern,
                        startTime: funcGetThisToday().startDate,
                        endTime: funcGetThisToday().endDate,
                    }))
                    wApiAjax({
                        // url: 'workbench/newAddResourceFoll',
                        url:'homepage/todaynewcusfol',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            // employeeid: _this.userInfo.employeeid,
                            pattern:_this.pattern,
                            startTime: funcGetThisToday().startDate,
                            endTime: funcGetThisToday().endDate,
                        },
                        success: function(res) {
                            console.log('new respose---->'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.newResourceFollowList = res.data || [];
                            }
                            _this.isLoadFinishNew = true;
                            _this.funcHideProgress();
                        },
                        fail: function() {

                        }
                    })
                },
                // 获取今日通过统计数据
                fetchStatData: function() {
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    TOKEN_DATA = myLocalStorage.getItem('token');
                    // wDialog.showProgress({
                    //     modal: false
                    // });
                    wApiAjax({
                        url: 'todayCall/index',
                        headers: {
                            token: TOKEN_DATA
                        },
                        method: 'get',
                        data: {
                            // employeeid: _this.userInfo.employeeid,
                            token: TOKEN_DATA
                        },
                        success: function(res) {
                            console.log('stat respose---->'+JSON.stringify(res))
                            if (res.code == 1) {
                                var data = res.data || {};
                                _this.vaildcall = data.answer;
                                _this.noanscall = data.disAnswer;
                                _this.abnormalNum1 = data.unknownPhone;
                                _this.abnormalNum2 = data.invalid;
                                _this.allCallTimes = data.total;
                            }
                            _this.isLoadFinishStat = true;
                            _this.funcHideProgress();
                        },
                        fail: function() {

                        }
                    })
                },
                //回收提醒
                recyclingTips:function(){
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    TOKEN_DATA = myLocalStorage.getItem('token');
                    wApiAjax({
                        url: 'homepage/todayrecovery',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            pattern: _this.pattern,
                            // startTime:_this.startDate,
                            // endTime:_this.endDate
                        },
                        success: function(res) {
                            console.log('recyclingTips respose---->'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.recyclingList = res.data;
                            }
                            _this.isLoadFinishRecycling = true;
                            _this.funcHideProgress();
                        },
                        fail: function() {

                        }
                    })
                },
                // 今日跟进数据
                todayFollowData: function() {
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    TOKEN_DATA = myLocalStorage.getItem('token');
                    // wDialog.showProgress({
                    //     modal: false
                    // });
                    wApiAjax({
                        url: 'homepage/todayfollow',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            pattern: _this.pattern,
                        },
                        success: function(res) {
                            console.log('system respose---->'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.FollowDateList = res.data;
                            }
                            _this.isLoadFinishFollow = true;
                            _this.funcHideProgress();
                        },
                        fail: function() {

                        }
                    })
                },

                // 获取系统跟进
                fetchSystemFollowData: function() {
                    var _this = this;
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    TOKEN_DATA = myLocalStorage.getItem('token');
                    // wDialog.showProgress({
                    //     modal: false
                    // });
                    console.log('fetchSystemFollowData frame request----------'+JSON.stringify({
                        pattern: _this.pattern,
                        startTime:_this.startDate,
                        endTime:_this.endDate
                    }))
                    wApiAjax({
                        // url: 'systemResource/sysResourceSta',
                        url:'homepage/planfollcus',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            // employeeid: _this.userInfo.employeeid,
                            pattern: _this.pattern,
                            startTime:_this.startDate,
                            endTime:_this.endDate

                        },
                        success: function(res) {
                            console.log('system respose---->'+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.systemResourceFollowList = res.data;
                            }
                            _this.isLoadFinishSystem = true;
                            _this.funcHideProgress();
                        },
                        fail: function() {

                        }
                    })
                },
                funcFormateSystemCount: function(num) {
                    return num > 99 ? '99+' : num;
                },
                // 跳转到提醒列表
                skipMessage: function(i, remindName) {
                    if (i === 1) {
                        console.log('暂没有')
                    } else if (i === 2) {
                        wHrefJs.openWin({
                            name: 'customerRecycleHeader',
                            path: '../customer/customer_recycle_header.html'
                        })
                    } else {
                        wDialog.toast({
                            msg: '即将上线'
                        })
                    }
                },
                // 判断网络状态
                netWorkStatus: function() {
                    listenOnline.offline(function() {
                        $('#offline-box').show();
                    });
                    listenOnline.online(function() {
                        $('#offline-box').hide();
                    });
                    var lineStatus = listenOnline.lineStatus();
                    if (lineStatus == 'unknown' || lineStatus == 'none' || lineStatus == '2g') {
                        $('#offline-box').show();
                    } else {
                        $('#offline-box').hide();
                    }
                },
                // 跳转到offline
                skipOfflinePage: function() {
                    wHrefJs.openWin({
                        name: 'offline',
                        path: '../person/solution.html'
                    })
                },
                // 跳转到系统跟进列表
                handleSkipSystemList: function(status) {
                    var _this = this;
                    if (this.userInfo.relativePosi == 'yg') {
                        wHrefJs.openWin({
                            name: 'systemFollowHeader',
                            path: './system_follow_header.html',
                            param: {
                                status: status,
                                startDate:_this.startDate,
                                endDate:_this.endDate
                            },
                            bgColor: '#f7f7f7'
                        })
                    } else {
                        wHrefJs.openWin({
                            name: 'managerSystemFollow',
                            url: 'manager_system_follow.html',
                            param: {
                                status: status,
                                startDate:_this.startDate,
                                endDate:_this.endDate
                            }
                        })
                    }
                },
                // 跳转新增
                skipNewCustomer: function(val) {
                    var self = this;
                    console.log(val)
                    /**
                     * val  1  公司资源   2 渠道资源  3  销售资源
                     **/
                    if(val === 2){
                        wHrefJs.openWin({
                            name:'channelHeader',
                            path:'../newfollow/channel_header.html',
                            param:{
                                currChannelOrigin: '',
                                startDate: funcGetThisToday().startDate,
                                endDate: funcGetThisToday().endDate,
                            },
                            bgColor:'#f7f7f7'
                        })
                    }else{
                        if (this.userInfo.relativePosi == 'yg') {
                            wHrefJs.openWin({
                                name: 'newCustomerHeader',
                                path: './new_customer_header.html',
                                param: {
                                    val: val,
                                    startDate: funcGetThisToday().startDate,
                                    endDate: funcGetThisToday().endDate,
                                },
                                bgColor: '#f7f7f7'
                            })
                        } else {
                            wHrefJs.openWin({
                                name: 'managerNewFollow',
                                path: 'manager_new_follow.html',
                                param: {
                                    val: val,
                                    startDate: funcGetThisToday().startDate,
                                    endDate: funcGetThisToday().endDate,
                                },
                                bgColor: '#f7f7f7'
                            })
                        }
                    }
                },
                // 跳转到今日统计
                skipStat: function(status) {
                    var _this = this;
                    if (this.userInfo.relativePosi == 'yg') {
                        wHrefJs.openWin({
                            name: 'callStatHeader',
                            path: './call_stat_header.html',
                            param: {
                                callStatus: status,
                                startDate: funcGetThisToday().startDate,
                                endDate: funcGetThisToday().endDate,
                            }
                        })
                    } else {
                        wHrefJs.openWin({
                            name: 'managerStat',
                            path: './manager_stat.html',
                            param: {
                                callStatus: status,
                                startDate: funcGetThisToday().startDate,
                                endDate: funcGetThisToday().endDate,
                            }
                        })
                    }
                },
                // 跟进客户提示--触摸
                tipsIs:function(){
                    var _this = this;
                    _this.isTips = true;
                },
                // // 跳转到新增客户
                // handleSkipAddCustomer: function() {
                //     wHrefJs.openWin({
                //         name: 'addCustomer',
                //         path: './add_customer.html',
                //     })
                // },
                funcHideProgress: function() {
                    console.log(' ---new: ' + this.isLoadFinishNew + ' ---system: ' + this.isLoadFinishSystem + ' ---message: ' + this.isLoadFinishMessage + ' ---sate: ' + this.isLoadFinishStat +'--------Recycling:' + this.isLoadFinishRecycling)
                    if (this.isLoadFinishNew && this.isLoadFinishSystem && this.isLoadFinishMessage && this.isLoadFinishStat && this.isLoadFinishRecycling && this.isLoadFinishFollow) {
                        // wDialog.hideProgress();
                        api.refreshHeaderLoadDone();
                    }
                },
                // 个人---团队模式
                switchingMode:function(){
                    var _this = this;
                    if(_this.swite_text =='切换团队模式'){
                        _this.pattern = 2; //个人模式
                        _this.swite_text = '切换个人模式';
                        _this.mode='团队模式';
                         refrshIndexData();
                        _this.bgColol = false;

                    }else if(_this.swite_text =='切换个人模式'){
                        _this.pattern = 1; //团队模式
                        _this.swite_text = '切换团队模式';
                        _this.mode='个人模式';
                         refrshIndexData();
                        _this.bgColol = true;
                }
             }
           }
        })
    }
        // 刷新数据
    function refrshIndexData() {
        indexV.isLoadFinishNew = false;
        indexV.isLoadFinishSystem = false;
        indexV.isLoadFinishMessage = false;
        indexV.isLoadFinishStat = false;
        indexV.isLoadFinishRecycling = false;
        indexV.isLoadFinishFollow = false;
        indexV.isTips = false;
        indexV.fetchNewData()
        indexV.fetchStatData();
        indexV.getMessageData();
        indexV.fetchSystemFollowData();
        indexV.recyclingTips();
        indexV.todayFollowData();
    }
    // $(".position_r").on("mouseover", function() {
    //     $(".tips_times").show();
    //
    // })
    // $(".position_r").on("mouseout", function() {
    //     $(".tips_times").hide();
    // })
</script>

</html>
