<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通话统计</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/manager.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }

        #wrap {
            position: relative;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="mger-header-box">
            <div class="mger-header-fix">
                <div class="mger-header">
                    <div class="mger-back" onclick="api.closeWin();"></div>
                    <div class="mger-contain flex-wrap flex-vertical flex-center flex-align-item">
                        <div class="cap">通话统计</div>
                        <div class="desc" v-text="currNowLocationTxt"></div>
                    </div>
                </div>
                <div class="mger-nav flex-wrap">
                    <div
                        class="flex-con"
                        :class="{'curr':isCurrArea}"
                        v-if="jobTitle == 'gngly' || jobTitle == 'qygly'"
                        @click.stop="handleSwitchPosition(0)"
                    >大区</div>
                    <div
                        class="flex-con"
                        :class="{'curr':isCurrTeam}"
                        v-if="jobTitle == 'gngly' || jobTitle == 'qygly' || jobTitle == 'tdgly'"
                        @click.stop="handleSwitchPosition(1)"
                    >团队</div>
                    <div
                        class="flex-con"
                        :class="{'curr':isCurrGroup}"
                        v-if="jobTitle == 'gngly' || jobTitle == 'qygly' || jobTitle == 'tdgly' || jobTitle == 'zz'"
                        @click.stop="handleSwitchPosition(2)"
                    >小组</div>
                </div>
                <div class="mger-filter flex-wrap">
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,1)">
                        <span>通话时间</span><i></i>
                    </div>
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,2)">
                        <span>通话状态</span><i></i>
                    </div>
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,3)">
                        <span>排序</span><i></i>
                    </div>
                </div>
            </div>
            <div class="mger-header-place"></div>
        </div>
        <div class="mger-container">
            <ul class="mger-lists mger-team" id="mger-area" v-if="isShowAreaBox">
                <li
                    class="mger-lis"
                    v-if="areaList.length > 0"
                    v-for="area in areaList"
                    :key="'area'+area.id"
                    :class="{'checked':area.id == areaCurr}"
                    @click.stop="handleChooseArea(area.name,area.id)"
                >
                    <div class="mger-lt" v-text="area.name"></div>
                    <div class="mger-lcount" :style="'width:'+area.percent+'%'"></div>
                    <div class="mger-ldesc">
                        <span v-text="area.count"></span>次
                    </div>
                </li>
                <!-- 空页面 -->
                <empty-con :is-show="areaList.length === 0" txt="暂无大区信息"></empty-con>
            </ul>
            <ul class="mger-lists mger-team" id="mger-team" v-if="isShowTeamBox">
                <li
                    class="mger-lis"
                    v-if="teamList.length > 0"
                    v-for="team in teamList"
                    :key="'team'+team.id"
                    :class="{'checked':team.id == teamCurr}"
                    @click.stop="handleChooseTeam(team.name,team.id)"
                >
                    <div class="mger-lt" v-text="team.name"></div>
                    <div class="mger-lcount" :style="'width:'+team.percent+'%'"></div>
                    <div class="mger-ldesc">
                        <span v-text="team.count"></span>次
                    </div>
                </li>
                <!-- 空页面 -->
                <empty-con :is-show="teamList.length === 0" txt="暂无团队信息"></empty-con>
            </ul>
            <ul class="mger-lists mger-team" id="mger-group" v-if="isShowGroupBox">
                <li
                    class="mger-lis"
                    v-if="groupList.length > 0"
                    v-for="group in groupList"
                    :key="'group'+group.id"
                    :class="{'checked':group.id == groupCurr}"
                    @click.stop="handleChooseGroup(group.name,group.id)"
                >
                    <div class="mger-lt" v-text="group.name"></div>
                    <div class="mger-lcount" :style="'width:'+group.percent+'%'"></div>
                    <div class="mger-ldesc">
                        <span v-text="group.count"></span>次
                    </div>
                </li>
                <!-- 空页面 -->
                <empty-con :is-show="groupList.length === 0" txt="暂无小组信息"></empty-con>
            </ul>
            <ul class="mger-lists mger-team" id="mger-crew" v-if="isShowCrewBox">
                <li
                    class="mger-lis"
                    v-if="crewList.length > 0"
                    v-for="crew in crewList"
                    :key="'crew'+crew.id"
                    :class="{'checked':crew.id == crewCurr}"
                    @click.stop="handleChooseCrew(crew.id)"
                >
                    <div class="mger-lt" v-text="crew.name"></div>
                    <div class="mger-lcount" :style="'width:'+crew.percent+'%'"></div>
                    <div class="mger-ldesc">
                        <span v-text="crew.count"></span>次
                    </div>
                </li>
                <!-- 空页面 -->
                <empty-con :is-show="crewList.length === 0" txt="暂无人员信息"></empty-con>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var managerStatV = null;
    apiready = function() {
        $api.fixStatusBar($('.mger-header-fix')[0]);
        $api.fixStatusBar($('.mger-header-place')[0]);
        // api.addEventListener({
        //     name: 'keyback'
        // }, function(ret, err){
        //     if(managerStatV.isShowCrewBox || managerStatV.isShowGroupBox){
        //         if(managerStatV.isShowCrewBox){
        //             managerStatV.isShowCrewBox = false;
        //             managerStatV.isShowGroupBox = true;
        //         }else{
        //             managerStatV.handleSwitchPosition(1)
        //         }
        //     }
        //     else if(managerStatV.isShowTeamBox){
        //         managerStatV.handleSwitchPosition(0)
        //     }
        //     else if(managerStatV.isShowAreaBox){
        //         api.closeWin();
        //     }
        //     else{
        //         api.closeWin();
        //     }
        // });
        var param = api.pageParam;
        api.addEventListener({
            name: 'filterManagerStat'
        }, function(ret, err){
            var obj = ret.value;
            if(obj){
                if(typeof obj.callStatus != 'undefined'){
                    managerStatV.callStatus = obj.callStatus;
                }
                if(typeof obj.sort != 'undefined'){
                    managerStatV.currSort = obj.sort;
                    managerStatV.currSortType = obj.sort == 0 ? 'desc' : 'asc';
                }
                if(typeof obj.startDate != 'undefined'){
                    managerStatV.startDate = obj.startDate;
                }
                if(typeof obj.endDate != 'undefined'){
                    managerStatV.endDate = obj.endDate;
                }
                managerStatV.fetchAllData();
            }
            $('.filter-lis').removeClass('curr');
        });

        managerStatV = new Vue({
            el: "#wrapper",
            data: {
                userInfo:{},
                // 当前所在位置
                // 职位
                // gngly  国内管理员
                // qygly  国内区域管理员
                // tdgly  国内团队管理员
                // yg   国内员工
                // zz  组长
                jobTitle:'',
                step:'',
                initStep:'',
                currSort:0,
                currSortType:'desc',
                // 开始结束时间
                startDate:'',
                endDate:'',
                // 显示哪个盒子
                isShowAreaBox:false,
                isShowTeamBox:false,
                isShowGroupBox:false,
                isShowCrewBox:false,
                // 当前选中的
                isCurrArea:false,
                isCurrTeam:false,
                isCurrGroup:false,
                // id
                areaId:'',
                areaName:'',
                areaCurr:'',
                teamId:'',
                teamName:'',
                teamCurr:'',
                groupId:'',
                groupName:'',
                groupCurr:'',
                crewId:'',
                crewCurr:'',

                callStatus:'',
                // 返回信息List
                areaList:[],
                teamList:[],
                groupList:[],
                crewList:[]
            },
            mounted: function() {
                var _this = this;

                this.userInfo = wPref.getPrefs({
                    key: 'userInfo'
                });
                this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                this.jobTitle = this.userInfo.relativePosi;
                // 通话状态
                this.callStatus = param.callStatus;
                this.step = this.jobTitle == 'gngly' || this.jobTitle == 'qygly' ? 1 : this.jobTitle == 'tdgly' ? 2 : 3;
                this.initStep = this.step;
                this.startDate = param.startDate;
                this.endDate = param.endDate;
                if(this.jobTitle == 'gngly' || this.jobTitle == 'qygly'){
                    this.isShowAreaBox = true;
                    this.isCurrArea = true;
                }
                else if(this.jobTitle == 'tdgly'){
                    this.isShowTeamBox = true;
                    this.isCurrTeam = true;
                }
                else{
                    this.isShowGroupBox = true;
                    this.isCurrGroup = true;
                }
                this.fetchCallData();
            },
            methods: {
                fetchAllData:function(){
                    // 请求多次记录所有的数据
                    for(var i = this.initStep; i <= this.step;i++){
                        this.fetchCallData(i);
                    }
                },
                fetchCallData:function(filterStep){
                    var _this = this;
                    setTimeout(function(){
                        wDialog.showProgress();
                    },80)
                    var data = {
                        step:filterStep?filterStep:_this.step,
                        initStep:_this.initStep,
                        token:TOKEN_DATA,
                        sortType:_this.currSortType,
                        callTimeStart:_this.startDate,
                        callTimeEnd:_this.endDate,
                        callStatus:_this.callStatus
                    };
                    if(filterStep==1 || this.step == 1){
                        data.orgId = '';
                    }
                    else if(filterStep==2 || this.step == 2){
                        data.orgId = this.areaId;
                    }
                    else if(filterStep==3 || this.step == 3){
                        data.orgId = this.teamId;
                    }
                    else{
                        data.orgId = this.groupId;
                    }
                    console.log(JSON.stringify(data))
                    wApiAjax({
                        url:'todayCall/empDetail',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data:data,
                        success:function(res){
                            wDialog.hideProgress();
                            console.log('manager stat response ------------'+JSON.stringify(res))
                            if(res.code==1){
                                var list = _this.funcFormatRequestData(res.data);
                                if(filterStep){
                                    if(filterStep == 1){
                                        _this.areaList = list;
                                    }
                                    else if(filterStep == 2){
                                        _this.teamList = list;
                                    }
                                    else if(filterStep == 3){
                                        _this.groupList = list;
                                    }
                                    else{
                                        _this.crewList = list;
                                    }
                                }else{
                                    if(_this.step == 1){
                                        _this.areaList = list;
                                    }
                                    else if(_this.step == 2){
                                        _this.teamList = list;
                                    }
                                    else if(_this.step == 3){
                                        _this.groupList = list;
                                    }
                                    else{
                                        _this.crewList = list;
                                    }
                                }
                            }
                        }
                    })
                },
                // 格式化数据
                funcFormatRequestData:function(data){
                    data = data || [];
                    var _this = this;
                    // if(this.step)
                    if(data && data.length == 1){
                        return data.map(function(v){
                            v.count == 0 ? v.percent = 0 : v.percent = 100;
                            return v;
                        });
                    }else{
                        var list = data.map(function(v){
                            return v.count;
                        });
                        var max = Math.max.apply(null,list);
                        return data.map(function(v){
                            max == 0 ? v.percent = 0 : v.percent = Math.ceil((v.count / max) * 100);
                            return v;
                        });
                    }
                },
                // 切换大区，团队
                handleSwitchPosition:function(i){
                    if(i === 0){
                        this.isShowAreaBox = true;
                        this.isShowTeamBox = false;
                        this.isShowGroupBox = false;
                        this.isShowCrewBox = false;

                        this.isCurrArea = true;
                        this.isCurrTeam = false;
                        this.isCurrGroup = false;
                    }
                    else if(i === 1){
                        if(this.areaId || this.jobTitle == 'tdgly'){
                            this.isShowAreaBox = false;
                            this.isShowTeamBox = true;
                            this.isShowGroupBox = false;
                            this.isShowCrewBox = false;

                            this.isCurrArea = false;
                            this.isCurrTeam = true;
                            this.isCurrGroup = false;
                        }else{
                            wDialog.toast({
                                msg:'请先选择大区'
                            })
                        }
                    }
                    else if(i === 2){
                        if(this.teamId || this.jobTitle == 'zz'){
                            this.isShowAreaBox = false;
                            this.isShowTeamBox = false;
                            this.isShowGroupBox = true;
                            this.isShowCrewBox = false;

                            this.isCurrArea = false;
                            this.isCurrTeam = false;
                            this.isCurrGroup = true;
                        }else{
                            wDialog.toast({
                                msg:'请先选择团队'
                            })
                        }
                    }
                    else if(i === 3){
                        this.isShowAreaBox = false;
                        this.isShowTeamBox = false;
                        this.isShowGroupBox = false;
                        this.isShowCrewBox = true;

                        this.isCurrArea = false;
                        this.isCurrTeam = false;
                        this.isCurrGroup = true;
                        this.step = 4;
                    }
                    else{
                        console.log('参数错误');
                    }
                },
                handleChooseArea:function(name,id){
                    this.areaName = name;
                    this.areaId = id;
                    this.areaCurr = id;
                    this.teamId = '';
                    this.teamName = '';
                    this.teamCurr = '';
                    this.groupId = '';
                    this.groupName = '';
                    this.groupCurr = '';
                    this.step = 2;
                    this.fetchCallData();
                    this.handleSwitchPosition(1);
                },
                handleChooseTeam:function(name,id){
                    this.teamName = name;
                    this.teamId = id;
                    this.teamCurr = id;
                    this.groupId = '';
                    this.groupName = '';
                    this.groupCurr = '';
                    this.step = 3;
                    this.fetchCallData();
                    this.handleSwitchPosition(2);
                },
                handleChooseGroup:function(name,id){
                    this.groupName = name;
                    this.groupId = id;
                    this.groupCurr = id;
                    this.step = 4;
                    this.fetchCallData();
                    this.handleSwitchPosition(3);
                },
                handleChooseCrew:function(id){
                    var _this = this;
                    this.crewCurr = id;
                    wHrefJs.openWin({
                        name:'callStat',
                        path:'./call_stat_header.html',
                        param:{
                            empId:id,
                            startDate:_this.startDate,
                            endDate:_this.endDate,
                            callStatus:_this.callStatus
                        }
                    })
                },
                // 筛选
                handleChooseFilter:function(e,i){
                    var tag = e.currentTarget,
                        _this = this;
                    // 1.客户来源 2客户状态  3 更多 4排序
                    // 跳转到frame
                    var wHei = $(window).height(),
                        y = $('.mger-header-box').height(),
                        h = wHei - y;
                    if(!$(tag).hasClass('curr')){
                        $(tag).addClass('curr').siblings().removeClass('curr');
                        if(i === 1){
                            wOpenCustomerTimeFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerStat',
                                    startDate:_this.startDate,
                                    endDate:_this.endDate
                                }
                            });
                        }
                        else if(i === 2){
                            wOpenCustomerCallstatusFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerStat',
                                    callStatus:_this.callStatus
                                }
                            });
                        }
                        else if(i == 3){
                            wOpenCustomerSortFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerStat',
                                    currSelected:_this.currSort,
                                    sortClass:'class3'
                                }
                            })
                        }
                        else{
                            console.log('筛选页面参数错误')
                        }
                    }else{
                        $(tag).removeClass('curr');
                        api.closeFrame({
                            name:'filterCustomerFrame'
                        });
                    }
                }
            },
            computed:{
                currNowLocationTxt:function(){
                    if(this.areaName && this.teamName && this.groupName){
                        return this.areaName.slice(0,8)+'/'+this.teamName.slice(0,8)+'/'+this.groupName.slice(0,8);
                    }
                    if(this.areaName && this.teamName){
                        return this.areaName.slice(0,8)+'/'+this.teamName.slice(0,8);
                    }
                    if(this.areaName){
                        return this.areaName;
                    }
                    if(this.teamName && this.groupName){
                        return this.teamName.slice(0,8)+'/'+this.groupName.slice(0,8);
                    }
                    if(this.teamName){
                        return this.teamName;
                    }
                    return '';
                }
            }
        });
    }
</script>

</html>
