<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理者新增资源跟进</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/manager.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }

        #wrap {
            position: relative;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="mger-header-box">
            <div class="mger-header-fix">
                <div class="mger-header">
                    <div class="mger-back" onclick="api.closeWin();"></div>
                    <div class="mger-contain flex-wrap flex-vertical flex-center flex-align-item">
                        <div class="cap">新增跟进资源</div>
                        <div class="desc">333</div>
                    </div>
                    <div class="mger-right">分配</div>
                </div>
                <div class="mger-nav flex-wrap">
                    <div class="flex-con" :class="{'curr':isCurrArea}" v-if="jobTitle == 'gngly' || jobTitle == 'qygly'" @click.stop="handleSwitchPosition(0)">大区</div>
                    <div class="flex-con" :class="{'curr':isCurrTeam}" v-if="jobTitle == 'gngly' || jobTitle == 'qygly' || jobTitle == 'tdgly'" @click.stop="handleSwitchPosition(1)">团队</div>
                    <div class="flex-con" :class="{'curr':isCurrGroup}" v-if="jobTitle == 'gngly' || jobTitle == 'qygly' || jobTitle == 'tdgly' || jobTitle == 'zz'" @click.stop="handleSwitchPosition(2)">小组</div>
                </div>
                <div class="mger-filter flex-wrap">
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,1)">
                        <span>时间范围</span><i></i>
                    </div>
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,2)">
                        <span>客户来源</span><i></i>
                    </div>
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,3)">
                        <span>排序</span><i></i>
                    </div>
                </div>
            </div>
            <div class="mger-header-place"></div>
        </div>
        <div class="mger-container">
            <ul class="mger-lists clear mger-area" id="mger-area" v-if="isShowAreaBox">
                <li class="mger-lis fl flex-wrap checked" @click.stop="handleChooseArea">
                    <div class="left flex-wrap flex-vertical flex-center">
                        <p class="mger-cap">天津</p>
                        <p class="mger-desc">
                            <span>5000</span>/<span>5000</span>
                        </p>
                    </div>
                    <div class="right" id="circle-0">
                    </div>
                </li>
            </ul>
            <ul class="mger-lists mger-team" id="mger-team" v-if="isShowTeamBox">
                <li class="mger-lis checked" @click.stop="handleChooseTeam">
                    <div class="mger-lt">销售一组</div>
                    <div class="mger-lpro">
                        <div class="mger-lpro-curr">
                            <span class="left">90%</span>
                        </div>
                    </div>
                    <div class="mger-ldesc">
                        <span>430</span>/<span>1000</span>
                    </div>
                </li>
            </ul>
            <ul class="mger-lists mger-team" id="mger-group" v-if="isShowGroupBox">
                <li class="mger-lis checked" @click.stop="handleChooseGroup">
                    <div class="mger-lt">销售一组1队</div>
                    <div class="mger-lpro">
                        <div class="mger-lpro-curr">
                            <span class="right">90%</span>
                        </div>
                    </div>
                    <div class="mger-ldesc">
                        <span>430</span>/<span>1000</span>
                    </div>
                </li>
            </ul>
            <ul class="mger-lists mger-crew" id="mger-crew" v-if="isShowCrewBox">
                <li class="mger-lis checked" @click.stop="handleChooseCrew">
                    <div class="mger-lt flex-wrap flex-vertical flex-center flex-item-center"><span class="w-elli-2">龙渝</span></div>
                    <div class="mger-lnum-box flex-wrap">
                        <div class="flex-con mger-lnum">
                            <p class="num">200</p>
                            <p class="txt">新增数</p>
                        </div>
                        <div class="flex-con mger-lnum">
                            <p class="num">200</p>
                            <p class="txt">已跟进</p>
                        </div>
                        <div class="flex-con mger-lnum">
                            <p class="num">200</p>
                            <p class="txt">未跟进</p>
                        </div>
                    </div>
                </li>
                <li class="mger-lis">
                    <div class="mger-lt flex-wrap flex-vertical flex-center flex-item-center"><span class="w-elli-2">龙渝</span></div>
                    <div class="mger-lnum-box flex-wrap">
                        <div class="flex-con mger-lnum">
                            <p class="num">200</p>
                            <p class="txt">新增数</p>
                        </div>
                        <div class="flex-con mger-lnum">
                            <p class="num">200</p>
                            <p class="txt">已跟进</p>
                        </div>
                        <div class="flex-con mger-lnum">
                            <p class="num">200</p>
                            <p class="txt">未跟进</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/circles.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var managerNewFollowV = null;
    apiready = function() {
        $api.fixStatusBar($('.mger-header-fix')[0]);
        $api.fixStatusBar($('.mger-header-place')[0]);
        api.addEventListener({
            name: 'filterManagerNewFollow'
        }, function(ret, err){
            var obj = ret.value;
            console.log(JSON.stringify(obj))
            if(obj){
                if(typeof obj.origin != 'undefined'){
                    managerNewFollowV.currOriginSelected = obj.origin;
                }
                if(typeof obj.sort != 'undefined'){
                    managerNewFollowV.currSortSelected = obj.sort;
                }
                if(typeof obj.startDate != 'undefined'){
                    managerNewFollowV.startDate = obj.startDate;
                }
                if(typeof obj.endDate != 'undefined'){
                    managerNewFollowV.endDate = obj.endDate;
                }
            }
            $('.filter-lis').removeClass('curr');
        });

        managerNewFollowV = new Vue({
            el: "#wrapper",
            data: {
                userInfo:{},
                // 职位
                // gngly  国内管理员
                // qygly  国内区域管理员
                // tdgly  国内团队管理员
                // yg   国内员工
                // zz  组长
                jobTitle:'',

                currOriginSelected:'',
                currSortSelected:1,

                startDate:'',
                endDate:'',
                // 显示哪个盒子
                isShowAreaBox:false,
                isShowTeamBox:false,
                isShowGroupBox:false,
                isShowCrewBox:false,
                // 当前选中的
                isCurrArea:false,
                isCurrTeam:false,
                isCurrGroup:false,
                // id
                areaId:'',
                teamId:'',
                groupId:''
            },
            mounted: function() {
                var _this = this;

                this.userInfo = wPref.getPrefs({
                    key: 'userInfo'
                });
                this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                console.log(JSON.stringify(this.userInfo))
                this.init();
                this.$nextTick(function(){
                    _this.renderCircle();
                })
            },
            methods: {
                init:function(){
                    this.jobTitle = this.userInfo.xxx || 'tdgly';
                    if(this.jobTitle === 'gngly' || this.jobTitle === 'qygly'){
                        this.isShowAreaBox = true;
                        this.isCurrArea = true;
                    }
                    else if(this.jobTitle === 'tdgly'){
                        this.isShowTeamBox = true;
                        this.isCurrTeam = true;
                    }
                    else if(this.jobTitle === 'zz'){
                        this.isShowGroupBox = true;
                        this.isCurrGroup = true;
                    }
                    else{
                        console.log('没有这个权限')
                    }
                },
                renderCircle:function(){
                    var circleWid = $('#circle-0').outerWidth()/2;
                    Circles.create({
                        id: 'circle-0',
                        value: 100,
                        radius: circleWid,
                        width: 3,
                        colors: ['#eee', '#0c7ff9'],
                        isPercent:1
                    })
                },
                // 切换职位
                // i=0 大区  i=1 团队  i=2 小组
                handleSwitchPosition:function(i){
                    if(i === 0){
                        this.isShowAreaBox = true;
                        this.isShowTeamBox = false;
                        this.isShowGroupBox = false;
                        this.isShowCrewBox = false;

                        this.isCurrArea = true;
                        this.isCurrTeam = false;
                        this.isCurrGroup = false;
                    }
                    else if(i === 1){
                        if(this.areaId){
                            this.isShowAreaBox = false;
                            this.isShowTeamBox = true;
                            this.isShowGroupBox = false;
                            this.isShowCrewBox = false;

                            this.isCurrArea = false;
                            this.isCurrTeam = true;
                            this.isCurrGroup = false;
                        }else{
                            wDialog.toast({
                                msg:'请先选择大区'
                            })
                        }
                    }
                    else if(i === 2){
                        if(this.teamId){
                            this.isShowAreaBox = false;
                            this.isShowTeamBox = false;
                            this.isShowGroupBox = true;
                            this.isShowCrewBox = false;

                            this.isCurrArea = false;
                            this.isCurrTeam = false;
                            this.isCurrGroup = true;
                        }else{
                            wDialog.toast({
                                msg:'请先选择团队'
                            })
                        }
                    }
                    else{
                        console.log('参数错误');
                    }
                },
                handleChooseFilter:function(e,i){
                    var tag = e.currentTarget,
                        _this = this;
                    // 1.客户来源 2客户状态  3 更多 4排序
                    // 跳转到frame
                    var wHei = $(window).height(),
                        y = $('.mger-header-box').height(),
                        h = wHei - y;
                    if(!$(tag).hasClass('curr')){
                        $(tag).addClass('curr').siblings().removeClass('curr');
                        if(i === 1){
                            wOpenCustomerTimeFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerNewFollow',
                                    startDate:_this.startDate,
                                    endDate:_this.endDate
                                }
                            });
                        }
                        else if(i === 2){
                            wOpenCustomerOriginFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerNewFollow',
                                    classifyData:JSON.stringify(_this.khOriginList),
                                    currSelected:_this.currOriginSelected
                                }
                            });
                        }
                        else if(i == 3){
                            wOpenCustomerSortFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerNewFollow',
                                    currSelected:_this.currSortSelected,
                                    sortClass:'class2'
                                }
                            })
                        }
                        else{
                            console.log('筛选页面参数错误')
                        }
                    }else{
                        $(tag).removeClass('curr');
                        api.closeFrame({
                            name:'filterCustomerFrame'
                        });
                    }
                }
            },
        });
    }
</script>

</html>
