<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理者新增资源跟进</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/manager.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }

        #wrap {
            position: relative;
        }
        .circles-text{
            font-size: 13px !important;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="mger-header-box">
            <div class="mger-header-fix">
                <div class="mger-header">
                    <div class="mger-back" onclick="api.closeWin();"></div>
                    <div class="mger-contain flex-wrap flex-vertical flex-center flex-align-item">
                        <div class="cap">新增资源跟进</div>
                        <div class="desc" v-text="currNowLocationTxt"></div>
                    </div>
                    <div class="mger-right" v-text="allotTxt" @click.stop="handleAllotEmployee"></div>
                </div>
                <div class="mger-nav flex-wrap" id="mger-nav">
                    <div class="flex-con" :class="{'curr':isCurrArea}" v-if="jobTitle == 'gngly' || jobTitle == 'qygly'" @click.stop="handleSwitchPosition(0)">大区</div>
                    <div class="flex-con" :class="{'curr':isCurrTeam}" v-if="jobTitle == 'gngly' || jobTitle == 'qygly' || jobTitle == 'tdgly'" @click.stop="handleSwitchPosition(1)">团队</div>
                    <div class="flex-con" :class="{'curr':isCurrGroup}" v-if="jobTitle == 'gngly' || jobTitle == 'qygly' || jobTitle == 'tdgly' || jobTitle == 'zz'" @click.stop="handleSwitchPosition(2)">小组</div>
                </div>
                <div class="mger-filter flex-wrap">
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,1)">
                        <span>时间范围</span><i></i>
                    </div>
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,2)">
                        <span>客户来源</span><i></i>
                    </div>
                    <div class="flex-con mger-f flex-wrap flex-center flex-align-item filter-lis" @click.stop="handleChooseFilter($event,3)">
                        <span>排序</span><i></i>
                    </div>
                </div>
            </div>
            <div class="mger-header-place"></div>
        </div>
        <div class="mger-container">
            <ul class="mger-lists clear mger-area" id="mger-area" v-show="isShowAreaBox">
                <li
                    v-if="areaList && areaList.length > 0"
                    class="mger-lis fl flex-wrap"
                    v-for="(area,idx) in areaList"
                    :key="'area'+idx"
                    :class="{checked:areaCurr === area.region}"
                    @click.stop="handleChooseArea(area.region,area.name)"
                >
                    <div class="left flex-wrap flex-vertical flex-center">
                        <p class="mger-cap w-elli" v-text="area.name"></p>
                        <p class="mger-desc">
                            <span v-text="area.addtotal"></span>/<span v-text="area.total"></span>
                        </p>
                    </div>
                    <div class="right" :id="'circle-'+idx">
                    </div>
                </li>
            </ul>
            <ul class="mger-lists mger-team" id="mger-team" v-show="isShowTeamBox">
                <li
                    v-if="teamList && teamList.length > 0"
                    class="mger-lis"
                    v-for="(team,idx) in teamList"
                    :key="'teamOrg'+idx"
                    :class="{checked:teamCurr === team.team}"
                    @click.stop="handleChooseTeam(team.team,team.name)"
                >
                    <div class="mger-lt w-elli org-lt" v-text="team.name"></div>
                    <div class="mger-lpro">
                        <div class="mger-lpro-curr" :style="'width:'+(team.percent?team.percent:0.1)+'%;'">
                            <span :class="[team.percent <= 80?'right':'left']" v-text="team.percent+'%'"></span>
                        </div>
                    </div>
                    <div class="mger-ldesc">
                        <span v-text="team.addtotal"></span>/<span v-text="team.total"></span>
                    </div>
                </li>
                <li
                    v-if="teamEmpList && teamEmpList.length > 0"
                    class="mger-lis"
                    v-for="(team,idx) in teamEmpList"
                    :key="'teamEmp'+idx"
                    :class="{checked:teamEmpCurr === team.empid}"
                    @click.stop="handleChooseCrew('team',team.empid)"
                >
                    <div class="mger-lt w-elli emp-lt" v-text="team.name"></div>
                    <div class="mger-lpro">
                        <div class="mger-lpro-curr" :style="'width:'+(team.percent?team.percent:0.1)+'%;'">
                            <span :class="[team.percent <= 80?'right':'left']" v-text="team.percent+'%'"></span>
                        </div>
                    </div>
                    <div class="mger-ldesc">
                        <span v-text="team.addtotal"></span>/<span v-text="team.total"></span>
                    </div>
                </li>
                <empty-con :is-show="teamList.length === 0 && teamEmpList.length === 0" txt="暂无团队信息"></empty-con>
            </ul>
            <ul class="mger-lists mger-team" id="mger-group" v-show="isShowGroupBox">
                <li
                    v-if="groupList && groupList.length > 0"
                    class="mger-lis"
                    v-for="(group,idx) in groupList"
                    :key="'groupOrg'+idx"
                    :class="{checked:groupCurr === group.groupid}"
                    @click.stop="handleChooseGroup(group.groupid,group.name)"
                >
                    <div class="mger-lt w-elli org-lt" v-text="group.name"></div>
                    <div class="mger-lpro">
                        <div class="mger-lpro-curr" :style="'width:'+(group.percent?group.percent:0.1)+'%;'">
                            <span :class="[group.percent <= 80?'right':'left']" v-text="group.percent+'%'"></span>
                        </div>
                    </div>
                    <div class="mger-ldesc">
                        <span v-text="group.addtotal"></span>/<span v-text="group.total"></span>
                    </div>
                </li>
                <li
                    v-if="groupEmpList && groupEmpList.length > 0"
                    class="mger-lis"
                    v-for="(group,idx) in groupEmpList"
                    :key="'groupEmp'+idx"
                    :class="{checked:groupEmpCurr === group.empid}"
                    @click.stop="handleChooseCrew('group',group.empid)"
                >
                    <div class="mger-lt w-elli emp-lt" v-text="group.name"></div>
                    <div class="mger-lpro">
                        <div class="mger-lpro-curr" :style="'width:'+(group.percent?group.percent:0.1)+'%;'">
                            <span :class="[group.percent <= 80?'right':'left']" v-text="group.percent+'%'"></span>
                        </div>
                    </div>
                    <div class="mger-ldesc">
                        <span v-text="group.addtotal"></span>/<span v-text="group.total"></span>
                    </div>
                </li>
                <empty-con :is-show="groupList.length === 0 && groupEmpList.length === 0" txt="暂无小组信息"></empty-con>
            </ul>
            <ul class="mger-lists mger-crew" id="mger-crew" v-show="isShowCrewBox">
                <li
                    v-if="crewList && crewList.length > 0"
                    v-for="crew in crewList"
                    class="mger-lis"
                    :class="{'checked':crewCurr===crew.id}"
                    @click.stop="handleChooseCrew('crew',crew.id)"
                >
                    <div class="mger-lt flex-wrap flex-vertical flex-center flex-item-center"><span class="w-elli-2" v-text="crew.name"></span></div>
                    <div class="mger-lnum-box flex-wrap">
                        <div class="flex-con mger-lnum">
                            <p class="num" v-text="crew.total"></p>
                            <p class="txt">新增数</p>
                        </div>
                        <div class="flex-con mger-lnum">
                            <p class="num" v-text="crew.addtotal"></p>
                            <p class="txt">已跟进</p>
                        </div>
                        <div class="flex-con mger-lnum">
                            <p class="num" v-text="crew.total - crew.addtotal"></p>
                            <p class="txt">未跟进</p>
                        </div>
                    </div>
                </li>
                <empty-con :is-show="crewList.length === 0" txt="暂无员工信息"></empty-con>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/circles.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var managerNewFollowV = null;
    apiready = function() {
        $api.fixStatusBar($('.mger-header-fix')[0]);
        $api.fixStatusBar($('.mger-header-place')[0]);
        // api.addEventListener({
        //     name: 'keyback'
        // }, function(ret, err){
        //     if(managerNewFollowV.isShowCrewBox || managerNewFollowV.isShowGroupBox){
        //         if(managerNewFollowV.isShowCrewBox){
        //             managerNewFollowV.isShowCrewBox = false;
        //             managerNewFollowV.isShowGroupBox = true;
        //         }else{
        //             managerNewFollowV.handleSwitchPosition(1)
        //         }
        //     }
        //     else if(managerNewFollowV.isShowTeamBox){
        //         managerNewFollowV.handleSwitchPosition(0)
        //     }
        //     else if(managerNewFollowV.isShowAreaBox){
        //         api.closeWin();
        //     }
        //     else{
        //         api.closeWin();
        //     }
        // });

        var param = api.pageParam;
        api.addEventListener({
            name: 'filterManagerNewFollow'
        }, function(ret, err){
            var obj = ret.value;
            console.log(JSON.stringify(obj))
            if(obj){
                if(typeof obj.origin != 'undefined'){
                    managerNewFollowV.currOrigin = obj.origin;
                    managerNewFollowV.currOriginTwo = obj.originTwo;
                    managerNewFollowV.currType = obj.type;
                }
                if(typeof obj.sort != 'undefined'){
                    managerNewFollowV.currSort = obj.sort;
                }
                if(typeof obj.startDate != 'undefined'){
                    managerNewFollowV.startDate = obj.startDate;
                }
                if(typeof obj.endDate != 'undefined'){
                    managerNewFollowV.endDate = obj.endDate;
                }
                managerNewFollowV.filterGetData();
            }
            $('.filter-lis').removeClass('curr');
        });

        managerNewFollowV = new Vue({
            el: "#wrapper",
            data: {
                userInfo:{},
                // 职位
                // gngly  国内管理员
                // qygly  国内区域管理员
                // tdgly  国内团队管理员
                // yg   国内员工
                // zz  组长
                jobTitle:'',
                // 排序
                startDate:'',
                endDate:'',

                currOrigin:param.val,
                currOriginTwo:'',
                currType:'',

                currSort:0,
                // 显示哪个盒子
                isShowAreaBox:false,
                isShowTeamBox:false,
                isShowGroupBox:false,
                isShowCrewBox:false,
                // 当前选中的
                isCurrArea:false,
                isCurrTeam:false,
                isCurrGroup:false,
                // id
                areaId:'',
                areaName:'',
                areaCurr:'',
                teamId:'',
                teamName:'',
                teamCurr:'',
                teamEmpCurr:'',
                groupId:'',
                groupName:'',
                groupCurr:'',
                groupEmpCurr:'',
                crewId:'',
                crewCurr:'',

                // 权限数据
                areaList:[],
                teamList:[],
                teamEmpList:[],
                groupList:[],
                groupEmpList:[],
                crewList:[],

                isInitDataLoadFinish:true,
                isTeamDataLoadFinish:true,
                isGroupDataLoadFinish:true,
                isCrewDataLoadFinish:true
            },
            mounted: function() {
                this.currType = param.val == 0 ? 2 : 1;
                this.init();
                this.fetchPosiData();
            },
            methods: {
                init:function(){
                    // 获取权限，初始化结构
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});
                    this.jobTitle = this.userInfo.relativePosi;
                    this.startDate = param.startDate;
                    this.endDate = param.endDate;
                    console.log('curr relative position---------->'+this.jobTitle)
                    if(this.jobTitle === 'gngly' || this.jobTitle === 'qygly'){
                        this.isShowAreaBox = true;
                        this.isCurrArea = true;
                    }
                    else if(this.jobTitle === 'tdgly'){
                        this.isShowTeamBox = true;
                        this.isCurrTeam = true;
                    }
                    else if(this.jobTitle === 'zz'){
                        this.isShowGroupBox = true;
                        this.isCurrGroup = true;
                        $('#mger-nav').hide();
                        $('.mger-header-fix,.mger-header-place').css('height','82px');
                    }
                    else{
                        console.log('没有这个权限')
                    }
                },
                fetchPosiData:function(isFilter){
                    isFilter = isFilter || false;
                    var _this = this;
                    setTimeout(function(){
                        wDialog.showProgress();
                    },10)
                    this.isInitDataLoadFinish = false;
                    console.log('manager new follow-- request--------' + JSON.stringify({
                        employeeid: _this.userInfo.employeeid,
                        startTime:_this.startDate,
                        endTime:_this.endDate,
                        cusSource:_this.currOriginTwo ? _this.currOriginTwo : _this.currOrigin,
                        sort:_this.currSort,
                        type:_this.currType,
                        search_cusName:'',
                        attributionid:'',
                        resourcetype:'',
                        pageNo: _this.pageNo,
                        pageSize: 1000
                    }))
                    wApiAjax({
                        url: 'newResource/newAddResFollList',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid,
                            startTime:_this.startDate,
                            endTime:_this.endDate,
                            cusSource:_this.currOriginTwo ? _this.currOriginTwo : _this.currOrigin,
                            sort:_this.currSort,
                            // type:_this.currType,
                            type:1,
                            search_cusName:'',
                            attributionid:'',
                            resourcetype:'',
                            pageNo: _this.pageNo,
                            pageSize: 1000
                        },
                        success: function(res) {
                            console.log('initlist '+JSON.stringify(res))
                            _this.isInitDataLoadFinish = true;
                            _this.funcHideProgress();
                            if (res.code == 1) {
                                var jobRelaIdx = getJobRelative(_this.jobTitle);
                                if(jobRelaIdx === 1){
                                    _this.areaList = _this.funcDealWithData(res.data || []);

                                    _this.$nextTick(function(){
                                        _this.areaList.forEach(function(v,i){
                                            _this.renderCircle(i,v.percent);
                                        });
                                    })
                                    // var totalT = 0,addTotalT = 0, reduceT = 0;
                                    // _this.areaList.forEach(function(v){
                                    //     totalT += Number(v.total);
                                    //     addTotalT += Number(v.addtotal);
                                    // })
                                }
                                else if(jobRelaIdx === 2){
                                    _this.areaId = res.data.regionId;
                                    _this.areaCurr = res.data.regionId;
                                    _this.teamList = _this.funcDealWithData(res.data.teamList || []);
                                    // var totalT = 0,addTotalT = 0, reduceT = 0;
                                    // _this.teamList.forEach(function(v){
                                    //     totalT += Number(v.total);
                                    //     addTotalT += Number(v.addtotal);
                                    // });
                                    _this.teamEmpList = _this.funcDealWithData(res.data.teamEmpList || []);
                                }
                                else if(jobRelaIdx === 3){
                                    _this.areaId = res.data.regionId;
                                    _this.areaCurr = res.data.regionId;
                                    _this.teamId = res.data.teamId;
                                    _this.teamCurr = res.data.teamId;
                                    _this.groupList = _this.funcDealWithData(res.data.groupList || []);
                                    _this.groupEmpList = _this.funcDealWithData(res.data.groupEmpList || []);

                                    // var totalT = 0,addTotalT = 0, reduceT = 0;
                                    // _this.groupList.forEach(function(v){
                                    //     totalT += Number(v.total);
                                    //     addTotalT += Number(v.addtotal);
                                    // });
                                }
                                else{
                                    console.log('没有权限')
                                }
                            } else {
                                wDialog.toast({
                                    msg: res.msg
                                })
                            }
                        }
                    })
                },
                // 处理返回的数据
                funcDealWithData:function(data){
                    var _this = this;
                    return data.map(function(v){
                        if(v.addtotal == 0){
                            v.percent = 0;
                        }else{
                            v.percent = Math.floor((v.addtotal/v.total)*100);
                        }
                        return v;
                    });
                },
                renderCircle:function(i,val){
                    var circleWid = $('#circle-'+i).outerWidth()/2;
                    Circles.create({
                        id: 'circle-'+i,
                        value: val,
                        radius: circleWid,
                        width: 3,
                        colors: ['#eee', '#0c7ff9'],
                        isPercent:1
                    })
                },
                // 选择大区
                handleChooseArea:function(id,name) {
                    if(this.areaId !== id){
                        this.areaName = name;
                        this.areaId = id;
                        this.areaCurr = id;
                        this.teamName = '';
                        this.teamId = '';
                        this.teamCurr = '';
                        this.teamEmpCurr = '';
                        this.groupId = '';
                        this.groupNmae = '';
                        this.groupCurr = '';
                        this.groupEmpCurr = '';
                        this.crewId = '';
                        this.crewCurr = '';
                    }
                    this.fetchTeamData();

                },
                // 获取团队数据
                fetchTeamData:function(isFilter){
                    isFilter = isFilter || false;
                    console.log(this.areaId)
                    if(getJobRelative(this.jobTitle) > 1){
                        return;
                    }
                    var _this = this;
                    this.isTeamDataLoadFinish = false;
                    wDialog.showProgress();
                    wApiAjax({
                        url:'newResource/newAddResFollListByRegion',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            employeeid:_this.userInfo.employeeid,
                            startTime:_this.startDate,
                            endTime:_this.endDate,
                            cusSource:_this.currOriginTwo ? _this.currOriginTwo : _this.currOrigin,
                            sort:_this.currSort,
                            // type:_this.currType,
                            type:1,
                            region:_this.areaId
                        },
                        success:function(res){
                            console.log('teamlist-------'+JSON.stringify(res))
                            _this.isTeamDataLoadFinish = true;
                            _this.funcHideProgress();
                            if(res.code == 1){
                                _this.teamList = res.data.teamList.map(function(v){
                                    if(v.addtotal == 0){
                                        v.percent = 0;
                                    }else{
                                        v.percent = Math.floor((v.addtotal/v.total)*100);
                                    }
                                    return v;
                                });
                                _this.teamEmpList = res.data.teamEmpList.map(function(v){
                                    if(v.addtotal == 0){
                                        v.percent = 0;
                                    }else{
                                        v.percent = Math.floor((v.addtotal/v.total)*100);
                                    }
                                    return v;
                                });
                                if(!isFilter){
                                    _this.handleSwitchPosition(1);
                                }
                            }
                        }
                    })
                },
                // 选择团队
                handleChooseTeam:function(id,name) {
                    if(this.teamId !== id){
                        this.teamName = name;
                        this.teamId = id;
                        this.teamCurr = id;
                        this.teamEmpCurr = '';
                        this.groupName = '';
                        this.groupId = '';
                        this.groupCurr = '';
                        this.groupEmpCurr = '';
                    }
                    this.fetchGroupData();
                },
                // 获取小组数据
                fetchGroupData:function(isFilter){
                    isFilter = isFilter || false;
                    if(getJobRelative(this.jobTitle) > 2){
                        return
                    }
                    var _this = this;
                    wDialog.showProgress();
                    _this.isGroupDataLoadFinish = false;
                    console.log(JSON.stringify({
                        employeeid:_this.userInfo.employeeid,
                        startTime:_this.startDate,
                        endTime:_this.endDate,
                        cusSource:_this.currOriginTwo ? _this.currOriginTwo : _this.currOrigin,
                        sort:_this.currSort,
                        type:_this.currType,
                        region:_this.areaId,
                        team:_this.teamId
                    }))
                    wApiAjax({
                        url:'newResource/newAddResFollListByTeam',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            employeeid:_this.userInfo.employeeid,
                            startTime:_this.startDate,
                            endTime:_this.endDate,
                            cusSource:_this.currOriginTwo ? _this.currOriginTwo : _this.currOrigin,
                            sort:_this.currSort,
                            // type:_this.currType,
                            type:1,
                            region:_this.areaId,
                            team:_this.teamId
                        },
                        success:function(res){
                            console.log('grouplist-------'+JSON.stringify(res))
                            _this.isGroupDataLoadFinish = true;
                            _this.funcHideProgress();
                            if(res.code == 1){
                                _this.groupList = res.data.groupList.map(function(v){
                                    if(v.addtotal == 0){
                                        v.percent = 0;
                                    }else{
                                        v.percent = Math.floor((v.addtotal/v.total)*100);
                                    }
                                    return v;
                                });
                                _this.groupEmpList = res.data.groupEmpList.map(function(v){
                                    if(v.addtotal == 0){
                                        v.percent = 0;
                                    }else{
                                        v.percent = Math.floor((v.addtotal/v.total)*100);
                                    }
                                    return v;
                                });
                                if(!isFilter){
                                    _this.handleSwitchPosition(2);
                                }
                            }
                        }
                    })
                },
                // 选择小组
                handleChooseGroup:function(id,name) {
                    var _this = this;
                    if(_this.groupId !== id){
                        this.groupName = name;
                        _this.groupId = id;
                        _this.groupCurr = id;
                        _this.groupEmpCurr = '';
                        _this.crewId = '';
                        _this.crewCurr = '';
                    }
                    _this.fetchCrewData();
                },
                // 获取成员数据
                fetchCrewData:function(isFilter){
                    isFilter = isFilter || false;
                    if(this.areaId === '' && this.teamId === '' && this.groupId === ''){
                        return
                    }
                    var _this = this;
                    wDialog.showProgress();
                    _this.isCrewDataLoadFinish = false;
                    console.log(JSON.stringify({
                        employeeid:_this.userInfo.employeeid,
                        startTime:_this.startDate,
                        endTime:_this.endDate,
                        cusSource:_this.currOriginTwo ? _this.currOriginTwo : _this.currOrigin,
                        sort:_this.currSort,
                        type:_this.currType,
                        region:_this.areaId,
                        team:_this.teamId,
                        groupid:_this.groupId
                    }))
                    wApiAjax({
                        url:'newResource/newAddResFollListByGroup',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            employeeid:_this.userInfo.employeeid,
                            startTime:_this.startDate,
                            endTime:_this.endDate,
                            cusSource:_this.currOriginTwo ? _this.currOriginTwo : _this.currOrigin,
                            sort:_this.currSort,
                            // type:_this.currType,
                            type:1,
                            region:_this.areaId,
                            team:_this.teamId,
                            groupid:_this.groupId
                        },
                        success:function(res){
                            console.log('crewlist-------'+JSON.stringify(res))
                            _this.isCrewDataLoadFinish = true;
                            _this.funcHideProgress();
                            if(res.code == 1){
                                _this.crewList = res.data.groupList.map(function(v){
                                    if(v.addtotal == 0){
                                        v.percent = 0;
                                    }else{
                                        v.percent = Math.floor((v.addtotal/v.total)*100);
                                    }
                                    return v;
                                });
                                if(!isFilter){
                                    _this.handleSwitchPosition(3);
                                }else{
                                    if(_this.isCurrGroup){
                                        _this.handleSwitchPosition(2);
                                    }
                                    // if(_this.isShowCrewBox){
                                    //     _this.handleSwitchPosition(3);
                                    // }
                                }
                            }
                        }
                    })
                },
                // 选择小组
                handleChooseCrew:function(rela,id){
                    if(rela === 'team'){
                        this.teamEmpCurr = id;
                        this.teamCurr = '';
                    }
                    else if(rela === 'group'){
                        this.groupEmpCurr = id;
                        this.groupCurr = '';
                    }
                    else if(rela === 'crew'){
                        this.crewCurr = id;
                    }
                    else{
                        console.log('传值不正确')
                    }
                    var _this = this;
                    wHrefJs.openWin({
                        name: 'newCustomerHeader',
                        path: './new_customer_header.html',
                        param: {
                            val: param.val,
                            empId:id,
                            startDate:_this.startDate,
                            endDate:_this.endDate,
                            currType:_this.currType,
                            currOrigin:_this.currOrigin,
                            currOriginTwo:_this.currOriginTwo
                        },
                        bgColor: '#f7f7f7'
                    })
                },
                // 筛选获取数据
                filterGetData:function(){
                    this.fetchPosiData(true);
                    if(this.areaId && getJobRelative(this.userInfo.relativePosi) <= 1){
                        console.log('in1')
                        this.fetchTeamData(true);
                    }
                    if(this.areaId && this.teamId  && getJobRelative(this.userInfo.relativePosi) <= 2){
                        console.log('in2')
                        this.fetchGroupData(true);
                    }
                    if(this.areaId && this.teamId && this.groupId && getJobRelative(this.userInfo.relativePosi) <= 3){
                        console.log('in3')
                        this.fetchCrewData(true);
                    }
                },
                funcHideProgress:function(){
                    if(this.isInitDataLoadFinish && this.isTeamDataLoadFinish && this.isGroupDataLoadFinish && this.isCrewDataLoadFinish){
                        setTimeout(function(){
                            wDialog.hideProgress();
                        },100);
                    }
                },
                // 切换职位
                // i=0 大区  i=1 团队  i=2 小组
                handleSwitchPosition:function(i){
                    if(i === 0){
                        this.isShowAreaBox = true;
                        this.isShowTeamBox = false;
                        this.isShowGroupBox = false;
                        this.isShowCrewBox = false;

                        this.isCurrArea = true;
                        this.isCurrTeam = false;
                        this.isCurrGroup = false;
                    }
                    else if(i === 1){
                        if(this.areaId !== ''){
                            this.isShowAreaBox = false;
                            this.isShowTeamBox = true;
                            this.isShowGroupBox = false;
                            this.isShowCrewBox = false;

                            this.isCurrArea = false;
                            this.isCurrTeam = true;
                            this.isCurrGroup = false;
                        }else{
                            wDialog.toast({
                                msg:'请先选择大区'
                            })
                        }
                    }
                    else if(i === 2){
                        if(this.teamId !== ''){
                            this.isShowAreaBox = false;
                            this.isShowTeamBox = false;
                            this.isShowGroupBox = true;
                            this.isShowCrewBox = false;

                            this.isCurrArea = false;
                            this.isCurrTeam = false;
                            this.isCurrGroup = true;
                        }else{
                            wDialog.toast({
                                msg:'请先选择团队'
                            })
                        }
                    }
                    else if(i === 3){
                        this.isShowAreaBox = false;
                        this.isShowTeamBox = false;
                        this.isShowGroupBox = false;
                        this.isShowCrewBox = true;

                        this.isCurrArea = false;
                        this.isCurrTeam = false;
                        this.isCurrGroup = true;
                    }
                    else{
                        console.log('参数错误');
                    }
                },
                handleChooseFilter:function(e,i){
                    var tag = e.currentTarget,
                        _this = this;
                    // 1.客户来源 2客户状态  3 更多 4排序
                    // 跳转到frame
                    var wHei = $(window).height(),
                        y = $('.mger-header-box').height(),
                        h = wHei - y;
                    if(!$(tag).hasClass('curr')){
                        $(tag).addClass('curr').siblings().removeClass('curr');
                        if(i === 1){
                            wOpenCustomerTimeFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerNewFollow',
                                    startDate:_this.startDate,
                                    endDate:_this.endDate
                                }
                            });
                        }
                        else if(i === 2){
                            wOpenCustomerOriginFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerNewFollow',
                                    currSelected:_this.currOrigin,
                                    currTwoSelected:_this.currOriginTwo,
                                    currType:_this.currType,
                                    isHaveAllOrigin:true,
                                    isHaveRecourcePool:false
                                }
                            });
                        }
                        else if(i == 3){
                            wOpenCustomerSortFrame({
                                y:y,
                                h:h,
                                param:{
                                    origin:'filterManagerNewFollow',
                                    currSelected:_this.currSort,
                                    sortClass:'class2'
                                }
                            })
                        }
                        else{
                            console.log('筛选页面参数错误')
                        }
                    }else{
                        $(tag).removeClass('curr');
                        api.closeFrame({
                            name:'filterCustomerFrame'
                        });
                    }
                },
                // 分配员工
                handleAllotEmployee:function(){
                    var _this = this;
                    if(this.allotTxt){
                        wHrefJs.openWin({
                            name:'allotEmployeeHeader',
                            url:'./allot_employee_header.html',
                            param:{
                                currOrigin:_this.currOrigin,
                                currOriginTwo:_this.currOriginTwo,
                                currType:_this.currType,
                                // startDate:_this.startDate,
                                // endDate:_this.endDate,
                                region:_this.areaId
                            }
                        })
                    }
                }
            },
            computed:{
                allotTxt:function(){
                    var idx = getJobRelative(this.jobTitle);
                    if(idx == 1 || idx == 2){
                        if(this.isCurrTeam){
                            return '分配'
                        }else{
                            return '';
                        }
                    }
                    else{
                        return '';
                    }
                },
                currNowLocationTxt:function(){
                    if(this.areaName && this.teamName && this.groupName){
                        return this.areaName.slice(0,8)+'/'+this.teamName.slice(0,8)+'/'+this.groupName.slice(0,8);
                    }
                    if(this.areaName && this.teamName){
                        return this.areaName.slice(0,8)+'/'+this.teamName.slice(0,8);
                    }
                    if(this.areaName){
                        return this.areaName;
                    }
                    if(this.teamName && this.groupName){
                        return this.teamName.slice(0,8)+'/'+this.groupName.slice(0,8);
                    }
                    if(this.teamName){
                        return this.teamName;
                    }
                    return '';
                }
            }
        });
    }
</script>

</html>
