<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增客户-主页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }
        #wrap{
            position: relative;
        }
    </style>
</head>

<body>
    <div id="wrap">
        <div class="filter-popup" id="filter-popup" ontouchmove="event.preventDefault();">
            <div class="filter-popbg" onclick="hideFilterPopupBox();"></div>
            <div class="filter-popbox">
                <ul>
                    <li :class="{'curr':currOriginIndex === ''}" @click="switchTabFn($event,'全部',0)">
                        <span>全部</span>
                        <i></i>
                    </li>
                    <li v-for="(origin,index) in khOriginList" :key="index" :class="{'curr':currOriginIndex === index}" @click="switchTabFn($event,origin.name,origin.value)">
                        <span v-text="origin.name"></span>
                        <i></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-lists">
        <!-- <div class="filter-lists" v-if="khDataList && khDataList.length > 0" v-cloak> -->
            <div class="filter-lis" v-for="khdata in khDataList" :key="khdata.id" @click.stop="skipCustomerDetail(khdata.id,khdata.phone)">
                <div class="filter-lt flex-wrap flex-between">
                    <div class="flex-wrap filter-lcap"><span class="cname w-elli" v-text="khdata.name">和哈哈哈哈哈哈哈哈哈哈哈哈</span><span class="red-bg green-bg rela-state">未联系</span></div>
                    <div class="cphone" @click.stop="handleSkipFollow(khdata.id,khdata.phone)">去跟进</div>
                </div>
                <div class="filter-lb">
                    <div class="lis flb-cls1">客户类型: <span v-text="khdata.status||'无'">少的地方</span></div>
                    <div class="lis flb-cls2">跟进时间: <span v-text="khdata.followtime||'暂未跟进'">是多少发顺丰</span></div>
                    <div class="lis flb-cls2">计划跟进: <span v-text="khdata.nextfollow||'暂无计划'">盛世嫡妃顺丰到付f</span></div>
                </div>
            </div>
            <!-- 无更多数据 -->
            <div class="not-more-filter" id="not-more">没有更多数据</div>
        </div>
        <!-- 空页面 -->
        <empty-con :is-show="khDataList.length === 0" txt="暂无你查找的资源客户"></empty-con>
        <!-- 跟进记录弹窗 -->
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var nCustomerFrame = null;
    apiready = function() {
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: false,
            loadAnimInterval: 120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png',
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            //下拉刷新被触发，自动进入加载状态，使用 api.refreshHeaderLoadDone() 手动结束加载中状态
            //下拉刷新被触发，使用 api.refreshHeaderLoadDone() 结束加载中状态
            $('#not-more').hide();
            nCustomerFrame.pageNo = 1;
            nCustomerFrame.fetchNewAdd(false, api.refreshHeaderLoadDone);
        });
        // 上拉加载更多
        api.addEventListener({
            name: 'scrolltobottom'
        }, function(ret, err) {
            if (++nCustomerFrame.pageNo <= nCustomerFrame.totalPage) {
                nCustomerFrame.fetchNewAdd(true);
            } else {
                $('#not-more').show();
            }
        });
        // 跟进成功
        api.addEventListener({
            name: 'followRecordSuccessRefresh'
        }, function(ret, err){
            nCustomerFrame.pageNo = 1;
            nCustomerFrame.fetchNewAdd();
        });

        var param = api.pageParam;
        nCustomerFrame = new Vue({
            el: '#wrap',
            data: {
                currOriginIndex: '', //当前选中的客户来源
                khOriginList: [], //客户来源列表
                search_cusName: '', // 搜索客户名
                search_source: '', // 客户类型
                search_status: 0, // 联系状态
                order_time: 0, // 分配时间
                pageNo: 1,
                totalPage: 1,
                khDataList: [], // 客户数据列表
                userInfo: ''
            },
            mounted: function() {
                // this.fetchKhOrigin();
            },
            methods: {
                init:function(){
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                },
                // 获取新增客户来源
                fetchKhOrigin: function() {
                    var _this = this;
                    this.init();
                    wApiAjax({
                        url: 'customer/sourceAndType',
                        headers: {
                            "token": TOKEN_DATA
                        },
                        success: function(res) {
                            console.log('customer origin response data: '+JSON.stringify(res))
                            if (res.code == 1) {
                                _this.khOriginList = res.data.customerSourceslist;
                                res.data.customerSourceslist.forEach(function(v, i) {
                                    if (v.name.trim() === param.origin.trim()) {
                                        _this.currOriginIndex = i;
                                        _this.search_source = v.value;
                                    }
                                })
                                _this.fetchNewAdd();
                            } else {
                                wDialog.toast({
                                    msg: res.msg
                                })
                            }
                        }
                    })
                },
                // 获取今日新增列表
                fetchNewAdd: function(isLoadMore, callback) {
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    wDialog.showProgress();
                    wApiAjax({
                        url: 'workbench/datalist',
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: _this.userInfo.employeeid,
                            search_cusName: _this.search_cusName,
                            search_source: _this.search_source,
                            search_status: _this.search_status,
                            order_time: _this.order_time,
                            pageNo: _this.pageNo,
                            pageSize: 10
                        },
                        success: function(res) {
                            wDialog.hideProgress();
                            if (res.code == 1) {
                                if (!isLoadMore) {
                                    _this.khDataList = res.data ? res.data : [];
                                    _this.totalPage = Math.ceil(res.count / res.pageSize);
                                    console.log(_this.totalPage)
                                } else {
                                    if (res.data) {
                                        _this.khDataList = _this.khDataList.concat(res.data);
                                    }
                                }

                            } else {
                                wDialog.toast({
                                    msg: res.msg
                                })
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail: function() {
                            callback && typeof callback === 'function' && callback();
                        }
                    })
                },
                // 切换客户来源
                switchTabFn: function(e, name, id) {
                    var tag = e.currentTarget;
                    hideFilterPopup();
                    api.setFrameAttr({
                        bounces: true,
                    });
                    if ($(tag).hasClass('curr')) {
                        return;
                    } else {
                        $(tag).addClass('curr').siblings().removeClass('curr');
                    }
                    // 获取客户名字
                    api.execScript({
                        name: 'newCustomerHeader',
                        script: 'getKhOriginName(\'' + name + '\')'
                    });
                    $('#not-more').hide();
                    this.search_source = id;
                    this.pageNo = 1;
                    this.fetchNewAdd();
                },
                // 跳转到详情
                skipDetail: function(id,phone) {
                    wHrefJs.openWin({
                        name: 'customerDetail',
                        path: '../customer/customer_detail.html',
                        param: {
                            cusId: id,
                            cusPhone:phone,
                            isWork:2
                        }
                    })
                },
                // 跳转到跟进记录
                handleSkipFollow:function(id,phone){
                    api.openWin({
                        name: 'followRecord',
                        url: '../follow/follow_record.html',
                        pageParam: {
                            id:id,
                            phone:phone,
                            isWork:2
                        },
                        slidBackEnabled: false
                    });
                }
            }
        });
    }
    // 显示客户来源的弹窗
    function showFilterPopup() {
        $('#filter-popup').show();
    }
    // 隐藏客户来源的弹窗
    function hideFilterPopup() {
        $('#filter-popup').hide();
    }
    // 隐藏弹窗框
    function hideFilterPopupBox() {
        hideFilterPopup();
        api.setFrameAttr({
            bounces: true
        });
    }
    // 联系状态和分配时间 条件筛选
    function filterCondition(data) {
        var d = JSON.parse(data);
        $('#not-more').hide();
        nCustomerFrame.search_status = d.status1;
        nCustomerFrame.order_time = d.status2;
        nCustomerFrame.pageNo = 1;
        nCustomerFrame.fetchNewAdd();
    }
    // 获取搜索的内容
    function getSearchValue(val) {
        nCustomerFrame.search_cusName = val;
        nCustomerFrame.pageNo = 1;
        nCustomerFrame.fetchNewAdd();
    }
    // 清空搜索的内容
    function clearSearchValue() {
        nCustomerFrame.search_cusName = '';
    }
</script>

</html>
