<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统跟进-主页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        html,
        body,
        #wrap {
            height: 100%;
            background-color: #f7f7f7;
        }
        #wrap{
            position: relative;
        }
        .filter-lists .filter-lis{
            height: auto;
        }
        .filter-lists .filter-lis .filter-call{
            margin-top: 0;
            top: 50%;
        }
    </style>
</head>

<body>
    <div id="wrap">
        <div class="filter-lists" v-if="khDataList && khDataList.length > 0" v-cloak>
            <div class="filter-lis" v-for="khdata in khDataList" :key="khdata.id" @click.stop="skipCustomerDetail(khdata.id,khdata.phone)">
                <div class="filter-lt flex-wrap flex-between">
                    <div class="flex-wrap filter-lcap"><span class="cname w-elli" v-text="khdata.name"></span></div>
                    <div class="cphone" @click.stop="handleSkipFollow(khdata.id,khdata.phone)">去跟进</div>
                </div>
                <div class="filter-lb">
                    <div class="lis flb-cls1">客户编号: <span v-text="khdata.id||'暂无'"></span></div>
                    <div class="flex-wrap filter-lb1">
                        <div class="lis flex-con flb-cls2">号码归属地: <span v-text="khdata.attribution||'未知'"></span></div>
                        <div class="lis flex-con flb-cls2">客户类型: <span v-text="khdata.status||'暂无'"></span></div>
                        <div class="lis flex-con flb-cls2">跟进时间: <span v-text="khdata.followtime||'暂无跟进'"></span></div>
                        <div class="lis flex-con flb-cls2">计划时间: <span v-text="khdata.nextfollow||'暂无计划'"></span></div>
                    </div>
                </div>
            </div>
            <!-- 无更多数据 -->
            <div class="not-more-filter" id="not-more">没有更多数据</div>
        </div>
        <!-- 空页面 -->
        <empty-con :is-show="khDataList.length === 0" txt="暂无你查找的资源客户"></empty-con>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var sCusSystemFrameV = null;
    apiready = function() {
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: false,
            loadAnimInterval: 120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png',
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            //下拉刷新被触发，自动进入加载状态，使用 api.refreshHeaderLoadDone() 手动结束加载中状态
            //下拉刷新被触发，使用 api.refreshHeaderLoadDone() 结束加载中状态
            $('#not-more').hide();
            sCusSystemFrameV.pageNo = 1;
            sCusSystemFrameV.fetchSystemData(false, api.refreshHeaderLoadDone);
        });
        // 上拉加载更多
        api.addEventListener({
            name: 'scrolltobottom'
        }, function(ret, err) {
            if (++sCusSystemFrameV.pageNo <= sCusSystemFrameV.totalPage) {
                sCusSystemFrameV.fetchSystemData(true);
            } else {
                if(sCusSystemFrameV.khDataList.length > 0){
                    $('#not-more').show();
                }
            }
        });
        // 跟进成功
        api.addEventListener({
            name: 'followRecordSuccessRefresh'
        }, function(ret, err){
            sCusSystemFrameV.pageNo = 1;
            sCusSystemFrameV.fetchSystemData();
        });

        var param = api.pageParam;

        // 筛选客户状态
        api.addEventListener({
            name: 'filterSystemCustomer'
        }, function(ret, err){
            var obj = ret.value;
            if(obj){
                if(typeof obj.status != 'undefined'){
                    sCusSystemFrameV.currStatus = obj.status;
                }
                if(typeof obj.startDate != 'undefined'){
                    sCusSystemFrameV.startDate = obj.startDate;
                }
                if(typeof obj.endDate != 'undefined'){
                    sCusSystemFrameV.endDate = obj.endDate;
                }
                if(typeof obj.origin != 'undefined'){
                    sCusSystemFrameV.currOrigin = obj.origin;
                    sCusSystemFrameV.currOriginTwo = obj.originTwo;
                    sCusSystemFrameV.currOriginType = obj.type;
                }
                if(typeof obj.home != 'undefined'){
                    sCusSystemFrameV.currHome = obj.home;
                }
                if(typeof obj.sort != 'undefined'){
                    sCusSystemFrameV.currSort = obj.sort;
                }
                $('#not-more').hide();
                sCusSystemFrameV.pageNo = 1;
                sCusSystemFrameV.fetchSystemData();
            }
        });
        sCusSystemFrameV = new Vue({
            el: '#wrap',
            data: {
                search_cusName: '', // 搜索客户名
                startDate:'',
                endDate:'',
                currType:'',
                currOrigin:'',
                currOriginTwo:'',
                currStatus:'',
                currHome:'',
                currSort:0,
                pageNo: 1,
                totalPage: 1,
                khDataList: [], // 客户数据列表
                userInfo: ''
            },
            mounted: function() {
                this.init();
                this.fetchSystemData();
            },
            methods: {
                init:function(){
                    // 获取权限，初始化结构
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = (this.userInfo != '' ? JSON.parse(this.userInfo) : {});

                    this.startDate = param.startDate;
                    this.endDate = param.endDate;
                    this.currType = param.currType;
                    this.currOrigin = param.currOrigin;
                    this.currOriginTwo = param.currOriginTwo;
                    this.currStatus = param.currStatus;
                },
                // 获取系统跟进列表
                fetchSystemData: function(isLoadMore, callback) {
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    wDialog.showProgress();
                    console.log('request data ====> '+JSON.stringify({
                        employeeid: param.empId ? param.empId : _this.userInfo.employeeid,
                        search_cusName: _this.search_cusName,
                        startTime: _this.startDate,
                        endTime: _this.endDate,
                        cusSource:_this.currOriginTwo?_this.currOriginTwo:_this.currOrigin,
                        cusStatus:_this.currStatus,
                        sort:_this.currSort,
                        attributionid:_this.currHome,
                        type:1,
                        resourcetype:'',
                        pageNo: _this.pageNo,
                        pageSize: 10
                    }))
                    var url = '';
                    if(param.origin === 'managerSystemFollow'){
                        url = 'systemResource/sysResourceListByEmp';
                    }
                    else{
                        url = 'systemResource/sysResourceList'
                    }
                    console.log('url----------'+url);
                    wApiAjax({
                        url: url,
                        headers: {
                            token: TOKEN_DATA
                        },
                        data: {
                            employeeid: param.empId ? param.empId : _this.userInfo.employeeid,
                            search_cusName: _this.search_cusName,
                            startTime: _this.startDate,
                            endTime: _this.endDate,
                            cusSource:_this.currOriginTwo?_this.currOriginTwo:_this.currOrigin,
                            cusStatus:_this.currStatus,
                            sort:_this.currSort,
                            attributionid:_this.currHome,
                            type:1,
                            resourcetype:'',
                            pageNo: _this.pageNo,
                            pageSize: 10
                        },
                        success: function(res) {
                            console.log('system response -----------'+JSON.stringify(res))
                            wDialog.hideProgress();
                            if (res.code == 1) {
                                if (!isLoadMore) {
                                    _this.khDataList = res.data ? res.data : [];
                                    _this.totalPage = Math.ceil(res.count / res.pageSize);
                                } else {
                                    if (res.data) {
                                        _this.khDataList = _this.khDataList.concat(res.data);
                                    }
                                }

                            } else {
                                wDialog.toast({
                                    msg: res.msg
                                })
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail: function() {
                            callback && typeof callback === 'function' && callback();
                        }
                    })
                },
                // 跳转到详情
                skipCustomerDetail: function(id,phone) {
                    wHrefJs.openWin({
                        name: 'customerDetail',
                        path: '../customer/customer_detail.html',
                        param: {
                            cusId: id,
                            cusPhone:phone,
                            isWork:1
                        }
                    })
                },
                // 跳转到跟进页面
                handleSkipFollow:function(id,phone){
                    api.openWin({
                        name: 'followRecord',
                        url: '../follow/follow_record.html',
                        pageParam: {
                            id:id,
                            phone:phone,
                            isWork:1
                        },
                        slidBackEnabled: false
                    });
                }
            }
        });
    }
    // 显示客户来源的弹窗
    function showFilterPopup() {
        $('#filter-popup').show();
    }
    // 隐藏客户来源的弹窗
    function hideFilterPopup() {
        $('#filter-popup').hide();
    }
    // 隐藏弹窗框
    function hideFilterPopupBox() {
        hideFilterPopup();
        api.setFrameAttr({
            bounces: true
        });
    }
    // 联系状态和分配时间 条件筛选
    function filterCondition(data) {
        var d = JSON.parse(data);
        $('#not-more').hide();
        sCusSystemFrameV.order_followtime = d.status1;
        sCusSystemFrameV.order_nextfollow = d.status2;
        sCusSystemFrameV.pageNo = 1;
        sCusSystemFrameV.fetchSystemData();
    }
    // 获取搜索的内容
    function getSearchValue(val) {
        sCusSystemFrameV.search_cusName = val;
        sCusSystemFrameV.pageNo = 1;
        sCusSystemFrameV.fetchSystemData();
    }
    // 清空搜索的内容
    function clearSearchValue() {
        sCusSystemFrameV.search_cusName = '';
    }
</script>

</html>
