<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <script type="text/javascript" src="../../script/lib/rem.js"></script>
    <script type="text/javascript" src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/login/login.css" />
</head>
<style media="screen">
    .loading {
        /*固定loading*/
        width: 0.4rem;
        height: 0.4rem;
        border: 2px solid;
        border-color: #1b6efb #1b6efb transparent;
        border-radius: 50%;
        box-sizing: border-box;
        /*动画时间1s，线性变化，无限循环*/
        animation: loading 1s linear infinite;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<body>
    <div id="wrap">
        <!-- logo -->
        <div class="logo" id="logo">
            <img src="../../image/logo-wenzi.png">
        </div>
        <div id="main" class="flex-con">
            <div class="form-div">
                <div class="row flex-wrap flex-align">
                    <div class="input-box flex-con">
                        <input
                            type="text"
                            maxlength="20"
                            placeholder="请输入个人账号"
                            v-model="phone"
                            @blur.stop="isShowDeleteCountIcon = false"
                            @focus.stop="phone.trim() === '' ? isShowDeleteCountIcon = false : isShowDeleteCountIcon = true"
                        />
                        <div
                            class="tips_img"
                            v-show="isShowDeleteCountIcon"
                            style="display:none;"
                            @click.stop="handleCleanAcount"
                        ><img src="../../image/login_del.png"></div>
                    </div>
                </div>
                <div class="row flex-wrap flex-align">
                    <div class="input-box flex-con input_pasd">
                        <input
                            type="password"
                            maxlength="16"
                            placeholder="请输入密码"
                            v-model="pwd"
                            @blur.stop="isShowDeletePwdIcon = false"
                            @focus.stop="pwd.trim() === '' ? isShowDeletePwdIcon = false : isShowDeletePwdIcon = true"
                            ref="pwd"
                        />
                        <div
                            class="tips_img1"
                            v-show="isShowDeletePwdIcon"
                            style="display:none;"
                            @click.stop="handleCleanPwd"
                        ><img src="../../image/login_del.png"></div>
                        <div
                            class="tips_img"
                            v-show="pwd.trim()"
                            style="display:none;"
                            @click.stop="handleChangePwdType"
                        ><img v-if="isLookPwdIcon" src="../../image/pwd_look.png"><img v-else src="../../image/pwd_nolook.png"></div>
                    </div>
                </div>
                <div class="submit-btn space-between">
                    <div class="text-align" @click="login">
                        <span class="loading" v-show="login_hide"></span>
                        <span v-html="sign"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/fastclick.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/speed-toast.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var indexV = null;
    apiready = function() {
        api.addEventListener({
            name: 'keyback'
        }, function(ret, err) {
            api.closeWidget({
                silent: false
            });
        });
        // 退出成功
        var param = api.pageParam;
        api.addEventListener({
            name: 'loginOutSuc'
        }, function(ret, err) {
            param.origin = 'person';
        });

        new Vue({
            el: '#wrap',
            data: {
                phone: '',
                pwd: '',
                sign: '登录',
                isShowDeleteCountIcon: false,
                isShowDeletePwdIcon: false,
                isLookPwdIcon:false,
                login_hide: false,
            },
            watch:{
                phone:function(n){
                    if(n.trim() === ''){
                        this.phone = '';
                        this.isShowDeleteCountIcon = false;
                    }
                    else{
                        this.isShowDeleteCountIcon = true;
                    }
                },
                pwd:function(n){
                    if(n.trim() === ''){
                        this.pwd = '';
                        this.isShowDeletePwdIcon = false;
                    }
                    else{
                        this.isShowDeletePwdIcon = true;
                    }
                }
            },
            methods: {
                handleCleanPwd: function() {
                    var _this = this;
                    _this.pwd = "";
                },
                handleCleanAcount: function() {
                    var _this = this;
                    _this.phone = "";
                },
                // 切换password样式
                handleChangePwdType:function(){
                    if(this.isLookPwdIcon){
                        this.isLookPwdIcon = false;
                        this.$refs.pwd.setAttribute('type','password');
                    }else{
                        this.isLookPwdIcon = true;
                        this.$refs.pwd.setAttribute('type','text');
                    }
                },
                login: function() {
                    var self = this;
                    var accountExp = /^([A-Za-z0-9]{3,20})$/;
                    if (self.phone == "" || self.phone == null || self.phone == undefined) {
                        wDialog.toast({
                            msg: "请输入账号"
                        })
                        return
                    } else if (!accountExp.test(self.phone)) {
                        wDialog.toast({
                            msg: "请正确输入账号"
                        })
                        return
                    }
                    var pwdExp = /^[\w]{6,16}$/;
                    if (self.pwd == "" || self.pwd == null || self.pwd == undefined) {
                        wDialog.toast({
                            msg: "请输入密码"
                        })
                        return
                    } else if (!pwdExp.test(self.pwd)) {
                        wDialog.toast({
                            msg: "请正确输入密码"
                        })
                        return
                    }
                    if (self.phone != "" || self.phone != null || self.phone != undefined || self.pwd != "" || self.pwd != null || self.pwd != undefined) {
                        if ((!pwdExp.test(self.pwd)) || (!accountExp.test(self.phone))) {
                            self.sign = "登录"
                            self.login_hide = false
                        } else {
                            // console.log('login phone ----> ' + self.phone);
                            wApiAjax({
                                method: "post",
                                url: 'loginapp/verifyLogin',
                                withCredentials: true,
                                data: {
                                    account: self.phone,
                                    pwd: hex_md5(self.pwd)
                                },
                                success: function(res) {
                                    console.log('-------------login-----------------' + JSON.stringify(res))
                                    // 0 其他提示狀態 2--该员工账号已被删除  6--账号不存在 4--登录成功  3--该员工账号未进行授权  5--账号密码错误/未分配角色   7--该员工手机号码未验证
                                    if (res.code == 0) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 2) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 6) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 3) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 5) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 4) {
                                        if (res.data.platAccount[0].isvalidate == 1) {
                                            // 推送的
                                            var ajpush = api.require('ajpush');
                                            if (api.systemType === 'andriod') {
                                                ajpush.init(function(ret) {
                                                    if (ret && ret.status) {
                                                        //success
                                                    }
                                                });
                                            }
                                            ajpush.bindAliasAndTags({
                                                alias: res.configEnv + '_' + res.data.platAccount[0].employeeid,
                                            }, function(res) {
                                                // console.log(JSON.stringify(res))
                                                // 设置别名
                                                if (res.statusCode == 0) {}
                                            })
                                            var userInfo = Object.assign({}, {
                                                relativePosi: res.rolescode
                                            }, res.data.platAccount[0])
                                            wPref.setPrefs({
                                                key: 'userInfo',
                                                value: JSON.stringify(userInfo)
                                            });
                                            myLocalStorage.setItem('token', res.token);
                                            wPref.setPrefs({
                                                key: 'isLogin',
                                                value: 1
                                            })
                                            self.sign = "登录中"
                                            self.login_hide = true
                                            console.log("-------login------------" + JSON.stringify(api.pageParam))
                                            api.sendEvent({
                                                name: 'loginSuc',
                                                extra: {
                                                    origin: param.origin
                                                }
                                            });
                                            if (param.origin === 'index') {
                                                // setTimeout(function() {
                                                //     api.closeToWin({
                                                //         name: 'root'
                                                //     });
                                                // }, 600);
                                            } else {
                                                setTimeout(function() {
                                                    api.closeWin();
                                                }, 200);
                                            }
                                        }
                                        setTimeout(function() {
                                            self.sign = "登录"
                                            self.login_hide = false;
                                            self.phone = "";
                                            self.pwd = "";
                                            self.defult_hide = false;
                                            self.defult_hideImg = false;
                                        }, 3000);
                                    }
                                    if (res.code == 7) {
                                        wPref.setPrefs({
                                            key: 'InfoPhone',
                                            value: res.data
                                        })
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                        myLocalStorage.setItem('token', res.token);
                                        wHrefJs.openWin({
                                            name: 'phonerz',
                                            path: './phonerz.html'
                                        })
                                    }
                                }
                            })
                        }
                    }
                }
            }
        })
    }
</script>

</html>
