<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <script type="text/javascript" src="../../script/lib/rem.js"></script>
    <script type="text/javascript" src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/login/login.css" />
</head>
<style media="screen">
    .loading {
        /*固定loading*/
        width: 0.4rem;
        height: 0.4rem;
        border: 2px solid;
        border-color: #1b6efb #1b6efb transparent;
        border-radius: 50%;
        box-sizing: border-box;
        /*动画时间1s，线性变化，无限循环*/
        animation: loading 1s linear infinite;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<body>
    <div id="wrap">
        <!-- logo -->
        <div class="logo" id="logo">
            <img src="../../image/logo-wenzi.png">
        </div>
        <div id="main" class="flex-con">
            <div class="form-div">
                <div class="row flex-wrap flex-align">
                    <div class="input-box flex-con">
                        <input type="text" maxlength="20" placeholder="请输入个人账号" v-model="phone" v-on:input="tel_focus">
                        <div class="tips_img" v-show="defult_hide"><img src="../../image/icon-qingkong-w.png" @click="empty_tel"></div>
                    </div>
                </div>
                <div class="row flex-wrap flex-align">
                    <div class="input-box flex-con input_pasd"><input type="password" maxlength="16" placeholder="请输入密码" v-model="pwd" v-on:input="pwd_focus">
                        <div class="tips_img" v-show="defult_hideImg"><img src="../../image/icon-qingkong-w.png" @click="empty_pwd"></div>
                    </div>
                </div>
                <div class="submit-btn space-between">
                    <div class="text-align" @click="login">
                        <span class="loading" v-show="login_hide"></span>
                        <span v-html="sign"></span></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/fastclick.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/speed-toast.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var indexV = null;
    apiready = function() {
        // console.log('index')
        api.addEventListener({
            name: 'keyback'
        }, function(ret, err) {
            api.closeWidget({
                silent: false
            });
        });
        // 退出成功
        var param = api.pageParam;
        api.addEventListener({
            name: 'loginOutSuc'
        }, function(ret, err){
            param.origin = 'person';
        });

        new Vue({
            el: '#wrap',
            data: {
                phone: '',
                pwd: '',
                sign: '登录',
                defult_hide: false,
                defult_hideImg: false,
                login_hide: false,
            },
            methods: {
                pwd_focus() {
                    var _this = this;
                    var pwdExp = /^[a-zA-Z0-9]+$/;
                    if (!pwdExp.test(_this.pwd)) {};
                    _this.defult_hideImg = true;
                },
                tel_focus() {
                    var _this = this;;
                    _this.defult_hide = true;
                },
                empty_pwd() {
                    var _this = this;
                    _this.pwd = "";
                    _this.defult_hideImg = false;
                },
                empty_tel() {
                    var _this = this;
                    _this.phone = "";
                    _this.defult_hide = false;
                },

                login: function() {
                    var self = this;
                    var accountExp = /^([A-Za-z0-9]{3,20})$/;
                    if (self.phone == "" || self.phone == null || self.phone == undefined) {
                        wDialog.toast({
                            msg: "请输入账号"
                        })
                        return
                    } else if (!accountExp.test(self.phone)) {
                        wDialog.toast({
                            msg: "请正确输入账号"
                        })
                        return
                    }
                    var pwdExp = /^[\w]{6,16}$/;
                    if (self.pwd == "" || self.pwd == null || self.pwd == undefined) {
                        wDialog.toast({
                            msg: "请输入密码"
                        })
                        return
                    } else if (!pwdExp.test(self.pwd)) {
                        wDialog.toast({
                            msg: "请正确输入密码"
                        })
                        return
                    }
                    if (self.phone != "" || self.phone != null || self.phone != undefined || self.pwd != "" || self.pwd != null || self.pwd != undefined) {
                        if ((!pwdExp.test(self.pwd)) || (!accountExp.test(self.phone))) {
                            self.sign = "登录"
                            self.login_hide = false
                        } else {
                            wApiAjax({
                                method: "post",
                                url: 'loginapp/verifyLogin',
                                withCredentials: true,
                                data: {
                                    account: self.phone,
                                    pwd: hex_md5(self.pwd)
                                },
                                success: function(res) {
                                    console.log(JSON.stringify(res))
                                        // 6--账号不存在 4--登录成功  3--该员工账号未进行授权  5--账号密码错误   7--该员工手机号码未验证
                                    if (res.code == 6) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 3) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 5) {
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                    }
                                    if (res.code == 4) {
                                        if (res.data.platAccount[0].isvalidate == 1) {
                                            wPref.setPrefs({
                                                key: 'userInfo',
                                                value: JSON.stringify(res.data.platAccount[0])
                                            });
                                            myLocalStorage.setItem('token',res.token);
                                            wPref.setPrefs({
                                                key: 'isLogin',
                                                value: 1
                                            })
                                            self.sign = "登录中"
                                            self.login_hide = true
                                            // console.log("-------login------------"+JSON.stringify(api.pageParam))
                                            console.log('-------------login-suc-----------------')
                                            api.sendEvent({
                                                name: 'loginSuc',
                                                extra:{
                                                    origin:param.origin
                                                }
                                            });
                                            if(param.origin === 'index'){
                                                setTimeout(function(){
                                                    api.closeToWin({
                                                        name: 'root'
                                                    });
                                                },400);
                                            }else{
                                                setTimeout(function(){
                                                    api.closeWin({});
                                                },400);
                                            }
                                        }
                                        setTimeout(() => {
                                            self.sign = "登录"
                                            self.login_hide = false;
                                            self.phone = "";
                                            self.pwd="";
                                            self.defult_hide = false;
                                            self.defult_hideImg =false;
                                        }, 3000);
                                    }
                                    if(res.code==7){
                                        wPref.setPrefs({
                                            key: 'InfoPhone',
                                            value: res.data
                                        })
                                        wDialog.toast({
                                            msg: res.msg
                                        })
                                        myLocalStorage.setItem('token',res.token);
                                        wHrefJs.openWin({
                                            name: 'phonerz',
                                            path: './phonerz.html'
                                        })
                                    }
                                }
                            })
                        }
                    }
                }
            }
        })
    }
</script>

</html>
