<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="Access-Control-Allow-Origin" content="https://192.168.0.214:8088"> -->
    <title>手机认证</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/login/phonerz.css" />
</head>

<body>
    <div id="wrap">
        <div class="header" id="header">
            <div class="back" @click="back"><img src="../../image/icon-dh-guanbi.png"></div>
        </div>
        <div id="main" class="flex-con">
            <div class="phone_authentication">手机认证</div>
            <div class="form-div">
                <div class="row flex-wrap flex-align">
                    <div class="input-box flex-con">
                        <input type="tel" maxlength="11" placeholder="请输入手机号" v-model="phone">
                        <div class="code">
                            <span v-html="obtain" v-show="default_obtain" @click="obtainClick"></span>
                            <span v-show="!default_obtain">重新发送({{count}}s)</span>
                        </div>
                    </div>
                </div>
                <div class="row flex-wrap flex-align">
                    <div class="input-box flex-con"><input type="text" maxlength="16" placeholder="请输入验证码" v-model="code"></div>
                </div>
                <div class="submit-btn space-between" @click="authentication">
                    <span class="text-align">认证</span>
                </div>
                <!-- <div> -->
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/fastclick.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/swiper.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/speed-toast.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    apiready = function() {
        $api.fixStatusBar($('.header')[0]);
    new Vue({
            el: '#wrap',
            data: {
                phone: '',
                code: '',
                obtain: '获取验证码',
                default_obtain: true,
                count: '',
                timer: null,
                verification: '',
                InfoPhone:''
            },
            methods: {
                getUserInfo: function() {
                     var _this = this
                    _this.InfoPhone = wPref.getPrefs({
                        key:'InfoPhone'
                    })
                    _this.InfoPhone = _this.InfoPhone ? JSON.parse(_this.InfoPhone) : {};
                },
                obtainClick: function() {
                    var _this = this;
                    const phoneExp = /^1[3456789]\d{9}$/;
                    if ((!phoneExp.test(_this.phone)) || _this.phone == "") {
                       wDialog.toast({
                           msg:'请输入正确号码'
                       })
                    } else {
                        const TIME_COUNT = 60;
                        if (!_this.timer) {
                            _this.count = TIME_COUNT;
                            _this.default_obtain = false;
                            _this.timer = setInterval(() => {
                                if (_this.count > 0 && _this.count <= TIME_COUNT) {
                                    _this.count--;
                                } else {
                                    _this.default_obtain = true;
                                    clearInterval(this.timer);
                                    _this.timer = null;
                                }
                            }, 1000)
                        };
                        wApiAjax({
                            url:'phoneauth/authen',
                            dataType: "json",
                            type: 'POST',
                            headers:{
                                token:TOKEN_DATA
                            },
                            data: {
                                account: _this.InfoPhone.account,
                                employeeid:_this.InfoPhone.employeeid,
                                phone: _this.phone,
                                type:1
                            },
                            success: function(res) {
                                console.log(JSON.stringify(res))
                                if(res.code==-3){
                                    wDialog.toast({
                                        msg:res.msg
                                    })
                                }
                                if(res.code==4){
                                    _this.verification = res.random
                                }

                            }
                        })

                    }
                },
                authentication: function() {
                    var self = this;
                    var phoneExp = /^1[3456789]\d{9}$/;
                    if (self.phone == "" || self.phone == null || self.phone == undefined) {
                       wDialog.toast({
                           msg:'请输入号码'
                       })
                        return;
                    } else if (!phoneExp.test(self.phone)) {
                       wDialog.toast({
                           msg:'请输入正确号码'
                       })
                        return;
                    };
                    if (self.code == "" || self.code == null || self.code == undefined) {
                       wDialog.toast({
                           msg:'请输入验证码'
                       })
                        return;
                    };
                    if (self.code == self.verification || phoneExp.test(self.phone)) {
                        wApiAjax({
                            method: "post",
                            url:'phoneauth/bind',
                            headers:{
                                token:TOKEN_DATA,
                            },
                            data: {
                                account: self.InfoPhone.account,
                                employeeid:self.InfoPhone.employeeid,
                                phone: self.phone,
                                authcode: self.code,
                                type:1   //发送短信类型:1-手机号验证，2-微信号查看
                            },
                            success: function(res){
                                console.log(res)
                                if (res.code == 5) {
                                   wDialog.toast({
                                       msg:res.msg
                                   })
                                   api.closeWin({
                                       name: 'phonerz'
                                   });
                                }
                                if (res.code == 2) {
                                    wDialog.toast({
                                        msg:res.msg
                                    })
                                }

                            }
                        })
                    }
                },
                back() {
                    api.closeWin({});
                }
            },
            mounted() {
                this.getUserInfo();
            }
        })
        }
</script>

</html>
