/*客户详情*/
.cd-header {
    position: relative;
    width: 100%;
    height: 180px;
    background: url('../../image/img-xq-bg.png') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
    box-sizing: content-box;
}

.cd-header .offline-box{
    position: absolute;
    left: 0;
    bottom: -38px;
    width: 100%;
    height: 38px;
    background-color: #fff4e1;
    overflow: hidden;
    line-height: 38px;
    padding: 0 15px;
    font-size: 13px;
    color: #fa9450;
}
.cd-header .offline-box .off-left i{
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../../image/icon-wifi.png') no-repeat center;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
}
.cd-header .offline-box .off-right{
    width: 14px;
    height: 100%;
    background: url('../../image/right.png') no-repeat center;
    background-size: 14px;
}
.cd-header .back-box {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    line-height: 32px;
    text-align: center;
    z-index: 9999;
    opacity: .8;
    transition: all .2s;
}
.cd-header .back-box.curr{
    background-image: linear-gradient(90deg,
		#0d64fa 0%,
		#54cbf8 100%);
    opacity: 1;
}
.cd-header .back-box .back{
    width: 50px;
    height: 32px;
    background: url('../../image/icon-dh-fanhui-w.png') no-repeat center;
    background-size: 24px;
}
.cd-header .back-box .right{
    width: 40px;
    height: 32px;
}
.cd-header .back-box.show-nav .header-txt{
    visibility: visible;
}
.cd-header .back-box .header-txt{
    visibility: hidden;
}
.cd-header .back-box .header-txt > span{
    position: relative;
    padding:0 10px;
    font-size: 16px;
}
.cd-header .back-box .header-txt > span > i{
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -6px;
    width: 12px;
    height: 2px;
    background-color: #fff;
    display: none;
}
.cd-header .back-box .header-txt > span.curr{
    font-weight: bold;
}
.cd-header .back-box .header-txt > span.curr > i{
    display: block;
}

.cd-header .hname {
    position: relative;
    padding: 48px 20px 0;
    width:100%;
    height: 72px;
    line-height: 1em;
    font-size: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    overflow: hidden;
}

.cd-header .hname > div{
    position: relative;
    white-space: nowrap;
    height: 24px;
}

.cd-header .hname >div> span{
    padding:0 8px;
    width: auto;
}
.cd-header .horigin {
    font-size: 15px;
    height: 24px;
    line-height: 24px;
}

.cd-caption {
    position: relative;
    top: -40px;
    width: calc(100% - 30px);
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:0px 8px 12px 8px rgba(0, 0, 0, 0.03);
    -moz-box-shadow:0px 8px 12px 8px rgba(0, 0, 0, 0.03);
    -ms-box-shadow:0px 8px 12px 8px rgba(0, 0, 0, 0.03);
    -o-box-shadow:0px 8px 12px 8px rgba(0, 0, 0, 0.03);
    box-shadow:0px 8px 12px 8px rgba(0, 0, 0, 0.03);
    padding: 20px 17px 18px;
}

.cd-caption .cd-ct {
    line-height: 20px;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.cd-caption .cd-ct .look {
    position: relative;
    z-index: 10;
    font-size: 14px;
    height: 20px;
    padding: 0 5px;
    text-align: center;
    margin-left: 8px;
    vertical-align: bottom;
    line-height: 22px;
}

.cd-caption .cd-ct .look:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 200%;
    height: 200%;
    border: 1px solid #999;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}

.cd-caption .cd-cb {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}
.cd-caption .cd-cb  .cd-name{
    line-height: 24px;
}
.cd-caption .cd-cb  .cd-name > i{
    padding-left: 12px;
    margin-left: 6px;
    background:url('../../image/icon-bianji1.png') no-repeat center;
    background-size: 12px;
}
.cd-caption .cd-cb>span.line {
    margin: 0 15px;
}

.cd-contain {
    position: relative;
    top: -20px;
}

.cd-nav {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    color: #666;
    text-align: center;
}

.cd-nav:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -o-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #ededed;
}

.cd-nav .cd-n {
    position: relative;
}

.cd-nav .cd-n>i {
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 24px;
    height: 2px;
    margin-left: -12px;
    background-color: #4c9ef8;
    display: none;
}

.cd-nav .cd-n.curr {
    color: #4c9ff8;
    position: relative;
}

.cd-nav .cd-n.curr>i {
    display: block;
}
.cd-filter-box{
    height: 40px;
    line-height: 40px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
    background-color: #f6f6f6;
    font-size: 14px;
}
.cd-filter-box > i{
    padding-left: 12px;
    margin-left: 5px;
    background:url('../../image/icon-gr-jiantou2.png') no-repeat center;
    background-size: 12px;
    opacity: .6;
}
.cd-contain .cd-box0 {
    padding: 16px 15px;
}
.cd-contain .cd-box{
    position: relative;
    padding-bottom: 74px;
}
.cd-btm-btn{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    height: 74px;
    width: 100%;
    /*background-color: transparent;*/
    background-image: linear-gradient(180deg, rgba(0,0,0, 0) 0%,  rgba(0,0,0,.15) 100%);
    padding:15px 66px;
    text-align: center;
}
.cd-btm-btn .cd-btn{
    width: 100%;
    height: 44px;
    line-height: 44px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    color:#fff;
    font-size: 17px;
}
.cd-btm-btn .cd-btn .phone-follow-btn{
    border-top-left-radius: 22px;
    border-bottom-left-radius:22px;
    background-image: linear-gradient(90deg, rgba(13, 100, 250, 0.95) 0%,  rgba(84, 203, 248, 0.95) 100%);

}
.cd-btm-btn .cd-btn .skip-follow-btn{
    border-radius:22px;
    background-image: linear-gradient(90deg, rgba(13, 100, 250, 0.95) 0%,  rgba(84, 203, 248, 0.95) 100%);
}
.cd-btm-btn .cd-btn .note-follow-btn{
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-image: linear-gradient(90deg, #ffca00 0%,  #fe9606 100%);

}
.cd-btm-btn .cd-btn .note-follow-btn.disabled{
    background-image: -webkit-linear-gradient(left, #eee 0%, #ccc 100%);
    background-image: -o-linear-gradient(left, #eee 0%, #ccc 100%);
    background-image: linear-gradient(to right, #eee 0%, #ccc 100%);
}
.cd-btm-btn .cd-btn .follow-btn > i{
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-right: 5px;
}
.cd-btm-btn .cd-btn .phone-follow-btn > i{
    background-image: url('../../image/icon-dianhua32.png');
}
.cd-btm-btn .cd-btn .note-follow-btn > i{
    background-image: url('../../image/icon-duanxin32.png');
}
.cd-contain .cd-flow {
    position: relative;
    padding-left: 34px;
    padding-bottom: 20px;
}
.cd-contain .cd-employee-lists{
    position: relative;
    padding-top: 20px;
}
.cd-contain .cd-box2 .emp-filter-popup{
    position: absolute;
    left: 0;right: 0;
    top:40px;
    bottom: -74px;
    z-index: 100000;
    background-color: rgba(0,0,0,.4);
}
.cd-contain .cd-box2 .emp-filter-popup ul{
    padding: 10px 15px;
    background-color: #fff;
}
.cd-contain .cd-box2 .emp-filter-popup li{
    color:#333;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
}
.cd-contain .cd-box2 .emp-filter-popup li.curr{
    color:#0c7ff9;
}
.cd-contain .cd-employee-lis{
    padding-left: 30px;
}
.cd-contain .cd-flow:after {
    content: '';
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 12px;
    background-color: #ededed;
    width: 1px;
}
.cd-contain .cd-employee-lis:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 13px;
    background-color: #ededed;
    width: 1px;
}
.cd-contain .cd-employee-lis:first-child:after{
    top: 18px;
}
.cd-contain .cd-flow:last-child:after{
    bottom: 20px;
}

.cd-contain .cd-flow .cd-flow-sicon {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}
.cd-contain .cd-employee-lis .cd-emp-icon{
    position: absolute;
    left: 6px;
    top: 4.5px;
    z-index: 9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 1.5px #fff;
}
.cd-contain .cd-employee-lis .cd-emp-icon0{
    border:2px solid #0c7ff9;
}
.cd-contain .cd-employee-lis .cd-emp-icon1{
    border:2px solid #00bf6d;
}
.cd-contain .cd-flow .cd-flow-sicon1 {
    background-image: url('../../image/icon-xq-1baifang.png');
}

.cd-contain .cd-flow .cd-flow-sicon2 {
    background-image: url('../../image/icon-xq-2zaixian.png');
}

.cd-contain .cd-flow .cd-flow-sicon3 {
    background-image: url('../../image/icon-xq-3shouji.png');
}

.cd-contain .cd-flow .cd-flow-sicon4 {
    background-image: url('../../image/icon-xq-4youxiang.png');
}

.cd-contain .cd-flow .cd-flow-sicon5 {
    background-image: url('../../image/icon-xq-5czhen.png');
}
.cd-contain .cd-flow .cd-flow-sicon6 {
    background-image: url('../../image/icon-xq-6duanxin.png');
}

.cd-contain .cd-flow .cd-flow-tit{
    position: relative;
    font-size: 16px;
    color: #333;
    width:100%;
    height: 24px;
    line-height:24px;;
    overflow: hidden;
}
.cd-contain .cd-flow .cd-flow-tit > .copy-edit{
    position: absolute;
    top:0;
    right:-5px;
    width:auto;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
}
.cd-contain .cd-flow .cd-flow-tit > .copy-edit > span{
    padding:0 5px;
    color:#4C9FF8;
}
.cd-contain .cd-flow .cd-flow-tit > .copy-edit > b{
    color:#ccc;
    font-weight: normal;
}
.cd-contain .cd-flow .cd-flow-t {
    font-size: 14px;
    color: #333;
    line-height:24px;
    word-break: break-all;
}

.cd-contain .cd-flow .cd-flow-t.all {
    max-height: auto;
    height: auto;
}

.cd-contain .cd-flow .cd-flow-all {
    height: 28px;
    line-height: 20px;
    color: #999;
    font-size: 14px;
    padding-bottom: 8px;
}

.cd-contain .cd-flow .cd-flow-audio {
    position: relative;
    width: 36.5vw;
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.cd-contain .cd-flow .cd-flow-audio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 6px solid rgb(30,125,249);
}
.cd-contain .cd-flow .cd-flow-audio.disabled:before {
    border-right: 6px solid #ccc;
}

.cd-contain .cd-flow .cd-flow-audio .audio-txt {
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    background-color:rgb(30,125,249);
    /* 标准的语法 */
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
.cd-contain .cd-flow .cd-flow-audio.disabled{
    pointer-events: none;
}
.cd-contain .cd-flow .cd-flow-audio.disabled .audio-txt{
    background: #ccc url('../../image/icon-yuying.png') no-repeat 9px center;
    background-size: 18px;
}
.cd-contain .cd-flow .cd-flow-audio.disabled .audio-txt > i{
    display: none;
}
.cd-contain .cd-flow .cd-flow-audio .audio-txt > i{
    width: 18px;
    height: 100%;
    background: url('../../image/icon-yuying.png') no-repeat center;
    background-size: 18px;
}

.cd-contain .cd-flow .cd-flow-audio .audio-txt.playing > i{
    background-image: url('../../image/icon-yuyin.gif');
}
.cd-contain .cd-flow .cd-flow-audio .audio-txt>span {
    opacity: .9;
}
.cd-contain .cd-flow .cd-flow-p {
    position: relative;
    width: auto;
    height:20px;
    line-height:20px;
    padding:0 10px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #f19600;
    background-color: rgba(245, 166, 35, 0.09);
    margin-top: 5px;
}
.cd-contain .cd-flow .cd-flow-p:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 200%;
    height: 200%;
    border: 1px solid rgba(245, 166, 35, 0.4);
    color: #e9e9e9;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
.cd-contain .cd-flow .cd-flow-p > span{
    vertical-align: middle;
}
.cd-contain .cd-flow .cd-flow-timebox{
    position: relative;
    width: 100%;
    height: auto;
    padding:13px;
    margin-top: 13px;
    background-color: #fafafa;
}
.cd-contain .cd-employee-lis .cd-flow-timebox{
    padding: 15px;
    line-height: 18px;
    font-size: 14px;
}
.cd-box2{
    padding: 0 15px;
}
.cd-contain .cusdetail-employee-lists .cd-flow-timebox{

}
.cd-contain .cd-flow .cd-flow-timebox > i.top-icon{
    position: absolute;
    left: 12px;
    top: -5px;
    z-index: 10;
    width: 12px;
    height: 6px;
    background: url('../../image/icon-jianjiao.png') no-repeat center;
    background-size: 12px 6px;

}
.cd-contain .cd-flow .cd-flow-timebox:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 200%;
    height: 200%;
    border: 1px solid #ececec;
    color: #e9e9e9;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5)
}
.cd-contain .cd-flow .cd-flow-timebox .gj{
    position: relative;
    line-height: 18px;
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
    padding-left: 16px;
}
.cd-contain .cd-employee-lis .cd-flow-timebox .gj{
    padding: 0;
}
.cd-contain .cd-employee-lis .cd-flow-timebox .gj > span.emp-acount{
    color:#0c7ff9;
}
.cd-contain .cd-flow .cd-flow-timebox .gj > i{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.cd-contain .cd-flow .cd-flow-timebox .gj-time > i{
    background-image: url('../../image/icon-shijian.png');
}
.cd-contain .cd-flow .cd-flow-timebox .gj-plan > i{
    background-image: url('../../image/icon-jihua.png');
}
.cd-contain .cd-flow .cd-flow-timebox .gj-addr > i{
    background-image: url('../../image/icon-dizhi.png');
}
.cd-contain .cd-flow .cd-flow-timebox .gj:last-child{
    margin-bottom: 0;
}
.cd-contain .cd-info{
    padding: 0 15px;
}
.cd-contain .cd-info .cd-info-lis{
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color:#333;
    padding: 13px 0;
}
.cd-contain .cd-info .cd-info-lis:before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    height: 1px;
    border-bottom: 1px solid #ededed;
    color: #ededed;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.cd-contain .cd-info .cd-info-lis:last-child:before{
    display: none;
}
.cd-contain .cd-info .cd-info-lis .left{
    width: 19.2vw;
}
.cd-contain .cd-info .cd-info-lis .right{
    width: 72vw;
}

/*验证码样式*/

.verification_code {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.shade {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.content {
    width: 74.667vw;
    height: 55.6333vw;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
    position: fixed;
    margin: auto;
    margin-top:27.8667vw;
    top: 50%;
    left: 50%;
    margin-left: 37.3333vw;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

.content_code {
    padding: 15px;
}

.close {
    width: 15px;
    height: 15px;
    float: right;
}

.close>img {
    width: 100%;
}

.short_message {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: #333333;
    text-align: center;
    padding-top: 5px;
}

.text_tel {
    padding-top: 9px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    line-height:20px;
    letter-spacing: 0.5px;
    color: #999999;
    text-align: center;
}

.text_tel > span{
    color:#D0021B;
    padding:0 5px;
}
.text_tel > p{
    font-size: 14px;
    color:#4C9FF8;
    line-height: 1.4em;
}
.timer_r {
    color: #4c9ff8!important;
}

.tel_num {
    padding-top: 1px;
    text-align: center;
}

.security-code-wrap {
    overflow: hidden;
}

.security-code-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.field-wrap {
    list-style: none;
    position: relative;
    display: block;
    width: 3px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    margin: 2px;
    color: #333;

}
.field-wrap:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    transform: scaleY(.5);
}

.field-wrap.active:after{
    background-color: #1d70fb;
}
.char-field {
    font-style: normal;
}

.input-code {
    position: absolute;
    left: -9999px;
    top: -99999px;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: visible;
    z-index: -1;
}

.submit {
    margin-top: 2px;
}

.submit>div {
    width: 100%;
    height: 36px;
    background-image: linear-gradient(90deg, rgba(84, 203, 248, 0.95) 0%, rgba(13, 100, 250, 0.95) 100%);
    opacity: 0.6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    line-height: 36px;
    font-size: 17px;
    color: white;
}

.submitClick {
    opacity: 1!important;
}
