<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渠道资源-主页</title>
    <script src="../../script/lib/rem.js"></script>
    <script src="../../script/lib/fastclick.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/lib/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/index.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        html,
        body,
        #wrap {
            min-height: 100%;
            background-color: #f7f7f7;
        }
        #wrap{
            position: relative;
        }
        .filter-foot{
            height: 32px;
            line-height: 32px;
            background-color: #fafafa;
            padding: 0 10px;
            color:#fa9450;
            margin-left: -10px;
            margin-right:-10px;
            font-size: 13px;
	        font-family: "PingFangSC-Regular",
        }
        /*禁止点击*/
        .filter-lis.disabled{
            pointer-events: none !important;
            border:1px solid #fff !important;
        }
        .filter-lis.disabled .filter-lt .rela-state{
            background-color: #ccc !important;
            color: #fff !important;
        }
        .filter-lis.disabled .filter-lt .cphone{
            opacity: .3 !important;
        }
        .filter-lis.disabled .lis.flb-cls2{
            opacity: .5 !important;
        }
        .filter-lists .filter-lis.disabled > i{
            display: none !important;
        }
        /*选中状态*/
        .filter-lists .filter-lis{
        }
        .filter-lists .filter-lis.curr{
            border: 1px solid #0c7ff9;
        }
        .filter-lists .filter-lis > i{
            position: absolute;
            right: -1px;
            bottom: -1px;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: none;
        }
        .filter-lists .filter-lis.curr > i{
            background-image: url('../../image/postion_checked_curr.png');
            display: block;
        }
    </style>
</head>

<body>
    <div id="wrap" v-cloak  @touchstart.stop="handleBlur">
        <div v-show="isShowChannelAllotList" style="display:none;">
            <div class="filter-lists" v-show="customerList1 && customerList1.length > 0" style="display:none;" v-cloak>
                <div class="filter-lis" v-for="cus in customerList1" :key="cus.id" :id="'cus-lis-'+cus.id" @click.stop="skipCustomerDetail(cus.id,cus.phone,'cus-lis-'+cus.id,cus.status,0)">
                    <div class="filter-lt flex-wrap flex-between">
                        <div class="flex-wrap filter-lcap">
                            <span class="cname w-elli" v-text="cus.name"></span>
                            <!-- 待跟进   已认领   已退回渠道 -->
                            <span class="rela-state" v-show="cus.status == 3" style="display:none;" :class="[cus.status == 3?'red-bg':'']">待跟进</span>
                        </div>
                        <div class="cphone" @click.stop="handleSkipFollow(cus.id,cus.phone,'cus-lis-'+cus.id,cus.status,0)">去跟进</div>
                    </div>
                    <div class="filter-lb">
                        <div class="flex-wrap filter-lb1" style="margin-top:8px;">
                            <div class="lis flex-con flb-cls2">客户编号: <span v-text="cus.id||'无'"></span></div>
                            <div class="lis flex-con flb-cls2">号码归属: <span v-text="cus.attribution||'未知'"></span></div>
                            <div class="lis flex-con flb-cls2">客户类型: <span v-text="cus.estate"></span></div>
                            <div class="lis flex-con flb-cls2">分配时间: <span v-text="cus.allocationtime"></span></div>
                        </div>
                    </div>
                    <div class="filter-foot" @click.stop="handleOpenSureClaimPopup(cus.id,cus.phone,'cus-lis-'+cus.id,0)" v-show="cus.status == 2" style="display:none;">该客户未认领成功，立即认领>></div>
                    <i></i>
                </div>
                <!-- 无更多数据 -->
                <div class="not-more-filter" id="not-more">没有更多数据</div>
            </div>
            <!-- 空页面 -->
            <empty-con :is-show="customerList1.length === 0" txt="暂无你查找的客户"></empty-con>
        </div>
        <div v-show="!isShowChannelAllotList" style="display:none;">
            <div class="filter-lists" v-show="customerList2 && customerList2.length > 0" style="display:none;" v-cloak>
                <div class="filter-lis" v-for="cus in customerList2" :key="cus.id" :id="'cus-lis-'+cus.id" @click.stop="skipCustomerDetail(cus.id,cus.phone,'cus-lis-'+cus.id,cus.status,1)">
                    <div class="filter-lt flex-wrap flex-between">
                        <div class="flex-wrap filter-lcap">
                            <span class="cname w-elli" v-text="cus.name"></span>
                            <!-- 待跟进   已认领   已退回渠道 -->
                            <span class="rela-state" v-show="cus.status == 3" style="display:none;" :class="[cus.status == 3?'red-bg':'']">待跟进</span>
                        </div>
                        <div class="cphone" @click.stop="handleSkipFollow(cus.id,cus.phone,'cus-lis-'+cus.id,cus.status,1)">去跟进</div>
                    </div>
                    <div class="filter-lb">
                        <div class="flex-wrap filter-lb1" style="margin-top:8px;">
                            <div class="lis flex-con flb-cls2">客户编号: <span v-text="cus.id||'无'"></span></div>
                            <div class="lis flex-con flb-cls2">号码归属: <span v-text="cus.attribution||'未知'"></span></div>
                            <div class="lis flex-con flb-cls2">客户类型: <span v-text="cus.estate"></span></div>
                            <div class="lis flex-con flb-cls2">分配时间: <span v-text="cus.allocationtime"></span></div>
                        </div>
                    </div>
                    <div class="filter-foot" @click.stop="handleOpenSureClaimPopup(cus.id,cus.phone,'cus-lis-'+cus.id,1)" v-show="cus.status == 2" style="display:none;">该客户未认领成功，立即认领>></div>
                    <i></i>
                </div>
            </div>
            <!-- 空页面 -->
            <empty-con :is-show="customerList2.length === 0" txt="渠道暂未公开客户"></empty-con>
        </div>
        <input type="hidden" v-model="isLoadSuc">
    </div>
</body>
<script type="text/javascript" src="../../script/lib/api.js"></script>
<script type="text/javascript" src="../../script/lib/jquery_3.1.1.min.js"></script>
<script type="text/javascript" src="../../script/lib/md5.js"></script>
<script type="text/javascript" src="../../script/lib/vue.min.js"></script>
<script type="text/javascript" src="../../script/lib/vue_lazyload.min.js"></script>
<script type="text/javascript" src="../../script/lib/api_ajax.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var clannelFrameV = null;
    apiready = function() {
        // 下拉刷新
        api.setCustomRefreshHeaderInfo({
            bgColor: '#f7f7f7',
            isScale: false,
            loadAnimInterval: 120,
            image: {
                pull: [
                    'widget://image/load-xl-s1.png',
                    'widget://image/load-xl-s2.png',
                ],
                load: [
                    'widget://image/load-xl-1.png',
                    'widget://image/load-xl-2.png',
                    'widget://image/load-xl-3.png',
                    'widget://image/load-xl-4.png',
                    'widget://image/load-xl-5.png',
                    'widget://image/load-xl-6.png',
                    'widget://image/load-xl-7.png',
                    'widget://image/load-xl-8.png',
                    'widget://image/load-xl-9.png',
                    'widget://image/load-xl-10.png',
                    'widget://image/load-xl-11.png',
                    'widget://image/load-xl-12.png'
                ]
            }
        }, function() {
            //下拉刷新被触发，自动进入加载状态，使用 api.refreshHeaderLoadDone() 手动结束加载中状态
            //下拉刷新被触发，使用 api.refreshHeaderLoadDone() 结束加载中状态
            $('#not-more').hide();
            if(clannelFrameV.isShowChannelAllotList){
                clannelFrameV.pageNo = 1;
                clannelFrameV.fetchChannelData1(false, api.refreshHeaderLoadDone);
            }else{
                clannelFrameV.fetchChannelData2(api.refreshHeaderLoadDone);
            }
        });
        // 监听回退
        api.addEventListener({
            name: 'channelResourceSendBackSuccess'
        }, function(ret, err){
            if( ret && ret.value ){
                 var idName = ret.value.idName
                 $('#'+idName).addClass('disabled');
                 $('#'+idName + ' .rela-state').text('已退回渠道').show();
                 $('#'+idName + ' .filter-foot').hide();
                 if(!clannelFrameV.isShowChannelAllotList){
                     clannelFrameV.customerList2 = clannelFrameV.customerList2.map(function(v){
                         if(idName.indexOf(v.id)>-1){
                            v.isBackOrClaim = 1;
                         }
                         return v;
                     });
                     clannelFrameV.fnCalcAllFinish();
                 }
            }
        });
        // 监听认领
        api.addEventListener({
            name: 'channelResourceClaimSuccess'
        }, function(ret, err){
            if( ret && ret.value ){
                 var idName = ret.value.idName
                 $('#'+idName).addClass('disabled');
                 $('#'+idName + ' .rela-state').text('已认领').show();
                 $('#'+idName + ' .filter-foot').hide();
                 if(!clannelFrameV.isShowChannelAllotList){
                     clannelFrameV.customerList2 = clannelFrameV.customerList2.map(function(v){
                         if(idName.indexOf(v.id)>-1){
                            v.isBackOrClaim = 1;
                         }
                         return v;
                     });
                     clannelFrameV.fnCalcAllFinish();
                 }
            }
        });
        // 监听待跟进的跟进成功
        api.addEventListener({
            name: 'channelResourceFollowSuc'
        }, function(ret, err){
            if( ret && ret.value ){
                 var idName = ret.value.idName
                 $('#'+idName).addClass('disabled');
                 $('#'+idName + ' .rela-state').text('已跟进').show();
                 $('#'+idName + ' .filter-foot').hide();
                 if(!clannelFrameV.isShowChannelAllotList){
                     clannelFrameV.customerList2 = clannelFrameV.customerList2.map(function(v){
                         if(idName.indexOf(v.id)>-1){
                            v.isBackOrClaim = 1;
                         }
                         return v;
                     });
                     clannelFrameV.fnCalcAllFinish();
                 }
            }
        });

        // 筛选客户状态
        api.addEventListener({
            name: 'filterChannelResource'
        }, function(ret, err){
            var obj = ret.value;
            if(obj){
                console.log(JSON.stringify(obj))
                if(typeof obj.status != 'undefined'){
                    clannelFrameV.currStatus = obj.status;
                }
                if(typeof obj.startDate != 'undefined'){
                    clannelFrameV.startDate = obj.startDate;
                }
                if(typeof obj.endDate != 'undefined'){
                    clannelFrameV.endDate = obj.endDate;
                }
                if(typeof obj.currChannelOrigin != 'undefined'){
                    clannelFrameV.currChannelOrigin = obj.currChannelOrigin;
                }
                if(typeof obj.home != 'undefined'){
                    clannelFrameV.currHome = obj.home;
                }
                if(typeof obj.sort != 'undefined'){
                    clannelFrameV.currSort = obj.sort;
                }
                $('#not-more').hide();
                clannelFrameV.pageNo = 1;
                clannelFrameV.fetchChannelData1();
            }
        });
        // 上拉加载更多
        api.addEventListener({
            name: 'scrolltobottom'
        }, function(ret, err) {
            if (clannelFrameV.isShowChannelAllotList) {
                if(++clannelFrameV.pageNo <= clannelFrameV.totalPage){
                    clannelFrameV.fetchChannelData1(true);
                }else{
                    $('#not-more').show();
                }
            }
        });
        // // 跟进成功
        // api.addEventListener({
        //     name: 'followRecordSuccessRefresh'
        // }, function(ret, err){
        //     clannelFrameV.pageNo = 1;
        //     clannelFrameV.fetchChannelData();
        // });
        var count = 1;
        // 获取切换分配
        api.addEventListener({
            name: 'switchChannelCaptionTxt'
        }, function(ret, err){
            if(ret && ret.value){
                var name = ret.value.txt;
                name === '渠道分配' ? clannelFrameV.isShowChannelAllotList = true : clannelFrameV.isShowChannelAllotList = false;
                if(name === '系统分配'){
                    if(count === 1){
                        clannelFrameV.fetchChannelData2();
                    }
                    count++;
                }
            }
        });
        var param = api.pageParam;
        // ios 监听键盘弹出
        api.addEventListener({
            name: 'keyboardshow'
        }, function(ret, err){
            clannelFrameV.isKeybordshow = true;
        });
        console.log(JSON.stringify(param))
        clannelFrameV = new Vue({
            el: '#wrap',
            data: {
                // 筛选条件
                search_cusName: '', // 搜索客户名
                currChannelOrigin:'',

                currStatus:'',
                currHome:'',
                currSort:0,
                startDate:'',
                endDate:'',

                customerList1: [], //客户来源列表  渠道分配
                customerList2: [], //客户来源列表  系统分配
                pageNo: 1,
                totalPage: 1,
                userInfo: {},
                isKeybordshow:false,
                isShowChannelAllotList:true,
                isLoadFinish1:false,
                isLoadFinish2:false
            },
            mounted: function() {
                this.init();
                if(param.isExistChannelList && param.isExistSystemList){
                    this.isShowChannelAllotList = true;
                }else{
                    if(param.isExistChannelList){
                        this.isShowChannelAllotList = true;
                        this.isLoadFinish2 = true;
                    }
                    if(param.isExistSystemList || (!param.isExistSystemList && !param.isExistChannelList)){
                        this.isShowChannelAllotList = false;
                        this.isLoadFinish1 = true;
                    }
                }
                if(param.isExistChannelList && param.isExistSystemList){
                    this.isLoadFinish2 = true;
                    this.fetchChannelData1();
                }else{
                    if(param.isExistChannelList){
                        this.fetchChannelData1();
                    }
                    if(param.isExistSystemList || (!param.isExistSystemList && !param.isExistChannelList)){
                        this.fetchChannelData2();
                    }
                }
            },
            computed:{
                isLoadSuc:function(){
                    if(this.isLoadFinish1 && this.isLoadFinish2){
                        wDialog.hideProgress();
                    }
                    return '';
                }
            },
            methods: {
                init:function(){
                    this.userInfo = wPref.getPrefs({
                        key: 'userInfo'
                    });
                    this.userInfo = this.userInfo ? JSON.parse(this.userInfo) : {};
                    this.currChannelOrigin = param.currChannelOrigin;
                    this.startDate = param.startDate;
                    this.endDate = param.endDate;
                },
                handleBlur:function(){
                    if(api.systemType === 'ios' && this.isKeybordshow){
                        this.isKeybordshow = false;
                        api.execScript({
                            name: 'clannelHeader',
                            script: 'fnBlur();'
                        });
                    }
                },
                // 获取渠道分配列表
                fetchChannelData1: function(isLoadMore, callback) {
                    isLoadMore = typeof isLoadMore === 'undefined' || isLoadMore == false ? false : true;
                    var _this = this;
                    _this.isLoadFinish1 = false;
                    wDialog.showProgress();
                    console.log('new customer frame request----'+JSON.stringify({
                        employeeid: _this.userInfo.employeeid,
                        cusNameOrCrmOrPhone:_this.search_cusName,
                        cusSource:_this.currChannelOrigin,
                        cusStatus:_this.currStatus,
                        attributionid:_this.currHome,
                        startTime:_this.startDate,
                        endTime:_this.endDate,
                        sort:_this.currSort,
                        pageNo:_this.pageNo,
                        pageSize:10
                    }));
                    wApiAjax({
                        url:'newResource/chalResList/chalAllot',
                        headers:{
                            token:TOKEN_DATA
                        },
                        data:{
                            employeeid: _this.userInfo.employeeid,
                            cusNameOrCrmOrPhone:_this.search_cusName,
                            cusSource:_this.currChannelOrigin,
                            cusStatus:_this.currStatus,
                            attributionid:_this.currHome,
                            startTime:_this.startDate,
                            endTime:_this.endDate,
                            sort:_this.currSort,
                            pageNo:_this.pageNo,
                            pageSize:10
                        },
                        success:function(res){
                            console.log(JSON.stringify(res))
                            _this.isLoadFinish1 = true;
                            if(res.code == 1){
                                _this.totalPage = Math.ceil(res.count / 10);
                                if(!isLoadMore){
                                    $('.filter-lis').removeClass('disabled');
                                    _this.customerList1 = res.data || [];
                                }else{
                                    _this.customerList1 = _this.customerList1.concat(res.data||[]);
                                }
                            }
                            callback && typeof callback === 'function' && callback();
                        },
                        fail:function(){
                            _this.isLoadFinish1 = true;
                            callback && typeof callback === 'function' && callback();
                        }
                    })
                },
                // 获取系统分配列表
                fetchChannelData2: function(callback) {
                    this.isLoadFinish2 = true;
                    // var _this = this;
                    // _this.isLoadFinish2 = false;
                    // wDialog.showProgress();
                    // console.log('-------------------------------')
                    // wApiAjax({
                    //     url:'newResource/chalResList/sysAllot',
                    //     headers:{
                    //         token:TOKEN_DATA
                    //     },
                    //     success:function(res){
                    //         console.log(JSON.stringify(res))
                    //         _this.isLoadFinish2 = true;
                    //         if(res.code == 1){
                    //             _this.customerList2 = res.data || [];
                    //         }else{
                    //             wDialog.toast({
                    //                 msg:res.msg
                    //             })
                    //         }
                    //         callback && typeof callback === 'function' && callback();
                    //     },
                    //     fail:function(){
                    //         _this.isLoadFinish2 = true;
                    //         callback && typeof callback === 'function' && callback();
                    //     }
                    // })
                },
                fnCalcAllFinish:function(){
                    console.log(JSON.stringify(this.customerList2))
                    var isAllBackOrClaim = this.customerList2.every(function(v){
                        return v.isBackOrClaim;
                    });
                    if(isAllBackOrClaim){
                        console.log('innnnnnnnnnnnnnnnnnnn')
                        this.fetchChannelData2();
                    }
                },
                // 弹出确认认领弹窗
                handleOpenSureClaimPopup:function(id,phone,idName,way){
                    wHrefJs.openFrame({
                        name:'claimSurePopup',
                        url:'../newfollow/claim_sure_popup.html',
                        bgColor:'rgba(0,0,0,0)',
                        param:{
                            id:id,
                            phone:phone,
                            isWork:2,
                            idName:idName,
                            origin:'channelResourceAllot',
                            openRela:'channelResourceList',
                            way:way
                        }
                    })
                },
                // 跳转到详情
                skipCustomerDetail: function(id,phone,idName,status,way) {
                    $('#'+idName).addClass('curr').siblings().removeClass('curr');
                    wHrefJs.openWin({
                        name: 'customerDetail',
                        path: '../customer/customer_detail.html',
                        param: {
                            cusId: id,
                            cusPhone:phone,
                            isWork:2,
                            idName:idName,
                            origin:'channelResourceAllot',
                            status:status,
                            way:way
                        }
                    })
                },
                // 跳转到跟进记录
                handleSkipFollow:function(id,phone,idName,status,way){
                    $('#'+idName).addClass('curr').siblings().removeClass('curr');
                    api.openWin({
                        name: 'followRecord',
                        url: '../follow/follow_record.html',
                        pageParam: {
                            id:id,
                            phone:phone,
                            isWork:2,
                            idName:idName,
                            origin:'channelResourceAllot',
                            status:status,
                            way:way
                        },
                        slidBackEnabled: false
                    });
                }
            }
        });
    }

    // 获取搜索的内容
    function getSearchValue(val){
        clannelFrameV.search_cusName = val;
        clannelFrameV.pageNo = 1;
        clannelFrameV.fetchChannelData1();
    }
    // 清空搜索的内容
    function clearSearchValue(){
        clannelFrameV.search_cusName = '';
    }
</script>

</html>
